src/pug/includes/ayuda-preguntas.pug
.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Preguntas Frecuentes
section.ayuda
    .container
        .collection
            .collection--list        
                a.collection--item(href="#!")
                    .detalle
                        p.titulo ¿Puedo encontrar los beneficios en algún otro lugar?
                    img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                a.collection--item(href="#!")
                    .detalle
                        p.titulo Vi un beneficio que me interesa en la AFP, ¿qué debo hacer para acceder a él?
                    img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                a.collection--item(href="#!")
                    .detalle
                        p.titulo Cree un vale de beneficio pero ya quiero usarlo, ¿qué debo hacer?
                    img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                a.collection--item(href="#!")
                    .detalle
                        p.titulo ¿Tengo que ser el titular de la línea móvil para poder acceder a beneficios Prix?
                    img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                a.collection--item(href="#!")
                    .detalle
                        p.titulo ¿Cómo me identifico como titular de un servicio Movistar Hogar?
                    img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                a.collection--item(href="#!")
                    .detalle
                        p.titulo ¿A qué nivel accedo si otro es el titular de mi línea móvil?
                    img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
.navbar--quick.navbar--fixed
    .container
        .navbar--quick-wrapper.row
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons(href="#")
                        span.icons--change
                            img.icon--inicio-color.icon--grey(src=iconSVG+'inicio-color.svg', alt="")
                            img.icon--inicio-color.icon--blue(src=iconSVG+'inicio-color-active.svg', alt="")
                        span.texto Inicio
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons(href="#")
                        span.icons--change
                            img.icon--mis-vales.icon--grey(src=iconSVG+'mis-vales.svg', alt="")
                            img.icon--mis-vales.icon--blue(src=iconSVG+'mis-vales-active.svg', alt="")
                        span.texto Mis vales
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons.active(href="#")
                        span.icons--change
                            img.icon--ayuda.icon--grey(src=iconSVG+'ayuda.svg', alt="")
                            img.icon--ayuda.icon--blue(src=iconSVG+'ayuda-active.svg', alt="")
                        span.texto Ayuda
            .col--links
                .col--links-box
                    a.nav--link.active(href="#")
                        span.nav--link-gema
                            img.icon--gema.icon--grey-gema(src="images/svg/icon-gema-disable.svg", alt="")
                            img.icon--gema.icon--blue-gema(src="images/svg/icon-gema.svg", alt="")

site/ayuda-preguntas.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <div class="navbar--secondary">
                <div class="container"><a class="navbar--secondary-return" href="#"><span class="icon">
                            <svg>
                                <use xlink:href="images/icons/icons.svg#icon-back"></use>
                            </svg></span></a>
                    <h2 class="titulo">Preguntas Frecuentes</h2>
                </div>
            </div>
            <section class="ayuda">
                <div class="container">
                    <div class="collection">
                        <div class="collection--list">       <a class="collection--item" href="#!">
                                <div class="detalle">
                                    <p class="titulo">¿Puedo encontrar los beneficios en algún otro lugar?</p>
                                </div><img class="icon" src="images/svg/icon-arrow-collapse.svg" alt=""></a><a class="collection--item" href="#!">
                                <div class="detalle">
                                    <p class="titulo">Vi un beneficio que me interesa en la AFP, ¿qué debo hacer para acceder a él?</p>
                                </div><img class="icon" src="images/svg/icon-arrow-collapse.svg" alt=""></a><a class="collection--item" href="#!">
                                <div class="detalle">
                                    <p class="titulo">Cree un vale de beneficio pero ya quiero usarlo, ¿qué debo hacer?</p>
                                </div><img class="icon" src="images/svg/icon-arrow-collapse.svg" alt=""></a><a class="collection--item" href="#!">
                                <div class="detalle">
                                    <p class="titulo">¿Tengo que ser el titular de la línea móvil para poder acceder a beneficios Prix?</p>
                                </div><img class="icon" src="images/svg/icon-arrow-collapse.svg" alt=""></a><a class="collection--item" href="#!">
                                <div class="detalle">
                                    <p class="titulo">¿Cómo me identifico como titular de un servicio Movistar Hogar?</p>
                                </div><img class="icon" src="images/svg/icon-arrow-collapse.svg" alt=""></a><a class="collection--item" href="#!">
                                <div class="detalle">
                                    <p class="titulo">¿A qué nivel accedo si otro es el titular de mi línea móvil?</p>
                                </div><img class="icon" src="images/svg/icon-arrow-collapse.svg" alt=""></a></div>
                    </div>
                </div>
            </section>
            <div class="navbar--quick navbar--fixed">
                <div class="container">
                    <div class="navbar--quick-wrapper row">
                        <div class="col--links">
                            <div class="col--links-box"><a class="nav--link nav--link-icons" href="#"><span class="icons--change"><img class="icon--inicio-color icon--grey" src="images/svg/icon-inicio-color.svg" alt=""><img class="icon--inicio-color icon--blue" src="images/svg/icon-inicio-color-active.svg" alt=""></span><span class="texto">Inicio</span></a></div>
                        </div>
                        <div class="col--links">
                            <div class="col--links-box"><a class="nav--link nav--link-icons" href="#"><span class="icons--change"><img class="icon--mis-vales icon--grey" src="images/svg/icon-mis-vales.svg" alt=""><img class="icon--mis-vales icon--blue" src="images/svg/icon-mis-vales-active.svg" alt=""></span><span class="texto">Mis vales</span></a></div>
                        </div>
                        <div class="col--links">
                            <div class="col--links-box"><a class="nav--link nav--link-icons active" href="#"><span class="icons--change"><img class="icon--ayuda icon--grey" src="images/svg/icon-ayuda.svg" alt=""><img class="icon--ayuda icon--blue" src="images/svg/icon-ayuda-active.svg" alt=""></span><span class="texto">Ayuda</span></a></div>
                        </div>
                        <div class="col--links">
                            <div class="col--links-box"><a class="nav--link active" href="#"><span class="nav--link-gema"><img class="icon--gema icon--grey-gema" src="images/svg/icon-gema-disable.svg" alt=""><img class="icon--gema icon--blue-gema" src="images/svg/icon-gema.svg" alt=""></span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>
