src/pug/includes/ayuda.pug
.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Ayuda
        ul.navbar--secondary-icons
            li.nav--item
                a.nav--link(href="#")
                    img.icon--perfil(src="images/svg/icon-message-open.svg", alt="")
                    span.badge.badge--purple 8
            li.nav--item
                a.nav--link(href="#")
                    img.icon--search(src="images/svg/icon-search.svg", alt="")
section.ayuda
    .container
        .collection
            .collection--list        
                a.collection--item(href="#!")
                    .detalle
                        p.titulo ¿Qué es Movistar Prix?
                    img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                a.collection--item(href="#!")
                    .detalle
                        p.titulo ¿Qué son las Zonas?
                    img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                a.collection--item(href="#!")
                    .detalle
                        p.titulo ¿En qué Zona estoy?
                    img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                a.collection--item(href="#!")
                    .detalle
                        p.titulo ¿Cómo subir a Zona Movistar Total?
                    img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                a.collection--item(href="#!")
                    .detalle
                        p.titulo Más preguntas frecuentes
                    img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
    .ayuda--box__collection
        .collection
            .container
                .collection--list        
                    a.collection--item(href="#!")
                        .detalle
                            p.titulo ¿Tienes algún problema?
                            span.descripcion Envíanos un mensaje
                        img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
        .collection
            .container
                .collection--list        
                    a.collection--item(href="#!")
                        .detalle
                            p.titulo Sugerencias
                            span.descripcion Danos tu opinión
                        img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
.navbar--quick.navbar--fixed
    .container
        .navbar--quick-wrapper.row
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons(href="#")
                        span.icons--change
                            img.icon--inicio-color.icon--grey(src=iconSVG+'inicio-color.svg', alt="")
                            img.icon--inicio-color.icon--blue(src=iconSVG+'inicio-color-active.svg', alt="")
                        span.texto Inicio
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons(href="#")
                        span.icons--change
                            img.icon--mis-vales.icon--grey(src=iconSVG+'mis-vales.svg', alt="")
                            img.icon--mis-vales.icon--blue(src=iconSVG+'mis-vales-active.svg', alt="")
                        span.texto Mis vales
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons.active(href="#")
                        span.icons--change
                            img.icon--ayuda.icon--grey(src=iconSVG+'ayuda.svg', alt="")
                            img.icon--ayuda.icon--blue(src=iconSVG+'ayuda-active.svg', alt="")
                        span.texto Ayuda
            .col--links
                .col--links-box
                    a.nav--link.active(href="#")
                        span.nav--link-gema
                            img.icon--gema.icon--grey-gema(src="images/svg/icon-gema-disable.svg", alt="")
                            img.icon--gema.icon--blue-gema(src="images/svg/icon-gema.svg", alt="")

site/ayuda.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <div class="navbar--secondary">
                <div class="container"><a class="navbar--secondary-return" href="#"><span class="icon">
                            <svg>
                                <use xlink:href="images/icons/icons.svg#icon-back"></use>
                            </svg></span></a>
                    <h2 class="titulo">Ayuda</h2>
                    <ul class="navbar--secondary-icons">
                        <li class="nav--item"><a class="nav--link" href="#"><img class="icon--perfil" src="images/svg/icon-message-open.svg" alt=""><span class="badge badge--purple">8</span></a></li>
                        <li class="nav--item"><a class="nav--link" href="#"><img class="icon--search" src="images/svg/icon-search.svg" alt=""></a></li>
                    </ul>
                </div>
            </div>
            <section class="ayuda">
                <div class="container">
                    <div class="collection">
                        <div class="collection--list">       <a class="collection--item" href="#!">
                                <div class="detalle">
                                    <p class="titulo">¿Qué es Movistar Prix?</p>
                                </div><img class="icon" src="images/svg/icon-arrow-collapse.svg" alt=""></a><a class="collection--item" href="#!">
                                <div class="detalle">
                                    <p class="titulo">¿Qué son las Zonas?</p>
                                </div><img class="icon" src="images/svg/icon-arrow-collapse.svg" alt=""></a><a class="collection--item" href="#!">
                                <div class="detalle">
                                    <p class="titulo">¿En qué Zona estoy?</p>
                                </div><img class="icon" src="images/svg/icon-arrow-collapse.svg" alt=""></a><a class="collection--item" href="#!">
                                <div class="detalle">
                                    <p class="titulo">¿Cómo subir a Zona Movistar Total?</p>
                                </div><img class="icon" src="images/svg/icon-arrow-collapse.svg" alt=""></a><a class="collection--item" href="#!">
                                <div class="detalle">
                                    <p class="titulo">Más preguntas frecuentes</p>
                                </div><img class="icon" src="images/svg/icon-arrow-collapse.svg" alt=""></a></div>
                    </div>
                </div>
                <div class="ayuda--box__collection">
                    <div class="collection">
                        <div class="container">
                            <div class="collection--list">       <a class="collection--item" href="#!">
                                    <div class="detalle">
                                        <p class="titulo">¿Tienes algún problema?</p><span class="descripcion">Envíanos un mensaje</span>
                                    </div><img class="icon" src="images/svg/icon-arrow-collapse.svg" alt=""></a></div>
                        </div>
                    </div>
                    <div class="collection">
                        <div class="container">
                            <div class="collection--list">       <a class="collection--item" href="#!">
                                    <div class="detalle">
                                        <p class="titulo">Sugerencias</p><span class="descripcion">Danos tu opinión</span>
                                    </div><img class="icon" src="images/svg/icon-arrow-collapse.svg" alt=""></a></div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="navbar--quick navbar--fixed">
                <div class="container">
                    <div class="navbar--quick-wrapper row">
                        <div class="col--links">
                            <div class="col--links-box"><a class="nav--link nav--link-icons" href="#"><span class="icons--change"><img class="icon--inicio-color icon--grey" src="images/svg/icon-inicio-color.svg" alt=""><img class="icon--inicio-color icon--blue" src="images/svg/icon-inicio-color-active.svg" alt=""></span><span class="texto">Inicio</span></a></div>
                        </div>
                        <div class="col--links">
                            <div class="col--links-box"><a class="nav--link nav--link-icons" href="#"><span class="icons--change"><img class="icon--mis-vales icon--grey" src="images/svg/icon-mis-vales.svg" alt=""><img class="icon--mis-vales icon--blue" src="images/svg/icon-mis-vales-active.svg" alt=""></span><span class="texto">Mis vales</span></a></div>
                        </div>
                        <div class="col--links">
                            <div class="col--links-box"><a class="nav--link nav--link-icons active" href="#"><span class="icons--change"><img class="icon--ayuda icon--grey" src="images/svg/icon-ayuda.svg" alt=""><img class="icon--ayuda icon--blue" src="images/svg/icon-ayuda-active.svg" alt=""></span><span class="texto">Ayuda</span></a></div>
                        </div>
                        <div class="col--links">
                            <div class="col--links-box"><a class="nav--link active" href="#"><span class="nav--link-gema"><img class="icon--gema icon--grey-gema" src="images/svg/icon-gema-disable.svg" alt=""><img class="icon--gema icon--blue-gema" src="images/svg/icon-gema.svg" alt=""></span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>
