src/pug/includes/ayuda-sugerencia-modal.pug
.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Sugerencias
section.ayuda--form
    .container
        h2.titulo ¿Sobre qué quieres comentar?
        p.descripcion Queremos saber qué es lo que te gusta y en qué podríamos mejorar.
        form.form(action="")            
            .form--group
                .form--box
                    input.form--control#email(type="email", name="email", value="gloria@email.com" required="")
                    label.control--label(for="email") Ingresa tu correo
                    span.bar
            .form--group
                .form--box
                    textarea.form--control(name="comment", rows="1", required="") Brindar beneficios diarios.
                    label.control--label(for="comment") Coméntanos más
                    span.bar
            .btn--float__second.pos--fixed
                .container
                    .btn--float-box
                        button.btn.btn--default.btn--uppercase(type="submit") Enviar

.navbar--quick.navbar--fixed
    .container
        .navbar--quick-wrapper.row
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons(href="#")
                        span.icons--change
                            img.icon--inicio-color.icon--grey(src=iconSVG+'inicio-color.svg', alt="")
                            img.icon--inicio-color.icon--blue(src=iconSVG+'inicio-color-active.svg', alt="")
                        span.texto Inicio
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons(href="#")
                        span.icons--change
                            img.icon--mis-vales.icon--grey(src=iconSVG+'mis-vales.svg', alt="")
                            img.icon--mis-vales.icon--blue(src=iconSVG+'mis-vales-active.svg', alt="")
                        span.texto Mis vales
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons.active(href="#")
                        span.icons--change
                            img.icon--ayuda.icon--grey(src=iconSVG+'ayuda.svg', alt="")
                            img.icon--ayuda.icon--blue(src=iconSVG+'ayuda-active.svg', alt="")
                        span.texto Ayuda
            .col--links
                .col--links-box
                    a.nav--link.active(href="#")
                        span.nav--link-gema
                            img.icon--gema.icon--grey-gema(src="images/svg/icon-gema-disable.svg", alt="")
                            img.icon--gema.icon--blue-gema(src="images/svg/icon-gema.svg", alt="")
.modal
    .modal--dialog.modal--xs.modal--center
        .modal--content
            .modal--head.no--padding
                img.modal--icon(src=iconSVG+"like-servicio.svg", alt="")
                button.modal--close(type="button")
                    img(src=iconSVG+"close.svg", alt="")
            .modal--body
                h2.titulo ¡Gracias! Tu opinión es #[br] valiosa
                .descripcion
                    p Tomaremos en cuenta tu calificación y comentarios para mejorar la APP.
            .modal--footer
                .modal--buttons
                    button.btn.btn--default.btn--uppercase(type="button") Entendido
.backdrop

site/ayuda-sugerencia-modal.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <div class="navbar--secondary">
                <div class="container"><a class="navbar--secondary-return" href="#"><span class="icon">
                            <svg>
                                <use xlink:href="images/icons/icons.svg#icon-back"></use>
                            </svg></span></a>
                    <h2 class="titulo">Sugerencias</h2>
                </div>
            </div>
            <section class="ayuda--form">
                <div class="container">
                    <h2 class="titulo">¿Sobre qué quieres comentar?</h2>
                    <p class="descripcion">Queremos saber qué es lo que te gusta y en qué podríamos mejorar.</p>
                    <form class="form" action="">           
                        <div class="form--group">
                            <div class="form--box">
                                <input class="form--control" id="email" type="email" name="email" value="gloria@email.com" required="">
                                <label class="control--label" for="email">Ingresa tu correo</label><span class="bar"></span>
                            </div>
                        </div>
                        <div class="form--group">
                            <div class="form--box">
                                <textarea class="form--control" name="comment" rows="1" required="">Brindar beneficios diarios.</textarea>
                                <label class="control--label" for="comment">Coméntanos más</label><span class="bar"></span>
                            </div>
                        </div>
                        <div class="btn--float__second pos--fixed">
                            <div class="container">
                                <div class="btn--float-box">
                                    <button class="btn btn--default btn--uppercase" type="submit">Enviar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
            <div class="navbar--quick navbar--fixed">
                <div class="container">
                    <div class="navbar--quick-wrapper row">
                        <div class="col--links">
                            <div class="col--links-box"><a class="nav--link nav--link-icons" href="#"><span class="icons--change"><img class="icon--inicio-color icon--grey" src="images/svg/icon-inicio-color.svg" alt=""><img class="icon--inicio-color icon--blue" src="images/svg/icon-inicio-color-active.svg" alt=""></span><span class="texto">Inicio</span></a></div>
                        </div>
                        <div class="col--links">
                            <div class="col--links-box"><a class="nav--link nav--link-icons" href="#"><span class="icons--change"><img class="icon--mis-vales icon--grey" src="images/svg/icon-mis-vales.svg" alt=""><img class="icon--mis-vales icon--blue" src="images/svg/icon-mis-vales-active.svg" alt=""></span><span class="texto">Mis vales</span></a></div>
                        </div>
                        <div class="col--links">
                            <div class="col--links-box"><a class="nav--link nav--link-icons active" href="#"><span class="icons--change"><img class="icon--ayuda icon--grey" src="images/svg/icon-ayuda.svg" alt=""><img class="icon--ayuda icon--blue" src="images/svg/icon-ayuda-active.svg" alt=""></span><span class="texto">Ayuda</span></a></div>
                        </div>
                        <div class="col--links">
                            <div class="col--links-box"><a class="nav--link active" href="#"><span class="nav--link-gema"><img class="icon--gema icon--grey-gema" src="images/svg/icon-gema-disable.svg" alt=""><img class="icon--gema icon--blue-gema" src="images/svg/icon-gema.svg" alt=""></span></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal">
                <div class="modal--dialog modal--xs modal--center">
                    <div class="modal--content">
                        <div class="modal--head no--padding"><img class="modal--icon" src="images/svg/icon-like-servicio.svg" alt="">
                            <button class="modal--close" type="button"><img src="images/svg/icon-close.svg" alt=""></button>
                        </div>
                        <div class="modal--body">
                            <h2 class="titulo">¡Gracias! Tu opinión es <br> valiosa</h2>
                            <div class="descripcion">
                                <p>Tomaremos en cuenta tu calificación y comentarios para mejorar la APP.</p>
                            </div>
                        </div>
                        <div class="modal--footer">
                            <div class="modal--buttons">
                                <button class="btn btn--default btn--uppercase" type="button">Entendido</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="backdrop"></div>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>
