site/beneficio-11.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <div class="navbar--secondary">
                <div class="container"><a class="navbar--secondary-return" href="#"><span class="icon">
                            <svg>
                                <use xlink:href="images/icons/icons.svg#icon-back"></use>
                            </svg></span></a>
                    <h2 class="titulo">Transporte y viajes</h2>
                </div>
            </div>
            <div class="servicio--mejorar">
                <div class="container">
                    <div class="servicio--mejorar-form">
                        <form class="form" action="">
                            <h2 class="titulo">¿Cómo estuvo este beneficio?</h2>
                            <div class="form--rating">
                                <div class="rating-box">
                                    <input class="rating--input" id="star5" type="radio" value="2" name="rating">
                                    <label class="rating--stars" for="star5"><img class="star-disable" src="images/svg/icon-star-1.svg" alt=""><img class="star-active" src="images/svg/icon-star-2.svg" alt=""></label>
                                    <input class="rating--input" id="star4" type="radio" value="2" name="rating">
                                    <label class="rating--stars" for="star4"><img class="star-disable" src="images/svg/icon-star-1.svg" alt=""><img class="star-active" src="images/svg/icon-star-2.svg" alt=""></label>
                                    <input class="rating--input" id="star3" type="radio" value="2" name="rating">
                                    <label class="rating--stars" for="star3"><img class="star-disable" src="images/svg/icon-star-1.svg" alt=""><img class="star-active" src="images/svg/icon-star-2.svg" alt=""></label>
                                    <input class="rating--input" id="star2" type="radio" value="2" name="rating">
                                    <label class="rating--stars" for="star2"><img class="star-disable" src="images/svg/icon-star-1.svg" alt=""><img class="star-active" src="images/svg/icon-star-2.svg" alt=""></label>
                                    <input class="rating--input" id="star1" type="radio" value="1" checked="checked" name="rating">
                                    <label class="rating--stars" for="star1"><img class="star-disable" src="images/svg/icon-star-1.svg" alt=""><img class="star-active" src="images/svg/icon-star-2.svg" alt=""></label>
                                </div>
                            </div>
                            <div class="mejorar--link-promo"><a href="#">Aún no he utilizado la promoción</a></div>
                            <div class="mejorar--form-list">
                                <h2 class="titulo">¿Qué podemos mejorar?</h2>
                                <div class="form--list-check">
                                    <div class="form--checkbox checkbox-right">
                                        <label>
                                            <input class="checkbox--input" type="checkbox"><span class="checkbox--checked"></span>Servicio
                                        </label>
                                    </div>
                                </div>
                                <div class="form--list-check">
                                    <div class="form--checkbox checkbox-right">
                                        <label>
                                            <input class="checkbox--input" type="checkbox" checked><span class="checkbox--checked"></span>Atención
                                        </label>
                                    </div>
                                </div>
                                <div class="form--list-check">
                                    <div class="form--checkbox checkbox-right">
                                        <label>
                                            <input class="checkbox--input" type="checkbox"><span class="checkbox--checked"></span>Rápidez
                                        </label>
                                    </div>
                                </div>
                                <div class="form--list-check">
                                    <div class="form--checkbox checkbox-right">
                                        <label>
                                            <input class="checkbox--input" type="checkbox"><span class="checkbox--checked"></span>Trato
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form--group">
                                <textarea class="form--control" name="comment" rows="2" required=""></textarea>
                                <label class="control--label" for="comment">Déjanos tu comentario</label><span class="bar"></span>
                            </div>
                            <div class="btn--float pos--fixed">
                                <div class="container">
                                    <div class="btn--float-box">
                                        <button class="btn btn--default" type="submit">Finalizar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal">
                <div class="modal--dialog modal--xs modal--center">
                    <div class="modal--content">
                        <div class="modal--head no--padding"><img class="modal--icon" src="images/svg/icon-beneficio.svg" alt="">
                            <button class="modal--close" type="button"><img src="images/svg/icon-close.svg" alt=""></button>
                        </div>
                        <div class="modal--body">
                            <h2 class="titulo">¡Gracias! Tu opinión es <br> valiosa</h2>
                            <div class="descripcion">
                                <p>Tomaremos en cuenta tu calificación y comentarios para mejorar la APP.</p>
                            </div>
                        </div>
                        <div class="modal--footer">
                            <div class="modal--buttons">
                                <button class="btn btn--default btn--uppercase">Continuar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="backdrop"></div>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>

src/pug/includes/beneficio-11.pug
.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Transporte y viajes
.servicio--mejorar
    .container
        .servicio--mejorar-form
            form.form(action="")
                h2.titulo ¿Cómo estuvo este beneficio?
                .form--rating
                    .rating-box
                        input.rating--input#star5(type="radio", value="2", name="rating")
                        label.rating--stars(for="star5")
                            img.star-disable(src=iconSVG+"star-1.svg", alt="")
                            img.star-active(src=iconSVG+"star-2.svg", alt="")
                        input.rating--input#star4(type="radio", value="2", name="rating")
                        label.rating--stars(for="star4")
                            img.star-disable(src=iconSVG+"star-1.svg", alt="")
                            img.star-active(src=iconSVG+"star-2.svg", alt="")
                        input.rating--input#star3(type="radio", value="2", name="rating")
                        label.rating--stars(for="star3")
                            img.star-disable(src=iconSVG+"star-1.svg", alt="")
                            img.star-active(src=iconSVG+"star-2.svg", alt="")
                        input.rating--input#star2(type="radio", value="2", name="rating")
                        label.rating--stars(for="star2")
                            img.star-disable(src=iconSVG+"star-1.svg", alt="")
                            img.star-active(src=iconSVG+"star-2.svg", alt="")
                        input.rating--input#star1(type="radio", value="1", checked="checked",name="rating")
                        label.rating--stars(for="star1")
                            img.star-disable(src=iconSVG+"star-1.svg", alt="")
                            img.star-active(src=iconSVG+"star-2.svg", alt="")
                .mejorar--link-promo
                    a(href="#") Aún no he utilizado la promoción
                .mejorar--form-list
                    h2.titulo ¿Qué podemos mejorar?
                    .form--list-check
                        .form--checkbox.checkbox-right
                            label
                                input.checkbox--input(type="checkbox")
                                span.checkbox--checked
                                | Servicio
                    .form--list-check
                        .form--checkbox.checkbox-right
                            label
                                input.checkbox--input(type="checkbox", checked)
                                span.checkbox--checked
                                | Atención
                    .form--list-check
                        .form--checkbox.checkbox-right
                            label
                                input.checkbox--input(type="checkbox")
                                span.checkbox--checked
                                | Rápidez
                    .form--list-check
                        .form--checkbox.checkbox-right
                            label
                                input.checkbox--input(type="checkbox")
                                span.checkbox--checked
                                | Trato
                .form--group
                    textarea.form--control(name="comment", rows="2", required="")
                    label.control--label(for="comment") Déjanos tu comentario
                    span.bar
                .btn--float.pos--fixed
                    .container
                        .btn--float-box
                            button.btn.btn--default(type="submit") Finalizar

.modal
    .modal--dialog.modal--xs.modal--center
        .modal--content
            .modal--head.no--padding
                img.modal--icon(src=iconSVG+"beneficio.svg", alt="")
                button.modal--close(type="button")
                    img(src=iconSVG+"close.svg", alt="")
            .modal--body
                h2.titulo ¡Gracias! Tu opinión es #[br] valiosa
                .descripcion
                    p Tomaremos en cuenta tu calificación y comentarios para mejorar la APP.
            .modal--footer
                .modal--buttons
                    button.btn.btn--default.btn--uppercase Continuar
.backdrop
