site/beneficio-8.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <div class="navbar--secondary">
                <div class="container"><a class="navbar--secondary-return" href="#"><span class="icon">
                            <svg>
                                <use xlink:href="images/icons/icons.svg#icon-back"></use>
                            </svg></span></a>
                    <h2 class="titulo">Comida y bebida</h2>
                </div>
            </div>
            <div class="servicio--detalle">
                <div class="portada">
                    <div class="portada--image"><img src="images/fotografia/portada-default.jpg" alt=""></div>
                    <div class="portada--box container">
                        <div class="box--head"><img class="logo" src="images/fotografia/repsol-detalle.png" alt="">
                            <h2 class="titulo">Starbucks</h2>
                        </div>
                        <button class="btn btn--heart"><img class="img-heart" src="images/svg/icon-heart-1.svg" alt=""><img class="img-like" src="images/svg/icon-heart-red.svg" alt=""></button>
                    </div>
                </div>
                <div class="alerta alerta--info">
                    <div class="container">
                        <p class="alerta__descripcion">Este vale expira en: 01:59:45</p>
                    </div>
                </div>
                <div class="servicio--detalle__content">
                    <div class="container">
                        <div class="servicio--panel-codigo-2">
                            <div class="message--media">
                                <div class="message--media-col">
                                    <p class="message--txt">Utiliza este código al momento de la compra</p>
                                </div>
                                <div class="message--media-col"><a class="badge badge--green" href="#">Califica beneficio</a></div>
                            </div>
                            <div class="descripcion">
                                <div class="box--codigo"><span class="codigo-txt">480424733</span>
                                    <div class="codigo-link"><a href="#">Copiar código</a><a href="#">Ir a la página</a></div>
                                </div>
                                <p class="txt--center"><a href="#">¿Tienes algún problema?</a></p>
                                <p class="txt--center"><a href="#">Términos y condiciones</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn--float pos--fixed">
                    <div class="container">
                        <div class="btn--float-box row">
                            <div class="btn--float-col col-left"><a class="btn btn--flat-green" href="#">Cancelar Viaje</a></div>
                            <div class="btn--float-col col-right"><a class="btn btn--default" href="#">Regala</a></div>
                        </div>
                    </div>
                </div>
                <div class="notificacion--codigo copy--blue"><span class="icon">
                        <svg>
                            <use xlink:href="images/icons/icons.svg#icon-check-blue"></use>
                        </svg></span><span class="notificacion-text">Tu código ha sido copiado</span></div>
            </div>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>

src/pug/includes/beneficio-8.pug
.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Comida y bebida
.servicio--detalle
    .portada
        .portada--image
            img(src="images/fotografia/portada-default.jpg", alt="")
        .portada--box.container
            .box--head
                img.logo(src="images/fotografia/repsol-detalle.png", alt="")
                h2.titulo Starbucks
            button.btn.btn--heart
                img.img-heart(src=iconSVG+"heart-1.svg", alt="")
                img.img-like(src=iconSVG+"heart-red.svg", alt="")
    .alerta.alerta--info
        .container
            p.alerta__descripcion Este vale expira en: 01:59:45
    .servicio--detalle__content
        .container
            .servicio--panel-codigo-2
                .message--media
                    .message--media-col
                        p.message--txt Utiliza este código al momento de la compra
                    .message--media-col
                        a.badge.badge--green(href="#") Califica beneficio
                .descripcion
                    .box--codigo
                        span.codigo-txt 480424733
                        .codigo-link
                            a(href="#") Copiar código
                            a(href="#") Ir a la página
                    p.txt--center: a(href="#") ¿Tienes algún problema?
                    p.txt--center: a(href="#") Términos y condiciones
    .btn--float.pos--fixed
        .container
            .btn--float-box.row
                .btn--float-col.col-left
                    a.btn.btn--flat-green(href="#") Cancelar Viaje
                .btn--float-col.col-right
                    a.btn.btn--default(href="#") Regala

    .notificacion--codigo.copy--blue
        span.icon: svg: use(xlink:href=iconPath+'check-blue')
        span.notificacion-text Tu código ha sido copiado
