site/bienvenido.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <nav class="navbar--welcome">
                <div class="container"><a class="navbar--welcome-return" href="#"><span class="icon">
                            <svg>
                                <use xlink:href="images/icons/icons.svg#icon-back-web"></use>
                            </svg></span></a>
                    <h2 class="title">Movistar Prix</h2>
                </div>
            </nav>
            <section class="welcome">
                <div class="container">
                    <div class="icon"><img src="images/svg/icon-welcome.svg" alt=""></div>
                    <h2 class="titulo">¡Ahora desde Mi Movistar puedes acceder a Movistar Prix!</h2>
                    <div class="descripcion">
                        <p>Recuerda que puedes descargar el app para vivir la experiencia completa.</p>
                    </div>
                    <button class="btn btn--default">CONTINUAR</button>
                </div>
            </section>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>

src/pug/includes/bienvenido.pug
nav.navbar--welcome
    .container
        a.navbar--welcome-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back-web')
        h2.title Movistar Prix
section.welcome
    .container
        .icon: img(src="images/svg/icon-welcome.svg", alt="")
        h2.titulo ¡Ahora desde Mi Movistar puedes acceder a Movistar Prix!
        .descripcion
            p Recuerda que puedes descargar el app para vivir la experiencia completa.
        button.btn.btn--default CONTINUAR
    
