site/buscador-1.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <div class="navbar--search">
                <div class="container">
                    <div class="navbar--search-wrapper">
                        <div class="col--left"><a class="nav--link icon--back" href="#"><span class="icon">
                                    <svg>
                                        <use xlink:href="images/icons/icons.svg#icon-back"></use>
                                    </svg></span></a></div>
                        <div class="col--center">
                            <form class="form" action="">
                                <input class="form--control" type="text" placeholder="¿Qué estas buscando?"><span class="icon--cancel icon">
                                    <svg>
                                        <use xlink:href="images/icons/icons.svg#icon-add-detail"></use>
                                    </svg></span>
                            </form>
                        </div>
                        <div class="col--right"><a class="nav--link icon--pin-search" href="#"><span class="icon">
                                    <svg>
                                        <use xlink:href="images/icons/icons.svg#icon-pin-buscador"></use>
                                    </svg></span></a></div>
                    </div>
                </div>
            </div>
            <div class="buscador--wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="titulo">Búsquedas recientes</h2>
                            <div class="buscador--list">
                                <div class="buscador--list-item">
                                    <div class="item-box">
                                        <p>Bembos</p><span class="icon">
                                            <svg>
                                                <use xlink:href="images/icons/icons.svg#icon-left-browser"></use>
                                            </svg></span>
                                    </div>
                                </div>
                                <div class="buscador--list-item">
                                    <div class="item-box">
                                        <p>Tours</p><span class="icon">
                                            <svg>
                                                <use xlink:href="images/icons/icons.svg#icon-left-browser"></use>
                                            </svg></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buscador--view pos--fixed">
                <div class="container"><a class="buscador--view-all" href="#">Ver todo<span class="icon">
                            <svg>
                                <use xlink:href="images/icons/icons.svg#icon-back">    </use>
                            </svg></span></a></div>
            </div>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>

src/pug/includes/buscador-1.pug
.navbar--search
    .container
        .navbar--search-wrapper
            .col--left
                a.nav--link.icon--back(href="#")
                    span.icon: svg: use(xlink:href=iconPath+'back')
            .col--center
                form.form(action="")
                    input.form--control(type="text", placeholder="¿Qué estas buscando?")
                    span.icon--cancel.icon: svg: use(xlink:href=iconPath+'add-detail')
            .col--right
                a.nav--link.icon--pin-search(href="#")
                    span.icon: svg: use(xlink:href=iconPath+'pin-buscador')
.buscador--wrapper
    .container
        .row
            .col-12
                h2.titulo Búsquedas recientes
                .buscador--list
                    .buscador--list-item
                        .item-box
                            p Bembos
                            span.icon: svg: use(xlink:href=iconPath+'left-browser')
                    .buscador--list-item
                        .item-box
                            p Tours
                            span.icon: svg: use(xlink:href=iconPath+'left-browser')
.buscador--view.pos--fixed
    .container
        a.buscador--view-all(href="#") Ver todo
            span.icon: svg: use(xlink:href=iconPath+'back')     
