src/pug/includes/buscador-2.pug
.navbar--search
    .container
        .navbar--search-wrapper
            .col--left
                a.nav--link.icon--back(href="#")
                    span.icon: svg: use(xlink:href=iconPath+'back')
            .col--center
                form.form(action="")
                    input.form--control(type="text", value="frapuccino", placeholder="¿Qué estas buscando?")
                    span.icon--cancel.icon: svg: use(xlink:href=iconPath+'add-detail')
            .col--right
                a.nav--link.icon--pin-search(href="#")
                    span.icon: svg: use(xlink:href=iconPath+'pin-buscador')

.buscador--tabs
    .tab
        ul.tab--nav
            li.tab--nav__item
                a.tab--item__link.active(href="!#") Comida y Bebida
            li.tab--nav__item
                a.tab--item__link(href="!#") Marca
        .tab--content
            .tab--pane.show
                .buscador--cards
                    .item
                        .card
                            a.card--content(href="#")
                                .card--content__portada
                                    img(src="images/fotografia/portada-starbucks.jpg", alt="")
                                .card--content__body
                                    .logo
                                        img(src="images/marcas/starbucks.jpg", alt="")
                                    p.titulo Starbucks
                                    .descripcion
                                        p Moka Capuccino para que te delites en cualquier momento del día
                                .card--content__footer
                                    .descripcion
                                        p 2 x 1
                                            small.text--small Solo en moca capuccino
                                    small.vigencia Vigencia
                                        b 3 días
                    .item
                        .card
                            a.card--content(href="#")
                                .card--content__portada
                                    img(src="images/fotografia/portada-default.jpg", alt="")
                                .card--content__body
                                    .logo
                                        img(src="images/marcas/starbucks.jpg", alt="")
                                    p.titulo Starbucks
                                    .descripcion
                                        p Moka Capuccino para que te delites en cualquier momento del día
                                .card--content__footer
                                    .descripcion
                                        p 2 x 1
                                            small.text--small Solo en moca capuccino
                                    small.vigencia Vigencia
                                        b 3 días
            .tab--pane.hide

site/buscador-2.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <div class="navbar--search">
                <div class="container">
                    <div class="navbar--search-wrapper">
                        <div class="col--left"><a class="nav--link icon--back" href="#"><span class="icon">
                                    <svg>
                                        <use xlink:href="images/icons/icons.svg#icon-back"></use>
                                    </svg></span></a></div>
                        <div class="col--center">
                            <form class="form" action="">
                                <input class="form--control" type="text" value="frapuccino" placeholder="¿Qué estas buscando?"><span class="icon--cancel icon">
                                    <svg>
                                        <use xlink:href="images/icons/icons.svg#icon-add-detail"></use>
                                    </svg></span>
                            </form>
                        </div>
                        <div class="col--right"><a class="nav--link icon--pin-search" href="#"><span class="icon">
                                    <svg>
                                        <use xlink:href="images/icons/icons.svg#icon-pin-buscador"></use>
                                    </svg></span></a></div>
                    </div>
                </div>
            </div>
            <div class="buscador--tabs">
                <div class="tab">
                    <ul class="tab--nav">
                        <li class="tab--nav__item"><a class="tab--item__link active" href="!#">Comida y Bebida</a></li>
                        <li class="tab--nav__item"><a class="tab--item__link" href="!#">Marca</a></li>
                    </ul>
                    <div class="tab--content">
                        <div class="tab--pane show">
                            <div class="buscador--cards">
                                <div class="item">
                                    <div class="card"><a class="card--content" href="#">
                                            <div class="card--content__portada"><img src="images/fotografia/portada-starbucks.jpg" alt=""></div>
                                            <div class="card--content__body">
                                                <div class="logo"><img src="images/marcas/starbucks.jpg" alt=""></div>
                                                <p class="titulo">Starbucks</p>
                                                <div class="descripcion">
                                                    <p>Moka Capuccino para que te delites en cualquier momento del día</p>
                                                </div>
                                            </div>
                                            <div class="card--content__footer">
                                                <div class="descripcion">
                                                    <p>2 x 1<small class="text--small">Solo en moca capuccino</small></p>
                                                </div><small class="vigencia">Vigencia<b>3 días</b></small>
                                            </div></a></div>
                                </div>
                                <div class="item">
                                    <div class="card"><a class="card--content" href="#">
                                            <div class="card--content__portada"><img src="images/fotografia/portada-default.jpg" alt=""></div>
                                            <div class="card--content__body">
                                                <div class="logo"><img src="images/marcas/starbucks.jpg" alt=""></div>
                                                <p class="titulo">Starbucks</p>
                                                <div class="descripcion">
                                                    <p>Moka Capuccino para que te delites en cualquier momento del día</p>
                                                </div>
                                            </div>
                                            <div class="card--content__footer">
                                                <div class="descripcion">
                                                    <p>2 x 1<small class="text--small">Solo en moca capuccino</small></p>
                                                </div><small class="vigencia">Vigencia<b>3 días</b></small>
                                            </div></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab--pane hide"></div>
                    </div>
                </div>
            </div>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>
