src/pug/includes/codigos-3.pug
.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Códigos en oferta
section.codigos--form
    .container
        .codigos--form-content
            p.titulo ¡Introduce tu código y descubre que tenemos preparado para ti!
            .descripcion
                p ¡Puedes ganar beneficios, prixes y otros premios sorpresa!
            form.form(action="")
                .form--group
                    select.form--control#ciudad(name="ciudad")
                        option(value="Lima") Lima
                    label.control--label(for="ciudad") Ciudad
                    span.bar
                .form--group
                    input.form--control#codigo(type="text", name="codigo", required="")
                    label.control--label(for="codigo") Ingresar código
                    span.bar
                .btn--float.pos--fixed
                    .container
                        .btn--float-box
                            button.btn.btn--default(type="submit", disabled) Recibe Premio

site/codigos-3.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <div class="navbar--secondary">
                <div class="container"><a class="navbar--secondary-return" href="#"><span class="icon">
                            <svg>
                                <use xlink:href="images/icons/icons.svg#icon-back"></use>
                            </svg></span></a>
                    <h2 class="titulo">Códigos en oferta</h2>
                </div>
            </div>
            <section class="codigos--form">
                <div class="container">
                    <div class="codigos--form-content">
                        <p class="titulo">¡Introduce tu código y descubre que tenemos preparado para ti!</p>
                        <div class="descripcion">
                            <p>¡Puedes ganar beneficios, prixes y otros premios sorpresa!</p>
                        </div>
                        <form class="form" action="">
                            <div class="form--group">
                                <select class="form--control" id="ciudad" name="ciudad">
                                    <option value="Lima">Lima</option>
                                </select>
                                <label class="control--label" for="ciudad">Ciudad</label><span class="bar"></span>
                            </div>
                            <div class="form--group">
                                <input class="form--control" id="codigo" type="text" name="codigo" required="">
                                <label class="control--label" for="codigo">Ingresar código</label><span class="bar"></span>
                            </div>
                            <div class="btn--float pos--fixed">
                                <div class="container">
                                    <div class="btn--float-box">
                                        <button class="btn btn--default" type="submit" disabled>Recibe Premio</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>
