site/codigos-2.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <nav class="navbar--secondary">
                <div class="container"><a class="navbar--secondary-return" href="#"><span class="icon">
                            <svg>
                                <use xlink:href="images/icons/icons.svg#icon-back"></use>
                            </svg></span></a>
                    <h2 class="titulo">Códigos en oferta</h2>
                </div>
            </nav>
            <section class="servicio--detalle">
                <div class="portada">
                    <div class="portada--image"><img src="images/fotografia/portada-default.jpg" alt=""></div>
                    <div class="portada--box container">
                        <div class="box--head"><img class="logo" src="images/svg/icon-tickets-round.svg" alt="">
                            <h2 class="titulo">Introduce tus <br> códigos</h2>
                        </div>
                    </div>
                </div>
                <div class="servicio--detalle__content">
                    <div class="container">
                        <div class="servicio--media-box">
                            <div class="media media--box-icons">
                                <div class="media--img-icon media--self-start"><img class="img--icon__comida" src="images/svg/icon-beneficio.svg" alt=""></div>
                                <div class="media--body">
                                    <p class="titulo">¡Gana una entrada para el Avant Premiere de Aquaman!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="descripcion">
                            <p>No te pierdas esta gran experiencia y disfruta de todo lo que Movistar Prix tiene para ti. </p>
                            <p><b>¿Qué es lo que tienes que saber?</b></p>
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur ask me.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur ask me.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur ask me.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur ask me.</li>
                            </ul>
                        </div>
                        <div class="collapse--list">
                            <div class="collapse--item"><a class="collapse--action collapse--title" href="#!">
                                    <div class="titulo">Ver términos y condiciones</div><img class="icon" src="images/svg/icon-arrow-collapse.svg" alt=""></a>
                                <div class="collapse--content">
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, neque nisi. Dolore ea vel quam amet optio repudiandae aperiam esse voluptatem. Dicta laboriosam fugiat sit, illo ullam sed nihil ab!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="btn--float pos--fixed">
                <div class="container">
                    <div class="btn--float-box"><a class="btn btn--default" href="#">Participar</a></div>
                </div>
            </div>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>

src/pug/includes/codigos-2.pug
nav.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Códigos en oferta
section.servicio--detalle
    .portada
        .portada--image
            img(src="images/fotografia/portada-default.jpg", alt="")
        .portada--box.container
            .box--head
                img.logo(src=iconSVG+'tickets-round.svg', alt="")
                h2.titulo Introduce tus #[br] códigos
    .servicio--detalle__content
        .container
            .servicio--media-box
                .media.media--box-icons
                    .media--img-icon.media--self-start
                        img.img--icon__comida(src=iconSVG+'beneficio.svg', alt="")
                    .media--body
                        p.titulo ¡Gana una entrada para el Avant Premiere de Aquaman!
        .container
            .descripcion
                p No te pierdas esta gran experiencia y disfruta de todo lo que Movistar Prix tiene para ti. 
                p: b ¿Qué es lo que tienes que saber?
                ul
                    li Lorem ipsum dolor sit amet, consectetur ask me.
                    li Lorem ipsum dolor sit amet, consectetur ask me.
                    li Lorem ipsum dolor sit amet, consectetur ask me.
                    li Lorem ipsum dolor sit amet, consectetur ask me.
            .collapse--list
                .collapse--item
                    a.collapse--action.collapse--title(href="#!")
                        .titulo Ver términos y condiciones
                        img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                    .collapse--content
                        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, neque nisi. Dolore ea vel quam amet optio repudiandae aperiam esse voluptatem. Dicta laboriosam fugiat sit, illo ullam sed nihil ab!

.btn--float.pos--fixed
    .container
        .btn--float-box
            a.btn.btn--default(href="#") Participar
