site/codigos-5.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <div class="navbar--secondary">
                <div class="container"><a class="navbar--secondary-return" href="#"><span class="icon">
                            <svg>
                                <use xlink:href="images/icons/icons.svg#icon-back"></use>
                            </svg></span></a>
                    <h2 class="titulo">Códigos en oferta</h2>
                </div>
            </div>
            <section class="codigos--felicidades">
                <div class="codigos--wrapper">
                    <div class="container">
                        <div class="codigos--card">
                            <div class="card">
                                <div class="card--content">
                                    <div class="card--content__portada"><img src="images/fotografia/portada-starbucks.jpg" alt=""></div>
                                    <div class="card--content__body">
                                        <div class="logo"><img src="images/marcas/starbucks.jpg" alt=""></div>
                                        <p class="titulo">Starbucks</p>
                                        <div class="descripcion">
                                            <p>Moka Capuccino para que te delites en cualquier momento del día </p>
                                        </div>
                                    </div>
                                    <div class="card--content__footer">
                                        <div class="descripcion">
                                            <p>2 x 1<span class="text--small">Solo en Moka Capuccino</span></p>
                                        </div><small class="vigencia">Vigencia<b>3 días</b></small>
                                    </div>
                                </div>
                            </div>
                            <div class="codigos--card-box">
                                <h2 class="titulo">¡Felicidades!</h2>
                                <div class="descripcion">
                                    <p>Has ganado un beneficio de 2 x 1 en Starbucks.<br>Ya puedes empezar a disfrutarlo.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="btn--float pos--fixed">
                <div class="container">
                    <div class="btn--float-box"><a class="btn btn--default" href="#">Usar este beneficio</a><a class="btn btn--link txt-minus" href="#">Hazlo en otra ocasión</a></div>
                </div>
            </div>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>

src/pug/includes/codigos-5.pug
.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Códigos en oferta
section.codigos--felicidades
    .codigos--wrapper
        .container
            .codigos--card
                .card
                    .card--content
                        .card--content__portada
                            img(src="images/fotografia/portada-starbucks.jpg", alt="")
                        .card--content__body
                            .logo
                                img(src="images/marcas/starbucks.jpg", alt="")
                            p.titulo Starbucks
                            .descripcion
                                p Moka Capuccino para que te delites en cualquier momento del día 
                        .card--content__footer
                            .descripcion
                                p 2 x 1
                                    span.text--small Solo en Moka Capuccino
                            small.vigencia Vigencia
                                b 3 días
                .codigos--card-box
                    h2.titulo ¡Felicidades!
                    .descripcion
                        p Has ganado un beneficio de 2 x 1 en Starbucks.
                            br
                            | Ya puedes empezar a disfrutarlo.
.btn--float.pos--fixed
    .container
        .btn--float-box
            a.btn.btn--default(href="#") Usar este beneficio
            a.btn.btn--link.txt-minus(href="#") Hazlo en otra ocasión
