site/descentralizado-modal.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <nav class="navbar--header">
                <div class="navbar--header-wrapper container"><a class="title" href="#" title="">Movistar Prix</a>
                    <div class="navbar--header-right"><a class="nav--link-location" href="#"><img class="icon--pin" src="images/svg/icon-pin.svg" alt=""><span class="nav--text">Ancash</span><img class="icon--droplist" src="images/svg/icon-arrow-droplist.svg" alt=""></a>
                        <ul class="navbar--header-icons">
                            <li class="nav--item"><a class="nav--link" href="#"><img class="icon--perfil" src="images/svg/icon-perfil.svg" alt=""></a></li>
                            <li class="nav--item"><a class="nav--link" href="#"><img class="icon--search" src="images/svg/icon-search.svg" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="navbar--secondary">
                <div class="container"><a class="navbar--secondary-return" href="#"><span class="icon">
                            <svg>
                                <use xlink:href="images/icons/icons.svg#icon-back"></use>
                            </svg></span></a>
                    <h2 class="titulo">Comida y bebida</h2>
                </div>
            </div>
            <section class="descentralizado">
                <div class="descentralizado__content">
                    <div class="container">
                        <h2 class="titulo">¡Lo sentimos!</h2>
                        <div class="descripcion">
                            <p>Esta ciudad no cuenta con beneficios de comida y bebida. Pero estamos trabajando para poder ofrecerte estas categorías muy pronto. ¿Quieres un beneficio de una marca en particular? Déjanos tu sugerencia y te ayudaremos a conseguirlo.</p>
                        </div><a class="btn btn--default btn--uppercase" href="#">Dejar sugerencias</a>
                    </div>
                </div>
            </section>
            <div class="navbar--quick navbar--fixed">
                <div class="container">
                    <div class="navbar--quick-wrapper row">
                        <div class="col--links">
                            <div class="col--links-box"><a class="nav--link nav--link-icons active" href="#"><span class="icons--change"><img class="icon--inicio-color icon--grey" src="images/svg/icon-inicio-color.svg" alt=""><img class="icon--inicio-color icon--blue" src="images/svg/icon-inicio-color-active.svg" alt=""></span><span class="texto">Inicio</span></a></div>
                        </div>
                        <div class="col--links">
                            <div class="col--links-box"><a class="nav--link nav--link-icons" href="#"><span class="icons--change"><img class="icon--mis-vales icon--grey" src="images/svg/icon-mis-vales.svg" alt=""><img class="icon--mis-vales icon--blue" src="images/svg/icon-mis-vales-active.svg" alt=""></span><span class="texto">Mis vales</span></a></div>
                        </div>
                        <div class="col--links">
                            <div class="col--links-box"><a class="nav--link nav--link-icons" href="#"><span class="icons--change"><img class="icon--ayuda icon--grey" src="images/svg/icon-ayuda.svg" alt=""><img class="icon--ayuda icon--blue" src="images/svg/icon-ayuda-active.svg" alt=""></span><span class="texto">Ayuda</span></a></div>
                        </div>
                        <div class="col--links">
                            <div class="col--links-box"><a class="nav--link active" href="#"><span class="nav--link-gema"><img class="icon--gema icon--grey-gema" src="images/svg/icon-gema-disable.svg" alt=""><img class="icon--gema icon--blue-gema" src="images/svg/icon-gema.svg" alt=""></span></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlay--full">
                <div class="overlay--full-content container">
                    <div class="overlay--close">
                        <button class="btn"><span class="icon">
                                <svg>
                                    <use xlink:href="images/icons/icons.svg#icon-cross"></use>
                                </svg></span></button>
                    </div>
                    <div class="overlay--body">
                        <div class="change--city-box">
                            <h2 class="titulo">Cambiar ciudad</h2>
                            <div class="container">
                                <ul class="city--list row">
                                    <li class="col-6 city--item"><a href="#"><img class="icon" src="images/svg/icon-lima.svg" alt="">
                                            <p class="descripcion">Lima</p></a></li>
                                    <li class="col-6 city--item"><a href="#"><img class="icon" src="images/svg/icon-callao.svg" alt="">
                                            <p class="descripcion">Callao</p></a></li>
                                    <li class="col-6 city--item"><a href="#"><img class="icon" src="images/svg/icon-ancash.svg" alt="">
                                            <p class="descripcion">Ancash</p></a></li>
                                    <li class="col-6 city--item"><a href="#"><img class="icon" src="images/svg/icon-amazonas.svg" alt="">
                                            <p class="descripcion">Amazonas</p></a></li>
                                    <li class="col-6 city--item"><a href="#"><img class="icon" src="images/svg/icon-apurimac.svg" alt="">
                                            <p class="descripcion">Apurimac</p></a></li>
                                    <li class="col-6 city--item"><a href="#"><img class="icon" src="images/svg/icon-arequipa.svg" alt="">
                                            <p class="descripcion">Arequipa</p></a></li>
                                    <li class="col-6 city--item"><a href="#"><img class="icon" src="images/svg/icon-ayacucho.svg" alt="">
                                            <p class="descripcion">Ayacucho</p></a></li>
                                    <li class="col-6 city--item"><a href="#"><img class="icon" src="images/svg/icon-cajamarca.svg" alt="">
                                            <p class="descripcion">Cajamarca</p></a></li>
                                    <li class="col-6 city--item"><a href="#"><img class="icon" src="images/svg/icon-cuzco.svg" alt="">
                                            <p class="descripcion">Cuzco</p></a></li>
                                    <li class="col-6 city--item"><a href="#"><img class="icon" src="images/svg/icon-huancavelica.svg" alt="">
                                            <p class="descripcion">Huancavelica</p></a></li>
                                    <li class="col-6 city--item"><a href="#"><img class="icon" src="images/svg/icon-huanuco.svg" alt="">
                                            <p class="descripcion">Huánuco</p></a></li>
                                    <li class="col-6 city--item"><a href="#"><img class="icon" src="images/svg/icon-ica.svg" alt="">
                                            <p class="descripcion">Ica</p></a></li>
                                    <li class="col-6 city--item"><a href="#"><img class="icon" src="images/svg/icon-junin.svg" alt="">
                                            <p class="descripcion">Junín</p></a></li>
                                    <li class="col-6 city--item"><a href="#"><img class="icon" src="images/svg/icon-libertad.svg" alt="">
                                            <p class="descripcion">La Libertad</p></a></li>
                                    <li class="col-6 city--item"><a href="#"><img class="icon" src="images/svg/icon-lambayeque.svg" alt="">
                                            <p class="descripcion">Lambayeque</p></a></li>
                                    <li class="col-6 city--item"><a href="#"><img class="icon" src="images/svg/icon-loreto.svg" alt="">
                                            <p class="descripcion">Loreto </p></a></li>
                                    <li class="col-6 city--item"><a href="#"><img class="icon" src="images/svg/icon-madre-de-dios.svg" alt="">
                                            <p class="descripcion">Madre de Dios</p></a></li>
                                    <li class="col-6 city--item"><a href="#"><img class="icon" src="images/svg/icon-moquegua.svg" alt="">
                                            <p class="descripcion">Moquegua</p></a></li>
                                    <li class="col-6 city--item"><a href="#"><img class="icon" src="images/svg/icon-pazco.svg" alt="">
                                            <p class="descripcion">Pazco</p></a></li>
                                    <li class="col-6 city--item"><a href="#"><img class="icon" src="images/svg/icon-piura.svg" alt="">
                                            <p class="descripcion">Piura</p></a></li>
                                    <li class="col-6 city--item"><a href="#"><img class="icon" src="images/svg/icon-puno.svg" alt="">
                                            <p class="descripcion">Puno</p></a></li>
                                    <li class="col-6 city--item"><a href="#"><img class="icon" src="images/svg/icon-san-martin.svg" alt="">
                                            <p class="descripcion">San Martín</p></a></li>
                                    <li class="col-6 city--item"><a href="#"><img class="icon" src="images/svg/icon-tacna.svg" alt="">
                                            <p class="descripcion">Tacna</p></a></li>
                                    <li class="col-6 city--item"><a href="#"><img class="icon" src="images/svg/icon-tumbes.svg" alt="">
                                            <p class="descripcion">Tumbes </p></a></li>
                                    <li class="col-6 city--item"><a href="#"><img class="icon" src="images/svg/icon-ucayali.svg" alt="">
                                            <p class="descripcion">Ucayali</p></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>

src/pug/includes/descentralizado-modal.pug
nav.navbar--header
    .navbar--header-wrapper.container
        a.title(href="#", title="") Movistar Prix
        .navbar--header-right
            a.nav--link-location(href="#")
                img.icon--pin(src="images/svg/icon-pin.svg", alt="")
                span.nav--text Ancash
                img.icon--droplist(src="images/svg/icon-arrow-droplist.svg", alt="")
            ul.navbar--header-icons
                li.nav--item
                    a.nav--link(href="#")
                        img.icon--perfil(src="images/svg/icon-perfil.svg", alt="")
                li.nav--item
                    a.nav--link(href="#")
                        img.icon--search(src="images/svg/icon-search.svg", alt="")
.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Comida y bebida
section.descentralizado
    .descentralizado__content
        .container
            h2.titulo ¡Lo sentimos!
            .descripcion
                p Esta ciudad no cuenta con beneficios de comida y bebida. Pero estamos trabajando para poder ofrecerte estas categorías muy pronto. ¿Quieres un beneficio de una marca en particular? Déjanos tu sugerencia y te ayudaremos a conseguirlo.
            a.btn.btn--default.btn--uppercase(href="#") Dejar sugerencias
.navbar--quick.navbar--fixed
    .container
        .navbar--quick-wrapper.row
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons.active(href="#")
                        span.icons--change
                            img.icon--inicio-color.icon--grey(src=iconSVG+'inicio-color.svg', alt="")
                            img.icon--inicio-color.icon--blue(src=iconSVG+'inicio-color-active.svg', alt="")
                        span.texto Inicio
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons(href="#")
                        span.icons--change
                            img.icon--mis-vales.icon--grey(src=iconSVG+'mis-vales.svg', alt="")
                            img.icon--mis-vales.icon--blue(src=iconSVG+'mis-vales-active.svg', alt="")
                        span.texto Mis vales
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons(href="#")
                        span.icons--change
                            img.icon--ayuda.icon--grey(src=iconSVG+'ayuda.svg', alt="")
                            img.icon--ayuda.icon--blue(src=iconSVG+'ayuda-active.svg', alt="")
                        span.texto Ayuda
            .col--links
                .col--links-box
                    a.nav--link.active(href="#")
                        span.nav--link-gema
                            img.icon--gema.icon--grey-gema(src="images/svg/icon-gema-disable.svg", alt="")
                            img.icon--gema.icon--blue-gema(src="images/svg/icon-gema.svg", alt="")

.overlay--full
    .overlay--full-content.container
        .overlay--close
            button.btn
                span.icon: svg: use(xlink:href=iconPath+'cross')
        .overlay--body
            .change--city-box
                h2.titulo Cambiar ciudad
                .container
                    ul.city--list.row
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'lima.svg', alt="")
                                p.descripcion Lima
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'callao.svg', alt="")
                                p.descripcion Callao
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'ancash.svg', alt="")
                                p.descripcion Ancash
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'amazonas.svg', alt="")
                                p.descripcion Amazonas
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'apurimac.svg', alt="")
                                p.descripcion Apurimac
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'arequipa.svg', alt="")
                                p.descripcion Arequipa
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'ayacucho.svg', alt="")
                                p.descripcion Ayacucho
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'cajamarca.svg', alt="")
                                p.descripcion Cajamarca
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'cuzco.svg', alt="")
                                p.descripcion Cuzco
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'huancavelica.svg', alt="")
                                p.descripcion Huancavelica
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'huanuco.svg', alt="")
                                p.descripcion Huánuco
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'ica.svg', alt="")
                                p.descripcion Ica
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'junin.svg', alt="")
                                p.descripcion Junín
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'libertad.svg', alt="")
                                p.descripcion La Libertad
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'lambayeque.svg', alt="")
                                p.descripcion Lambayeque
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'loreto.svg', alt="")
                                p.descripcion Loreto 
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'madre-de-dios.svg', alt="")
                                p.descripcion Madre de Dios
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'moquegua.svg', alt="")
                                p.descripcion Moquegua
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'pazco.svg', alt="")
                                p.descripcion Pazco
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'piura.svg', alt="")
                                p.descripcion Piura
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'puno.svg', alt="")
                                p.descripcion Puno
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'san-martin.svg', alt="")
                                p.descripcion San Martín
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'tacna.svg', alt="")
                                p.descripcion Tacna
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'tumbes.svg', alt="")
                                p.descripcion Tumbes 
                        li.col-6.city--item
                            a(href="#")
                                img.icon(src=iconSVG+'ucayali.svg', alt="")
                                p.descripcion Ucayali
