site/experiencia-codigo-17.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <nav class="navbar--secondary">
                <div class="container"><a class="navbar--secondary-return" href="#"><span class="icon">
                            <svg>
                                <use xlink:href="images/icons/icons.svg#icon-back"></use>
                            </svg></span></a>
                    <h2 class="titulo">Experiencias y sorteos</h2>
                </div>
            </nav>
            <section class="servicio--detalle">
                <div class="portada">
                    <div class="portada--image"><img src="images/fotografia/portada-default.jpg" alt=""></div>
                    <div class="portada--box container">
                        <div class="box--head">
                            <h2 class="titulo">¡No te pierdas el <br> sorteo!</h2>
                        </div>
                        <button class="btn btn--heart favorite"><img class="img-heart" src="images/svg/icon-heart-1.svg" alt=""><img class="img-like" src="images/svg/icon-heart-red.svg" alt=""></button>
                    </div>
                </div>
                <div class="alerta alerta--info">
                    <div class="container">
                        <p class="alerta__descripcion">Aún estas a tiempo para participar, quedan: <br> <b>14d 13h 30m</b></p>
                    </div>
                </div>
                <div class="tab">
                    <ul class="tab--nav tab--nav__more">
                        <li class="tab--nav__item"><a class="tab--item__link" href="!#">Concurso</a></li>
                        <li class="tab--nav__item"><a class="tab--item__link" href="!#">Premios</a></li>
                        <li class="tab--nav__item"><a class="tab--item__link active" href="!#">Códigos</a></li>
                    </ul>
                    <div class="tab--content">
                        <div class="tab--pane pane--no-padding show">
                            <div class="servicio--detalle__content">
                                <div class="container">
                                    <div class="notificacion--grey">Has acumulado: <b>15 000 intentos para ganar</b></div>
                                    <div class="table--borde">
                                        <table class="table">
                                            <thead class="thead--azure">
                                                <tr>
                                                    <th>Códigos (4 códigos)</th>
                                                    <th>Fecha</th>
                                                    <th>Opciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="txt--center">ASD123QWE456T</td>
                                                    <td class="txt--center">25/04/18</td>
                                                    <td class="txt--center">20</td>
                                                </tr>
                                                <tr>
                                                    <td class="txt--center">ASD123QWE456T</td>
                                                    <td class="txt--center">25/04/18</td>
                                                    <td class="txt--center">20</td>
                                                </tr>
                                                <tr>
                                                    <td class="txt--center">ASD123QWE456T</td>
                                                    <td class="txt--center">25/04/18</td>
                                                    <td class="txt--center">20</td>
                                                </tr>
                                                <tr>
                                                    <td class="txt--center">ASD123QWE456T</td>
                                                    <td class="txt--center">25/04/18</td>
                                                    <td class="txt--center">20</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab--pane hide">Lorem ipsum dolor sit amet consectetur adipisicing elit.    </div>
                        <div class="tab--pane hide">Lorem ipsum dolor sit amet consectetur adipisicing elit.    </div>
                    </div>
                </div>
            </section>
            <div class="btn--float pos--fixed">
                <div class="container">
                    <div class="btn--float-box"><a class="btn btn--default" href="#">Ingresar más códigos</a></div>
                </div>
            </div>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>

src/pug/includes/experiencia-codigo-17.pug
nav.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Experiencias y sorteos
section.servicio--detalle
    .portada
        .portada--image
            img(src="images/fotografia/portada-default.jpg", alt="")
        .portada--box.container
            .box--head
                h2.titulo ¡No te pierdas el #[br] sorteo!
            button.btn.btn--heart.favorite
                img.img-heart(src=iconSVG+"heart-1.svg", alt="")
                img.img-like(src=iconSVG+"heart-red.svg", alt="")
    .alerta.alerta--info
        .container
            p.alerta__descripcion Aún estas a tiempo para participar, quedan: #[br] #[b 14d 13h 30m]
    .tab
        ul.tab--nav.tab--nav__more
            li.tab--nav__item
                a.tab--item__link(href="!#") Concurso
            li.tab--nav__item
                a.tab--item__link(href="!#") Premios
            li.tab--nav__item
                a.tab--item__link.active(href="!#") Códigos
        .tab--content
            .tab--pane.pane--no-padding.show
                .servicio--detalle__content
                    .container
                        .notificacion--grey Has acumulado: #[b 15 000 intentos para ganar]
                        .table--borde
                            table.table
                                thead.thead--azure
                                    tr
                                        th Códigos (4 códigos)
                                        th Fecha
                                        th Opciones
                                tbody
                                    tr
                                        td.txt--center ASD123QWE456T
                                        td.txt--center 25/04/18
                                        td.txt--center 20
                                    tr
                                        td.txt--center ASD123QWE456T
                                        td.txt--center 25/04/18
                                        td.txt--center 20
                                    tr
                                        td.txt--center ASD123QWE456T
                                        td.txt--center 25/04/18
                                        td.txt--center 20
                                    tr
                                        td.txt--center ASD123QWE456T
                                        td.txt--center 25/04/18
                                        td.txt--center 20
                        
            .tab--pane.hide Lorem ipsum dolor sit amet consectetur adipisicing elit.    
            .tab--pane.hide Lorem ipsum dolor sit amet consectetur adipisicing elit.    

.btn--float.pos--fixed
    .container
        .btn--float-box
            a.btn.btn--default(href="#") Ingresar más códigos
