src/pug/includes/experiencias-interna-listado.pug
nav.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Experiencias y sorteos
section.servicio--detalle
    .portada
        .portada--image
            img(src="images/fotografia/portada-default.jpg", alt="")
        .portada--box.container
            .box--head
                h2.titulo ¡Gracias por #[br] participar!
            button.btn.btn--heart
                img.img-heart(src=iconSVG+"heart-1.svg", alt="")
                img.img-like(src=iconSVG+"heart-red.svg", alt="")
    .servicio--detalle__content
        .container
            .servicio--media-box
                .media.media--box-icons
                    .media--img-icon.media--self-start
                        img.img--icon__tickets-1(src=iconSVG+'tickets-1.svg', alt="")
                    .media--body
                        p.titulo En esta ocasión no ganaste esta experiencia…
        .container
            .descripcion
                p ¡Pero descuida! Aún tenemos muchas experiencias más para que puedas participar.
            .servicio--ganadores
                p.titulo Estos fueron los ganadores
                .descripcion
                    ul
                        li Alex Meza Medina #[br] DNI: 40887788
                        li Rubí Martinez Fernandes #[br] DNI: 43678989
                        li Lucas Molineti Prado #[br] DNI: 43678989
                

.btn--float.pos--fixed
    .container
        .btn--float-box
            a.btn.btn--default(href="#") Ver más experiencias
            a.btn.btn--link.txt-minus(href="#") Términos y condiciones

site/experiencias-interna-listado.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <nav class="navbar--secondary">
                <div class="container"><a class="navbar--secondary-return" href="#"><span class="icon">
                            <svg>
                                <use xlink:href="images/icons/icons.svg#icon-back"></use>
                            </svg></span></a>
                    <h2 class="titulo">Experiencias y sorteos</h2>
                </div>
            </nav>
            <section class="servicio--detalle">
                <div class="portada">
                    <div class="portada--image"><img src="images/fotografia/portada-default.jpg" alt=""></div>
                    <div class="portada--box container">
                        <div class="box--head">
                            <h2 class="titulo">¡Gracias por <br> participar!</h2>
                        </div>
                        <button class="btn btn--heart"><img class="img-heart" src="images/svg/icon-heart-1.svg" alt=""><img class="img-like" src="images/svg/icon-heart-red.svg" alt=""></button>
                    </div>
                </div>
                <div class="servicio--detalle__content">
                    <div class="container">
                        <div class="servicio--media-box">
                            <div class="media media--box-icons">
                                <div class="media--img-icon media--self-start"><img class="img--icon__tickets-1" src="images/svg/icon-tickets-1.svg" alt=""></div>
                                <div class="media--body">
                                    <p class="titulo">En esta ocasión no ganaste esta experiencia…</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="descripcion">
                            <p>¡Pero descuida! Aún tenemos muchas experiencias más para que puedas participar.</p>
                        </div>
                        <div class="servicio--ganadores">
                            <p class="titulo">Estos fueron los ganadores</p>
                            <div class="descripcion">
                                <ul>
                                    <li>Alex Meza Medina <br> DNI: 40887788</li>
                                    <li>Rubí Martinez Fernandes <br> DNI: 43678989</li>
                                    <li>Lucas Molineti Prado <br> DNI: 43678989</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="btn--float pos--fixed">
                <div class="container">
                    <div class="btn--float-box"><a class="btn btn--default" href="#">Ver más experiencias</a><a class="btn btn--link txt-minus" href="#">Términos y condiciones</a></div>
                </div>
            </div>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>
