src/pug/includes/experiencias-8.pug
.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Experiencias y sorteos
.codigos--detalle.mg-70
    .portada
        .portada--image
            img(src="images/fotografia/portada-default.jpg", alt="")
        .portada--box.container
            .box--head
                h2.titulo Avant Premiere de #[br] Aquaman
            button.btn.btn--heart
                img.img-heart(src=iconSVG+"heart-1.svg", alt="")
                img.img-like(src=iconSVG+"heart-red.svg", alt="")
    .alerta.alerta--info
        .container
            p.alerta__descripcion Aún estas a tiempo para participar, quedan: 
                br
                b 14d 13h 30m
    .codigos--detalle__content
        .container
            .media.media--box-icons
                .media--img-icon.media--self-top
                    img(src=iconSVG+'tickets-1.svg', alt="")
                .media--body
                    p.titulo ¡Gana una entrada para el Avant Premiere de Aquaman!
            .descripcion
                p No te pierdas esta gran experiencia y disfruta de todo lo que Movistar Prix tiene para ti. 
                p: b ¿Qué es lo que tienes que saber?
                ul
                    li Lorem ipsum dolor sit amet, consectetur ask me.
                    li Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots
                    li Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots
                    li Lorem ipsum dolor sit amet, consectetur ask me.
            .collapse.collapse--line-top
                .collapse--list
                    .collapse--item.active
                        a.collapse--action(href="#!")
                            p.titulo Ver términos y condiciones
                            img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                        .collapse--content
                            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem quo, soluta aliquam iure facilis modi quidem consectetur repellendus itaque, nam at sit ut molestias quia illum eligendi aut. Omnis, placeat!
            .ubicacion
                p: b Ubicación
                p Distribuciones Gerónimo: Jr. El Greco 211B
        .iframe--map.map--sm
            iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15603.63325292937!2d-77.02156655000002!3d-12.1184256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2spe!4v1567626444880!5m2!1ses!2spe", width="600", height="450", frameborder="0", style="border:0;", allowfullscreen="")

.btn--float.pos--fixed
    .container
        .btn--float-box
            a.btn.btn--default(href="#") Participar
.modal
    .modal--dialog.modal--xs.modal--center
        .modal--content
            .modal--head.no--padding
                img.modal--icon(src=iconSVG+'tickets-1.svg', alt="")
                button.modal--close(type="button")
                    img(src="images/svg/icon-close.svg", alt="")
            .modal--body
                h2.titulo ¡Gana una entrada para el Avant Premiere de Aquaman!
                .descripcion
                    p Estarás participando en la experiencia, recuerda que el premio se sorteará el 26 de diciembre del 2018.
            .modal--footer
                .modal--buttons
                    button.btn.btn--default.btn--uppercase Entendido
                    a.btn.btn--link Probar en otra ocasión
.backdrop

site/experiencias-8.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <div class="navbar--secondary">
                <div class="container"><a class="navbar--secondary-return" href="#"><span class="icon">
                            <svg>
                                <use xlink:href="images/icons/icons.svg#icon-back"></use>
                            </svg></span></a>
                    <h2 class="titulo">Experiencias y sorteos</h2>
                </div>
            </div>
            <div class="codigos--detalle mg-70">
                <div class="portada">
                    <div class="portada--image"><img src="images/fotografia/portada-default.jpg" alt=""></div>
                    <div class="portada--box container">
                        <div class="box--head">
                            <h2 class="titulo">Avant Premiere de <br> Aquaman</h2>
                        </div>
                        <button class="btn btn--heart"><img class="img-heart" src="images/svg/icon-heart-1.svg" alt=""><img class="img-like" src="images/svg/icon-heart-red.svg" alt=""></button>
                    </div>
                </div>
                <div class="alerta alerta--info">
                    <div class="container">
                        <p class="alerta__descripcion">Aún estas a tiempo para participar, quedan: <br><b>14d 13h 30m</b></p>
                    </div>
                </div>
                <div class="codigos--detalle__content">
                    <div class="container">
                        <div class="media media--box-icons">
                            <div class="media--img-icon media--self-top"><img src="images/svg/icon-tickets-1.svg" alt=""></div>
                            <div class="media--body">
                                <p class="titulo">¡Gana una entrada para el Avant Premiere de Aquaman!</p>
                            </div>
                        </div>
                        <div class="descripcion">
                            <p>No te pierdas esta gran experiencia y disfruta de todo lo que Movistar Prix tiene para ti. </p>
                            <p><b>¿Qué es lo que tienes que saber?</b></p>
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur ask me.</li>
                                <li>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots</li>
                                <li>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots</li>
                                <li>Lorem ipsum dolor sit amet, consectetur ask me.</li>
                            </ul>
                        </div>
                        <div class="collapse collapse--line-top">
                            <div class="collapse--list">
                                <div class="collapse--item active"><a class="collapse--action" href="#!">
                                        <p class="titulo">Ver términos y condiciones</p><img class="icon" src="images/svg/icon-arrow-collapse.svg" alt=""></a>
                                    <div class="collapse--content">
                                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem quo, soluta aliquam iure facilis modi quidem consectetur repellendus itaque, nam at sit ut molestias quia illum eligendi aut. Omnis, placeat!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ubicacion">
                            <p><b>Ubicación</b></p>
                            <p>Distribuciones Gerónimo: Jr. El Greco 211B</p>
                        </div>
                    </div>
                    <div class="iframe--map map--sm">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15603.63325292937!2d-77.02156655000002!3d-12.1184256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2spe!4v1567626444880!5m2!1ses!2spe" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
            <div class="btn--float pos--fixed">
                <div class="container">
                    <div class="btn--float-box"><a class="btn btn--default" href="#">Participar</a></div>
                </div>
            </div>
            <div class="modal">
                <div class="modal--dialog modal--xs modal--center">
                    <div class="modal--content">
                        <div class="modal--head no--padding"><img class="modal--icon" src="images/svg/icon-tickets-1.svg" alt="">
                            <button class="modal--close" type="button"><img src="images/svg/icon-close.svg" alt=""></button>
                        </div>
                        <div class="modal--body">
                            <h2 class="titulo">¡Gana una entrada para el Avant Premiere de Aquaman!</h2>
                            <div class="descripcion">
                                <p>Estarás participando en la experiencia, recuerda que el premio se sorteará el 26 de diciembre del 2018.</p>
                            </div>
                        </div>
                        <div class="modal--footer">
                            <div class="modal--buttons">
                                <button class="btn btn--default btn--uppercase">Entendido</button><a class="btn btn--link">Probar en otra ocasión</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="backdrop"></div>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>
