site/experiencia-codigo-1.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <nav class="navbar--header">
                <div class="navbar--header-wrapper container"><a class="title" href="#" title="">Movistar Prix</a>
                    <div class="navbar--header-right"><a class="nav--link-location" href="#"><img class="icon--pin" src="images/svg/icon-pin.svg" alt=""><span class="nav--text">Lima</span><img class="icon--droplist" src="images/svg/icon-arrow-droplist.svg" alt=""></a>
                        <ul class="navbar--header-icons">
                            <li class="nav--item"><a class="nav--link" href="#"><img class="icon--perfil" src="images/svg/icon-perfil.svg" alt=""></a></li>
                            <li class="nav--item"><a class="nav--link" href="#"><img class="icon--search" src="images/svg/icon-search.svg" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="navbar--secondary">
                <div class="container"><a class="navbar--secondary-return" href="#"><span class="icon">
                            <svg>
                                <use xlink:href="images/icons/icons.svg#icon-back"></use>
                            </svg></span></a>
                    <h2 class="titulo">Experiencias y sorteos</h2>
                </div>
            </div>
            <div class="experiencias">
                <div class="notificacion--card">
                    <div class="container">
                        <div class="notificacion--card-box"><a class="media media--card" href="#"><img class="media--icon media--self-center" src="images/svg/icon-tickets-1.svg" alt="">
                                <div class="media--body">
                                    <div class="descripcion">
                                        <p>Estos fueron los ganadores de experiencias</p>
                                    </div>
                                </div>
                                <div class="media--symbol media--self-center"><span class="icon">
                                        <svg>
                                            <use xlink:href="images/icons/icons.svg#icon-right-arrow"></use>
                                        </svg></span></div></a></div>
                    </div>
                </div>
                <div class="experiencias--content">
                    <div class="container">
                        <div class="card--vertical"><a class="card--content grey--color" href="#">
                                <div class="card--content__body">
                                    <div class="titulo">¡No te pierdas el sorteo!</div>
                                    <div class="descripcion">¡Participa para ganar uno de estos sorprendentes premios!</div>
                                    <button class="btn btn--flat btn--flat-blue" type="button">Más información</button>
                                </div>
                                <div class="card--content__portada"><img src="images/fotografia/experiencia-auto.jpg" alt=""></div></a></div>
                        <div class="card--vertical"><a class="card--content grey--color" href="#">
                                <div class="card--content__body">
                                    <div class="titulo">¡No te pierdas Aquaman!</div>
                                    <div class="descripcion">¡Participa por entradas dobles para el Avant Premiere de Avengers!</div>
                                    <button class="btn btn--flat btn--flat-blue" type="button">Más información</button>
                                </div>
                                <div class="card--content__portada"><img src="images/fotografia/aquaman.jpg" alt=""></div></a></div>
                    </div>
                </div>
            </div>
            <div class="navbar--quick navbar--fixed">
                <div class="container">
                    <div class="navbar--quick-wrapper row">
                        <div class="col--links">
                            <div class="col--links-box"><a class="nav--link nav--link-icons" href="#"><span class="icons--change"><img class="icon--inicio-color icon--grey" src="images/svg/icon-inicio-color.svg" alt=""><img class="icon--inicio-color icon--blue" src="images/svg/icon-inicio-color-active.svg" alt=""></span><span class="texto">Inicio</span></a></div>
                        </div>
                        <div class="col--links">
                            <div class="col--links-box"><a class="nav--link nav--link-icons" href="#"><span class="icons--change"><img class="icon--mis-vales icon--grey" src="images/svg/icon-mis-vales.svg" alt=""><img class="icon--mis-vales icon--blue" src="images/svg/icon-mis-vales-active.svg" alt=""></span><span class="texto">Mis vales</span></a></div>
                        </div>
                        <div class="col--links">
                            <div class="col--links-box"><a class="nav--link nav--link-icons" href="#"><span class="icons--change"><img class="icon--ayuda icon--grey" src="images/svg/icon-ayuda.svg" alt=""><img class="icon--ayuda icon--blue" src="images/svg/icon-ayuda-active.svg" alt=""></span><span class="texto">Ayuda</span></a></div>
                        </div>
                        <div class="col--links">
                            <div class="col--links-box"><a class="nav--link active" href="#"><span class="nav--link-gema"><img class="icon--gema icon--grey-gema" src="images/svg/icon-gema-disable.svg" alt=""><img class="icon--gema icon--blue-gema" src="images/svg/icon-gema.svg" alt=""></span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>

src/pug/includes/experiencia-codigo-1.pug
nav.navbar--header
    .navbar--header-wrapper.container
        a.title(href="#", title="") Movistar Prix
        .navbar--header-right
            a.nav--link-location(href="#")
                img.icon--pin(src="images/svg/icon-pin.svg", alt="")
                span.nav--text Lima
                img.icon--droplist(src="images/svg/icon-arrow-droplist.svg", alt="")
            ul.navbar--header-icons
                li.nav--item
                    a.nav--link(href="#")
                        img.icon--perfil(src="images/svg/icon-perfil.svg", alt="")
                li.nav--item
                    a.nav--link(href="#")
                        img.icon--search(src="images/svg/icon-search.svg", alt="")
.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Experiencias y sorteos
.experiencias
    .notificacion--card
        .container
            .notificacion--card-box
                a.media.media--card(href="#")
                    img.media--icon.media--self-center(src=iconSVG+'tickets-1.svg', alt="")
                    .media--body
                        .descripcion
                            p Estos fueron los ganadores de experiencias
                    .media--symbol.media--self-center
                        span.icon: svg: use(xlink:href=iconPath+'right-arrow')
    .experiencias--content
        .container
            .card--vertical
                a.card--content.grey--color(href="#")
                    .card--content__body
                        .titulo ¡No te pierdas el sorteo!
                        .descripcion ¡Participa para ganar uno de estos sorprendentes premios!
                        button.btn.btn--flat.btn--flat-blue(type="button") Más información
                    .card--content__portada
                        img(src="images/fotografia/experiencia-auto.jpg", alt="")
            .card--vertical
                a.card--content.grey--color(href="#")
                    .card--content__body
                        .titulo ¡No te pierdas Aquaman!
                        .descripcion ¡Participa por entradas dobles para el Avant Premiere de Avengers!
                        button.btn.btn--flat.btn--flat-blue(type="button") Más información
                    .card--content__portada
                        img(src="images/fotografia/aquaman.jpg", alt="")
.navbar--quick.navbar--fixed
    .container
        .navbar--quick-wrapper.row
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons(href="#")
                        span.icons--change
                            img.icon--inicio-color.icon--grey(src=iconSVG+'inicio-color.svg', alt="")
                            img.icon--inicio-color.icon--blue(src=iconSVG+'inicio-color-active.svg', alt="")
                        span.texto Inicio
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons(href="#")
                        span.icons--change
                            img.icon--mis-vales.icon--grey(src=iconSVG+'mis-vales.svg', alt="")
                            img.icon--mis-vales.icon--blue(src=iconSVG+'mis-vales-active.svg', alt="")
                        span.texto Mis vales
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons(href="#")
                        span.icons--change
                            img.icon--ayuda.icon--grey(src=iconSVG+'ayuda.svg', alt="")
                            img.icon--ayuda.icon--blue(src=iconSVG+'ayuda-active.svg', alt="")
                        span.texto Ayuda
            .col--links
                .col--links-box
                    a.nav--link.active(href="#")
                        span.nav--link-gema
                            img.icon--gema.icon--grey-gema(src="images/svg/icon-gema-disable.svg", alt="")
                            img.icon--gema.icon--blue-gema(src="images/svg/icon-gema.svg", alt="")
