src/pug/includes/experiencia-codigo-10.pug
nav.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Experiencias y sorteos
section.servicio--message
    .container
        .servicio--message__content
            .message__video-nocodigo
                p.titulo.txt--center ¿Aún no tienes un código? #[br] Aquí te decimos cómo:
                .nocodigo-box_video
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(src="https://www.youtube.com/embed/6UcUK34K_hU", allowfullscreen)
                .descripcion
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget massa purus. Proin tortor tortor, ultrices et.
                p.titulo.txt--center ¿Todo listo?
                .message__video--nocodigo_form
                    form.form(action="")
                        .form--group.valid    
                            .form--box
                                input.form--control#name(type="text", name="name", value="HCM24IOAP", required="")
                                label.control--label(for="name") Código de participación
                                span.bar
                                span.cancel--input.icon: svg: use(xlink:href=iconPath+'add-detail')
                            span.form--correct
                                span.icon.icon__green-check: svg: use(xlink:href=iconPath+'green-check')
                                | Código validado correctamente.
                        .form--group.valid    
                            .form--box
                                input.form--control#name(type="text", name="name", value="JGN24IOAP", required="")
                                label.control--label(for="name") Código de participación
                                span.bar
                                span.cancel--input.icon: svg: use(xlink:href=iconPath+'add-detail')
                            span.form--correct
                                span.icon.icon__green-check: svg: use(xlink:href=iconPath+'green-check')
                                | Código validado correctamente.
                        .add-more__code
                            a.more-link(href="#")
                                img.icon__more-add(src=iconSVG+"more-add.svg", alt="", srcset="")
                                span.add__txt Añadir más códigos
                        .btn--float.pos--fixed
                            .container
                                .btn--float-box
                                    button.btn.btn--default(type="submit") Terminé

site/experiencia-codigo-10.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <nav class="navbar--secondary">
                <div class="container"><a class="navbar--secondary-return" href="#"><span class="icon">
                            <svg>
                                <use xlink:href="images/icons/icons.svg#icon-back"></use>
                            </svg></span></a>
                    <h2 class="titulo">Experiencias y sorteos</h2>
                </div>
            </nav>
            <section class="servicio--message">
                <div class="container">
                    <div class="servicio--message__content">
                        <div class="message__video-nocodigo">
                            <p class="titulo txt--center">¿Aún no tienes un código? <br> Aquí te decimos cómo:</p>
                            <div class="nocodigo-box_video">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6UcUK34K_hU" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="descripcion">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget massa purus. Proin tortor tortor, ultrices et.</p>
                            </div>
                            <p class="titulo txt--center">¿Todo listo?</p>
                            <div class="message__video--nocodigo_form">
                                <form class="form" action="">
                                    <div class="form--group valid">   
                                        <div class="form--box">
                                            <input class="form--control" id="name" type="text" name="name" value="HCM24IOAP" required="">
                                            <label class="control--label" for="name">Código de participación</label><span class="bar"></span><span class="cancel--input icon">
                                                <svg>
                                                    <use xlink:href="images/icons/icons.svg#icon-add-detail"></use>
                                                </svg></span>
                                        </div><span class="form--correct"><span class="icon icon__green-check">
                                                <svg>
                                                    <use xlink:href="images/icons/icons.svg#icon-green-check"></use>
                                                </svg></span>Código validado correctamente.</span>
                                    </div>
                                    <div class="form--group valid">   
                                        <div class="form--box">
                                            <input class="form--control" id="name" type="text" name="name" value="JGN24IOAP" required="">
                                            <label class="control--label" for="name">Código de participación</label><span class="bar"></span><span class="cancel--input icon">
                                                <svg>
                                                    <use xlink:href="images/icons/icons.svg#icon-add-detail"></use>
                                                </svg></span>
                                        </div><span class="form--correct"><span class="icon icon__green-check">
                                                <svg>
                                                    <use xlink:href="images/icons/icons.svg#icon-green-check"></use>
                                                </svg></span>Código validado correctamente.</span>
                                    </div>
                                    <div class="add-more__code"><a class="more-link" href="#"><img class="icon__more-add" src="images/svg/icon-more-add.svg" alt="" srcset=""><span class="add__txt">Añadir más códigos</span></a></div>
                                    <div class="btn--float pos--fixed">
                                        <div class="container">
                                            <div class="btn--float-box">
                                                <button class="btn btn--default" type="submit">Terminé</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>
