src/pug/includes/experiencias-interna-ganaste-2.pug
nav.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Experiencias y sorteos
section.servicio--detalle
    .portada
        .portada--image
            img(src="images/fotografia/portada-default.jpg", alt="")
        .portada--box.container
            .box--head
                h2.titulo ¡Gracias por #[br] participar!
            button.btn.btn--heart
                img.img-heart(src=iconSVG+"heart-1.svg", alt="")
                img.img-like(src=iconSVG+"heart-red.svg", alt="")
    .servicio--detalle__content
        .container
            .servicio--media-box
                .media.media--box-icons
                    .media--img-icon.media--self-start
                        img.img--icon__tickets-1(src=iconSVG+'tickets-1.svg', alt="")
                    .media--body
                        p.titulo ¡Haz ganado 04 entradas para la Avant Premiere de Aquaman!
        .container
            .descripcion
                p ¡Felicidades! Pronto nos comunicaremos contigo. Puedes escribirnos y enviar un mail.
            .servicio--form
                form.form(action="")
                    .form--group.invalid
                        .form--box
                            input.form--control#correo(type="email", name="correo", value="andr1@gmail.com", required="")
                            label.control--label(for="correo") Correo electrónico
                            span.bar
                        span.form--error Correo inexistente. 
                            span.form--error-txt Verificar nuevamente.
                    .form--group
                        textarea.form--control(name="comment", rows="2", required="")
                        label.control--label(for="comment") Deja tu comentario
                        span.bar
                    .btn--float.pos--fixed
                        .container
                            .btn--float-box
                                button.btn.btn--default(type="submit") Enviar
                                a.btn.btn--link.txt-minus(href="#") Términos y condiciones

site/experiencias-interna-ganaste-2.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <nav class="navbar--secondary">
                <div class="container"><a class="navbar--secondary-return" href="#"><span class="icon">
                            <svg>
                                <use xlink:href="images/icons/icons.svg#icon-back"></use>
                            </svg></span></a>
                    <h2 class="titulo">Experiencias y sorteos</h2>
                </div>
            </nav>
            <section class="servicio--detalle">
                <div class="portada">
                    <div class="portada--image"><img src="images/fotografia/portada-default.jpg" alt=""></div>
                    <div class="portada--box container">
                        <div class="box--head">
                            <h2 class="titulo">¡Gracias por <br> participar!</h2>
                        </div>
                        <button class="btn btn--heart"><img class="img-heart" src="images/svg/icon-heart-1.svg" alt=""><img class="img-like" src="images/svg/icon-heart-red.svg" alt=""></button>
                    </div>
                </div>
                <div class="servicio--detalle__content">
                    <div class="container">
                        <div class="servicio--media-box">
                            <div class="media media--box-icons">
                                <div class="media--img-icon media--self-start"><img class="img--icon__tickets-1" src="images/svg/icon-tickets-1.svg" alt=""></div>
                                <div class="media--body">
                                    <p class="titulo">¡Haz ganado 04 entradas para la Avant Premiere de Aquaman!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="descripcion">
                            <p>¡Felicidades! Pronto nos comunicaremos contigo. Puedes escribirnos y enviar un mail.</p>
                        </div>
                        <div class="servicio--form">
                            <form class="form" action="">
                                <div class="form--group invalid">
                                    <div class="form--box">
                                        <input class="form--control" id="correo" type="email" name="correo" value="andr1@gmail.com" required="">
                                        <label class="control--label" for="correo">Correo electrónico</label><span class="bar"></span>
                                    </div><span class="form--error">Correo inexistente. <span class="form--error-txt">Verificar nuevamente.</span></span>
                                </div>
                                <div class="form--group">
                                    <textarea class="form--control" name="comment" rows="2" required=""></textarea>
                                    <label class="control--label" for="comment">Deja tu comentario</label><span class="bar"></span>
                                </div>
                                <div class="btn--float pos--fixed">
                                    <div class="container">
                                        <div class="btn--float-box">
                                            <button class="btn btn--default" type="submit">Enviar</button><a class="btn btn--link txt-minus" href="#">Términos y condiciones</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>
