site/experiencia-codigo-18.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <nav class="navbar--secondary">
                <div class="container"><a class="navbar--secondary-return" href="#"><span class="icon">
                            <svg>
                                <use xlink:href="images/icons/icons.svg#icon-back"></use>
                            </svg></span></a>
                    <h2 class="titulo">Experiencias y sorteos</h2>
                </div>
            </nav>
            <section class="servicio--detalle">
                <div class="portada">
                    <div class="portada--image"><img src="images/fotografia/portada-default.jpg" alt=""></div>
                    <div class="portada--box container">
                        <div class="box--head">
                            <h2 class="titulo">¡No te pierdas el <br> sorteo!</h2>
                        </div>
                        <button class="btn btn--heart favorite"><img class="img-heart" src="images/svg/icon-heart-1.svg" alt=""><img class="img-like" src="images/svg/icon-heart-red.svg" alt=""></button>
                    </div>
                </div>
                <div class="alerta alerta--info">
                    <div class="container">
                        <p class="alerta__descripcion">Aún estas a tiempo para participar, quedan: <br> <b>14d 13h 30m</b></p>
                    </div>
                </div>
                <div class="tab">
                    <ul class="tab--nav tab--nav__more">
                        <li class="tab--nav__item"><a class="tab--item__link active" href="!#">Concurso</a></li>
                        <li class="tab--nav__item"><a class="tab--item__link" href="!#">Premios</a></li>
                        <li class="tab--nav__item"><a class="tab--item__link" href="!#">Códigos</a></li>
                    </ul>
                    <div class="tab--content">
                        <div class="tab--pane pane--no-padding show">
                            <div class="servicio--detalle__content">
                                <div class="container">
                                    <div class="notificacion--grey">Has acumulado: <b>15 000 intentos para ganar</b></div>
                                    <div class="servicio--media-box">
                                        <div class="media media--box-icons">
                                            <div class="media--img-icon media--self-start"><img class="img--icon__tickets-1" src="images/svg/icon-tickets-1.svg" alt=""></div>
                                            <div class="media--body">
                                                <p class="titulo">¡Participa para ganar uno de estos sorprendentes premios!</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="descripcion">
                                        <p>No te pierdas esta gran experiencia y disfruta de todo lo que Movistar Prix tiene para ti. </p>
                                        <p><b>¿Qué es lo que tienes que saber?</b></p>
                                        <ul>
                                            <li>Incluye un Moka Capuccino tamaño mediano.</li>
                                            <li>Válido en todos los locales.</li>
                                            <li>Stock mínimo 500 unidades o hasta agotar stock.</li>
                                            <li>No es acumulable con otras promociones.</li>
                                            <li>Necesitarás 150 Prixes para usar este beneficio.</li>
                                        </ul>
                                    </div>
                                    <div class="collapse--list">
                                        <div class="collapse--item active"><a class="collapse--action collapse--title" href="#!">
                                                <div class="titulo">Promocard Virtual</div><img class="icon" src="images/svg/icon-arrow-collapse.svg" alt=""></a>
                                            <div class="collapse--content">
                                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, neque nisi. Dolore ea vel quam amet optio repudiandae aperiam esse voluptatem. Dicta laboriosam fugiat sit, illo ullam sed nihil ab!</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="container">
                                    <div class="servicio--ubicacion">
                                        <div class="row no-gutters">
                                            <div class="col-12">
                                                <p class="titulo">Starbucks</p>
                                            </div>
                                            <div class="col-7"><span class="ubicacion__local">1 de 128 locales</span></div>
                                            <div class="col-5"><span class="ubicacion__link txt--right"><a href="#">Ver más locales</a></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="iframe--map map--sm">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15603.63325292937!2d-77.02156655000002!3d-12.1184256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2spe!4v1567626444880!5m2!1ses!2spe" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                                </div>
                            </div>
                        </div>
                        <div class="tab--pane hide">Lorem ipsum dolor sit amet consectetur adipisicing elit.    </div>
                        <div class="tab--pane hide">Lorem ipsum dolor sit amet consectetur adipisicing elit.    </div>
                    </div>
                </div>
            </section>
            <div class="btn--float pos--fixed">
                <div class="container">
                    <div class="btn--float-box row">
                        <div class="btn--float-col col-left"><a class="btn btn--flat-green btn--nopadd" href="#">Ver lista de <br> ganadores</a></div>
                        <div class="btn--float-col col-right"><a class="btn btn--default btn--nopadd" href="#">Ingresa más <br> códigos</a></div>
                    </div>
                </div>
            </div>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>

src/pug/includes/experiencia-codigo-18.pug
nav.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Experiencias y sorteos
section.servicio--detalle
    .portada
        .portada--image
            img(src="images/fotografia/portada-default.jpg", alt="")
        .portada--box.container
            .box--head
                h2.titulo ¡No te pierdas el #[br] sorteo!
            button.btn.btn--heart.favorite
                img.img-heart(src=iconSVG+"heart-1.svg", alt="")
                img.img-like(src=iconSVG+"heart-red.svg", alt="")
    .alerta.alerta--info
        .container
            p.alerta__descripcion Aún estas a tiempo para participar, quedan: #[br] #[b 14d 13h 30m]
    .tab
        ul.tab--nav.tab--nav__more
            li.tab--nav__item
                a.tab--item__link.active(href="!#") Concurso
            li.tab--nav__item
                a.tab--item__link(href="!#") Premios
            li.tab--nav__item
                a.tab--item__link(href="!#") Códigos
        .tab--content
            .tab--pane.pane--no-padding.show
                .servicio--detalle__content
                    .container
                        .notificacion--grey Has acumulado: #[b 15 000 intentos para ganar]
                        .servicio--media-box
                            .media.media--box-icons
                                .media--img-icon.media--self-start
                                    img.img--icon__tickets-1(src=iconSVG+'tickets-1.svg', alt="")
                                .media--body
                                    p.titulo ¡Participa para ganar uno de estos sorprendentes premios!
                        .descripcion
                            p No te pierdas esta gran experiencia y disfruta de todo lo que Movistar Prix tiene para ti. 
                            p: b ¿Qué es lo que tienes que saber?
                            ul
                                li Incluye un Moka Capuccino tamaño mediano.
                                li Válido en todos los locales.
                                li Stock mínimo 500 unidades o hasta agotar stock.
                                li No es acumulable con otras promociones.
                                li Necesitarás 150 Prixes para usar este beneficio.
                        .collapse--list
                            .collapse--item.active
                                a.collapse--action.collapse--title(href="#!")
                                    .titulo Promocard Virtual
                                    img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                                .collapse--content
                                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, neque nisi. Dolore ea vel quam amet optio repudiandae aperiam esse voluptatem. Dicta laboriosam fugiat sit, illo ullam sed nihil ab!
                    .container
                        .servicio--ubicacion
                            .row.no-gutters
                                .col-12
                                    p.titulo Starbucks
                                .col-7
                                    span.ubicacion__local 1 de 128 locales
                                .col-5
                                    span.ubicacion__link.txt--right
                                        a(href="#") Ver más locales
                    .iframe--map.map--sm
                        iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15603.63325292937!2d-77.02156655000002!3d-12.1184256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2spe!4v1567626444880!5m2!1ses!2spe", width="600", height="450", frameborder="0", style="border:0;", allowfullscreen="")
                        
            .tab--pane.hide Lorem ipsum dolor sit amet consectetur adipisicing elit.    
            .tab--pane.hide Lorem ipsum dolor sit amet consectetur adipisicing elit.    

.btn--float.pos--fixed
    .container
        .btn--float-box.row
            .btn--float-col.col-left
                a.btn.btn--flat-green.btn--nopadd(href="#") Ver lista de #[br] ganadores
            .btn--float-col.col-right
                a.btn.btn--default.btn--nopadd(href="#") Ingresa más #[br] códigos
