src/pug/includes/experiencia-codigo-5.pug
nav.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Experiencias y sorteos
section.servicio--message
    .container
        .servicio--message__content
            .message--img__producto
                img(src='images/fotografia/tv-small.png', alt="")
            .servicio--media-box
                .media.media--box-icons
                    .media--img-icon.media--self-start
                        img.img--icon__tickets-1(src=iconSVG+'tickets-1.svg', alt="")
                    .media--body
                        p.titulo ¡Movistar Prix te regala una TV Samsung 55’’!
            .descripcion
                ul
                    li 55” HD Flat TV - Series 4.
                    li Potenciador de color.
                    li Experiencia multimedia (HDMI).
                    li Color negro.
                    li Diseño 360°
                    li ConnectShare Movie - Mira películas desde tu USB

.btn--float.pos--fixed
    .container
        .btn--float-box
            a.btn.btn--default(href="#") Ingresar códigos

site/experiencia-codigo-5.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <nav class="navbar--secondary">
                <div class="container"><a class="navbar--secondary-return" href="#"><span class="icon">
                            <svg>
                                <use xlink:href="images/icons/icons.svg#icon-back"></use>
                            </svg></span></a>
                    <h2 class="titulo">Experiencias y sorteos</h2>
                </div>
            </nav>
            <section class="servicio--message">
                <div class="container">
                    <div class="servicio--message__content">
                        <div class="message--img__producto"><img src="images/fotografia/tv-small.png" alt=""></div>
                        <div class="servicio--media-box">
                            <div class="media media--box-icons">
                                <div class="media--img-icon media--self-start"><img class="img--icon__tickets-1" src="images/svg/icon-tickets-1.svg" alt=""></div>
                                <div class="media--body">
                                    <p class="titulo">¡Movistar Prix te regala una TV Samsung 55’’!</p>
                                </div>
                            </div>
                        </div>
                        <div class="descripcion">
                            <ul>
                                <li>55” HD Flat TV - Series 4.</li>
                                <li>Potenciador de color.</li>
                                <li>Experiencia multimedia (HDMI).</li>
                                <li>Color negro.</li>
                                <li>Diseño 360°</li>
                                <li>ConnectShare Movie - Mira películas desde tu USB</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <div class="btn--float pos--fixed">
                <div class="container">
                    <div class="btn--float-box"><a class="btn btn--default" href="#">Ingresar códigos</a></div>
                </div>
            </div>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>
