src/pug/includes/experiencias-listado.pug
.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Experiencias y sorteos
.experiencias--listado
    .container
        ul.experiencias--list
            li.list--item
                a.media(href="#")
                    .media--image.media--self-top
                        img(src="images/fotografia/transformers-square.jpg", alt="")
                    .media--body
                        h2.titulo Estreno de Transformers
                        .descripcion
                            p ¡Prix llevó a 3 afortunados al pre estreno!
            li.list--item
                a.media(href="#")
                    .media--image.media--self-top
                        img(src="images/fotografia/tanta-square.jpg", alt="")
                    .media--body
                        h2.titulo Experiencia en Tanta
                        .descripcion
                            p ¡5 afortunados pudieron participar en esta experiencia gastronónica!
            li.list--item
                a.media(href="#")
                    .media--image.media--self-top
                        img(src="images/fotografia/aquaman-square.jpg", alt="")
                    .media--body
                        h2.titulo Estreno de Aquaman
                        .descripcion
                            p ¡Prix llevó a 2 afortunados al pre estreno!
            li.list--item
                a.media(href="#")
                    .media--image.media--self-top
                        img(src="images/fotografia/canta-square.jpg", alt="")
                    .media--body
                        h2.titulo Viaje a Canta
                        .descripcion
                            p ¡1 afortunada pareja disfruto de inolvidables vacaciones!

site/experiencias-listado.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <div class="navbar--secondary">
                <div class="container"><a class="navbar--secondary-return" href="#"><span class="icon">
                            <svg>
                                <use xlink:href="images/icons/icons.svg#icon-back"></use>
                            </svg></span></a>
                    <h2 class="titulo">Experiencias y sorteos</h2>
                </div>
            </div>
            <div class="experiencias--listado">
                <div class="container">
                    <ul class="experiencias--list">
                        <li class="list--item"><a class="media" href="#">
                                <div class="media--image media--self-top"><img src="images/fotografia/transformers-square.jpg" alt=""></div>
                                <div class="media--body">
                                    <h2 class="titulo">Estreno de Transformers</h2>
                                    <div class="descripcion">
                                        <p>¡Prix llevó a 3 afortunados al pre estreno!</p>
                                    </div>
                                </div></a></li>
                        <li class="list--item"><a class="media" href="#">
                                <div class="media--image media--self-top"><img src="images/fotografia/tanta-square.jpg" alt=""></div>
                                <div class="media--body">
                                    <h2 class="titulo">Experiencia en Tanta</h2>
                                    <div class="descripcion">
                                        <p>¡5 afortunados pudieron participar en esta experiencia gastronónica!</p>
                                    </div>
                                </div></a></li>
                        <li class="list--item"><a class="media" href="#">
                                <div class="media--image media--self-top"><img src="images/fotografia/aquaman-square.jpg" alt=""></div>
                                <div class="media--body">
                                    <h2 class="titulo">Estreno de Aquaman</h2>
                                    <div class="descripcion">
                                        <p>¡Prix llevó a 2 afortunados al pre estreno!</p>
                                    </div>
                                </div></a></li>
                        <li class="list--item"><a class="media" href="#">
                                <div class="media--image media--self-top"><img src="images/fotografia/canta-square.jpg" alt=""></div>
                                <div class="media--body">
                                    <h2 class="titulo">Viaje a Canta</h2>
                                    <div class="descripcion">
                                        <p>¡1 afortunada pareja disfruto de inolvidables vacaciones!</p>
                                    </div>
                                </div></a></li>
                    </ul>
                </div>
            </div>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>
