src/pug/includes/experiencia-codigo-12.pug
nav.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Experiencias y sorteos
section.servicio--message
    .container
        .servicio--message__content
            .message__video-nocodigo
                p.titulo.txt--center ¿Aún no tienes un código? #[br] Aquí te decimos cómo:
                .nocodigo-box_video
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(src="https://www.youtube.com/embed/6UcUK34K_hU", allowfullscreen)
                .descripcion
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget massa purus. Proin tortor tortor, ultrices et.
                p.titulo.txt--center ¿Todo listo?
                .message__video--nocodigo_form
                    form.form(action="")
                        .form--group
                            .form--box
                                input.form--control#name(type="text", name="name", required="")
                                label.control--label(for="name") Ingresar código de participación
                                span.bar
                        .btn--float.pos--fixed
                            .container
                                .btn--float-box
                                    button.btn.btn--default(type="submit") Terminé

.modal
    .modal--dialog.modal--xs.modal--center
        .modal--content
            .modal--head.no--padding
                img.modal--icon(src="images/fotografia/premios.png", alt="")
                button.modal--close(type="button")
                    img(src="images/svg/icon-close.svg", alt="")
            .modal--body
                h2.titulo ¡Felicidades!
                .descripcion
                    p Tienes 1200 posibilidades para participar y ganar uno de estos sorprendentes premios:
                    p.txt--center #[b Códigos validados ingresados:]
                    .txt--center ASD123QWE456T - ASD123QWE556T #[br] ASD123QWE416T - ASD123QWE453T
            .modal--footer
                .modal--buttons
                    button.btn.btn--default.btn--uppercase Continuar
.backdrop

site/experiencia-codigo-12.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <nav class="navbar--secondary">
                <div class="container"><a class="navbar--secondary-return" href="#"><span class="icon">
                            <svg>
                                <use xlink:href="images/icons/icons.svg#icon-back"></use>
                            </svg></span></a>
                    <h2 class="titulo">Experiencias y sorteos</h2>
                </div>
            </nav>
            <section class="servicio--message">
                <div class="container">
                    <div class="servicio--message__content">
                        <div class="message__video-nocodigo">
                            <p class="titulo txt--center">¿Aún no tienes un código? <br> Aquí te decimos cómo:</p>
                            <div class="nocodigo-box_video">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6UcUK34K_hU" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="descripcion">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget massa purus. Proin tortor tortor, ultrices et.</p>
                            </div>
                            <p class="titulo txt--center">¿Todo listo?</p>
                            <div class="message__video--nocodigo_form">
                                <form class="form" action="">
                                    <div class="form--group">
                                        <div class="form--box">
                                            <input class="form--control" id="name" type="text" name="name" required="">
                                            <label class="control--label" for="name">Ingresar código de participación</label><span class="bar"></span>
                                        </div>
                                    </div>
                                    <div class="btn--float pos--fixed">
                                        <div class="container">
                                            <div class="btn--float-box">
                                                <button class="btn btn--default" type="submit">Terminé</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="modal">
                <div class="modal--dialog modal--xs modal--center">
                    <div class="modal--content">
                        <div class="modal--head no--padding"><img class="modal--icon" src="images/fotografia/premios.png" alt="">
                            <button class="modal--close" type="button"><img src="images/svg/icon-close.svg" alt=""></button>
                        </div>
                        <div class="modal--body">
                            <h2 class="titulo">¡Felicidades!</h2>
                            <div class="descripcion">
                                <p>Tienes 1200 posibilidades para participar y ganar uno de estos sorprendentes premios:</p>
                                <p class="txt--center"><b>Códigos validados ingresados:</b></p>
                                <div class="txt--center">ASD123QWE456T - ASD123QWE556T <br> ASD123QWE416T - ASD123QWE453T</div>
                            </div>
                        </div>
                        <div class="modal--footer">
                            <div class="modal--buttons">
                                <button class="btn btn--default btn--uppercase">Continuar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="backdrop"></div>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>
