site/geolocalizacion-2.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <nav class="navbar--header">
                <div class="navbar--header-wrapper container"><a class="title" href="#" title="">Movistar Prix</a>
                    <div class="navbar--header-right"><a class="nav--link-location" href="#"><img class="icon--pin" src="images/svg/icon-pin.svg" alt=""><span class="nav--text">Lima</span><img class="icon--droplist" src="images/svg/icon-arrow-droplist.svg" alt=""></a>
                        <ul class="navbar--header-icons">
                            <li class="nav--item"><a class="nav--link" href="#"><img class="icon--perfil" src="images/svg/icon-perfil.svg" alt=""></a></li>
                            <li class="nav--item"><a class="nav--link" href="#"><img class="icon--search" src="images/svg/icon-search.svg" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="navbar--secondary">
                <div class="container"><a class="navbar--secondary-return" href="#"><span class="icon">
                            <svg>
                                <use xlink:href="images/icons/icons.svg#icon-back"></use>
                            </svg></span></a>
                    <h2 class="titulo">Localización</h2>
                </div>
            </div>
            <section class="localizacion">
                <div class="map">
                    <div class="map--options">
                        <div class="container">
                            <div class="row">
                                <div class="col"><a class="btn btn--link__location" href=""> <span>Comida y bebida</span><img class="icon" src="images/fotografia/arrow-down.png" alt=""></a></div>
                                <div class="col-auto"><a class="btn btn--link__location" href=""><span>0.5 Km</span></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="iframe--map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15603.63325292937!2d-77.02156655000002!3d-12.1184256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2spe!4v1567626444880!5m2!1ses!2spe" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                    <div class="map--place">
                        <div class="scrolling-card">
                            <div class="item">
                                <div class="card"><a class="card--content" href="#">
                                        <div class="card--content__portada"><img src="images/fotografia/p-mcdonal.jpg" alt=""></div>
                                        <div class="card--content__body">
                                            <div class="logo"><img src="images/marcas/mcdonald.jpg" alt=""></div>
                                            <p class="titulo">McDonald’s</p>
                                            <div class="descripcion">
                                                <p>Mas grande imposible llévate una big mac y acaba con el hambre</p>
                                            </div>
                                        </div>
                                        <div class="card--content__footer">
                                            <div class="descripcion">
                                                <p>2 x 1<small class="text--small">Big Mac</small></p>
                                            </div><small class="vigencia">Vigencia<b>3 días</b></small>
                                        </div></a></div>
                            </div>
                            <div class="item">
                                <div class="card"><a class="card--content" href="#">
                                        <div class="card--content__portada"><img src="images/fotografia/portada-default.jpg" alt=""></div>
                                        <div class="card--content__body">
                                            <div class="logo"><img src="images/marcas/mcdonald.jpg" alt=""></div>
                                            <p class="titulo">Repsol</p>
                                            <div class="descripcion">
                                                <p>Mas grande imposible llévate una big mac y acaba con el hambre</p>
                                            </div>
                                        </div>
                                        <div class="card--content__footer">
                                            <div class="descripcion">
                                                <p>2 x 1<small class="text--small">Big Mac</small></p>
                                            </div><small class="vigencia">Vigencia<b>3 días</b></small>
                                        </div></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>

src/pug/includes/geolocalizacion-2.pug
nav.navbar--header
    .navbar--header-wrapper.container
        a.title(href="#", title="") Movistar Prix
        .navbar--header-right
            a.nav--link-location(href="#")
                img.icon--pin(src="images/svg/icon-pin.svg", alt="")
                span.nav--text Lima
                img.icon--droplist(src="images/svg/icon-arrow-droplist.svg", alt="")
            ul.navbar--header-icons
                li.nav--item
                    a.nav--link(href="#")
                        img.icon--perfil(src="images/svg/icon-perfil.svg", alt="")
                li.nav--item
                    a.nav--link(href="#")
                        img.icon--search(src="images/svg/icon-search.svg", alt="")
.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Localización
section.localizacion
    .map
        .map--options
            .container
                .row
                    .col
                        a.btn.btn--link__location(href="") 
                            span Comida y bebida
                            img.icon(src="images/fotografia/arrow-down.png", alt="")
                    .col-auto
                        a.btn.btn--link__location(href="")
                            span 0.5 Km
        .iframe--map
            iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15603.63325292937!2d-77.02156655000002!3d-12.1184256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2spe!4v1567626444880!5m2!1ses!2spe", width="600", height="450", frameborder="0", style="border:0;", allowfullscreen="")
        .map--place
            .scrolling-card
                .item
                    .card
                        a.card--content(href="#")
                            .card--content__portada
                                img(src="images/fotografia/p-mcdonal.jpg", alt="")
                            .card--content__body
                                .logo
                                    img(src="images/marcas/mcdonald.jpg", alt="")
                                p.titulo McDonald’s
                                .descripcion
                                    p Mas grande imposible llévate una big mac y acaba con el hambre
                            .card--content__footer
                                .descripcion
                                    p 2 x 1
                                        small.text--small Big Mac
                                small.vigencia Vigencia
                                    b 3 días
                .item
                    .card
                        a.card--content(href="#")
                            .card--content__portada
                                img(src="images/fotografia/portada-default.jpg", alt="")
                            .card--content__body
                                .logo
                                    img(src="images/marcas/mcdonald.jpg", alt="")
                                p.titulo Repsol
                                .descripcion
                                    p Mas grande imposible llévate una big mac y acaba con el hambre
                            .card--content__footer
                                .descripcion
                                    p 2 x 1
                                        small.text--small Big Mac
                                small.vigencia Vigencia
                                    b 3 días
