site/geolocalizacion-4.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <nav class="navbar--header">
                <div class="navbar--header-wrapper container"><a class="title" href="#" title="">Movistar Prix</a>
                    <div class="navbar--header-right"><a class="nav--link-location" href="#"><img class="icon--pin" src="images/svg/icon-pin.svg" alt=""><span class="nav--text">Lima</span><img class="icon--droplist" src="images/svg/icon-arrow-droplist.svg" alt=""></a>
                        <ul class="navbar--header-icons">
                            <li class="nav--item"><a class="nav--link" href="#"><img class="icon--perfil" src="images/svg/icon-perfil.svg" alt=""></a></li>
                            <li class="nav--item"><a class="nav--link" href="#"><img class="icon--search" src="images/svg/icon-search.svg" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="navbar--secondary">
                <div class="container"><a class="navbar--secondary-return" href="#"><span class="icon">
                            <svg>
                                <use xlink:href="images/icons/icons.svg#icon-back"></use>
                            </svg></span></a>
                    <h2 class="titulo">Localización</h2>
                </div>
            </div>
            <section class="localizacion">
                <div class="map">
                    <div class="map--options">
                        <div class="container">
                            <div class="row">
                                <div class="col"><a class="btn btn--link__location" href=""> <span>Comida y bebida</span><img class="icon" src="images/fotografia/arrow-down.png" alt=""></a></div>
                                <div class="col-auto"><a class="btn btn--link__location" href=""><span>0.5 Km</span></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="iframe--map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15603.63325292937!2d-77.02156655000002!3d-12.1184256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2spe!4v1567626444880!5m2!1ses!2spe" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                </div>
            </section>
            <div class="modal">
                <div class="modal--dialog modal--xs modal--center">
                    <div class="modal--content">
                        <div class="modal--head">
                            <h2 class="titulo">Elije una categoría</h2>
                            <button class="modal--close" type="button"><img src="images/svg/icon-close.svg" alt=""></button>
                        </div>
                        <div class="modal--body">
                            <div class="modal--scroll">
                                <div class="scroll-content scroll-sm">
                                    <div class="modal--list-radio">
                                        <form class="form" action="">
                                            <div class="form--radio radio-img radio-right">
                                                <label><img class="radio-img-icon" src="images/svg/icon-comida.svg" alt="">
                                                    <input class="radio--input" type="radio" name="radio"><span class="radio--checked"></span>Comida y bebida
                                                </label>
                                            </div>
                                            <div class="form--radio radio-img radio-right">
                                                <label><img class="radio-img-icon" src="images/svg/icon-entretenimiento.svg" alt="">
                                                    <input class="radio--input" type="radio" name="radio"><span class="radio--checked"></span>Entretenimiento
                                                </label>
                                            </div>
                                            <div class="form--radio radio-img radio-right">
                                                <label><img class="radio-img-icon" src="images/svg/icon-hogar.svg" alt="">
                                                    <input class="radio--input" type="radio" name="radio"><span class="radio--checked"></span>Hogar
                                                </label>
                                            </div>
                                            <div class="form--radio radio-img radio-right">
                                                <label><img class="radio-img-icon" src="images/svg/icon-servicio.svg" alt="">
                                                    <input class="radio--input" type="radio" name="radio"><span class="radio--checked"></span>Servicios
                                                </label>
                                            </div>
                                            <div class="form--radio radio-img radio-right">
                                                <label><img class="radio-img-icon" src="images/svg/icon-cuidado.svg" alt="">
                                                    <input class="radio--input" type="radio" name="radio"><span class="radio--checked"></span>Cuidado personal
                                                </label>
                                            </div>
                                            <div class="form--radio radio-img radio-right">
                                                <label><img class="radio-img-icon" src="images/svg/icon-transporte.svg" alt="">
                                                    <input class="radio--input" type="radio" name="radio"><span class="radio--checked"></span>Transporte y viajes
                                                </label>
                                            </div>
                                            <div class="form--radio radio-img radio-right">
                                                <label><img class="radio-img-icon" src="images/svg/icon-vestimenta.svg" alt="">
                                                    <input class="radio--input" type="radio" name="radio"><span class="radio--checked"></span>Vestimenta
                                                </label>
                                            </div>
                                            <div class="form--radio radio-img radio-right">
                                                <label><img class="radio-img-icon" src="images/svg/icon-salud.svg" alt="">
                                                    <input class="radio--input" type="radio" name="radio"><span class="radio--checked"></span>Salud
                                                </label>
                                            </div>
                                            <div class="form--radio radio-img radio-right">
                                                <label><img class="radio-img-icon" src="images/svg/icon-cerca.svg" alt="">
                                                    <input class="radio--input" type="radio" name="radio"><span class="radio--checked"></span>Cerca de mi
                                                </label>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="backdrop"></div>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>

src/pug/includes/geolocalizacion-4.pug
nav.navbar--header
    .navbar--header-wrapper.container
        a.title(href="#", title="") Movistar Prix
        .navbar--header-right
            a.nav--link-location(href="#")
                img.icon--pin(src="images/svg/icon-pin.svg", alt="")
                span.nav--text Lima
                img.icon--droplist(src="images/svg/icon-arrow-droplist.svg", alt="")
            ul.navbar--header-icons
                li.nav--item
                    a.nav--link(href="#")
                        img.icon--perfil(src="images/svg/icon-perfil.svg", alt="")
                li.nav--item
                    a.nav--link(href="#")
                        img.icon--search(src="images/svg/icon-search.svg", alt="")
.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Localización
section.localizacion
    .map
        .map--options
            .container
                .row
                    .col
                        a.btn.btn--link__location(href="") 
                            span Comida y bebida
                            img.icon(src="images/fotografia/arrow-down.png", alt="")
                    .col-auto
                        a.btn.btn--link__location(href="")
                            span 0.5 Km

        .iframe--map
            iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15603.63325292937!2d-77.02156655000002!3d-12.1184256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2spe!4v1567626444880!5m2!1ses!2spe", width="600", height="450", frameborder="0", style="border:0;", allowfullscreen="")
.modal
    .modal--dialog.modal--xs.modal--center
        .modal--content
            .modal--head
                h2.titulo Elije una categoría
                button.modal--close(type="button")
                    img(src=iconSVG+"close.svg", alt="")
            .modal--body
                .modal--scroll
                    .scroll-content.scroll-sm
                        .modal--list-radio
                            form.form(action="")
                                .form--radio.radio-img.radio-right
                                    label
                                        img.radio-img-icon(src=iconSVG+'comida.svg', alt="")
                                        input.radio--input(type="radio", name="radio")
                                        span.radio--checked
                                        | Comida y bebida
                                .form--radio.radio-img.radio-right
                                    label
                                        img.radio-img-icon(src=iconSVG+'entretenimiento.svg', alt="")
                                        input.radio--input(type="radio", name="radio")
                                        span.radio--checked
                                        | Entretenimiento
                                .form--radio.radio-img.radio-right
                                    label
                                        img.radio-img-icon(src=iconSVG+'hogar.svg', alt="")
                                        input.radio--input(type="radio", name="radio")
                                        span.radio--checked
                                        | Hogar
                                .form--radio.radio-img.radio-right
                                    label
                                        img.radio-img-icon(src=iconSVG+'servicio.svg', alt="")
                                        input.radio--input(type="radio", name="radio")
                                        span.radio--checked
                                        | Servicios
                                .form--radio.radio-img.radio-right
                                    label
                                        img.radio-img-icon(src=iconSVG+'cuidado.svg', alt="")
                                        input.radio--input(type="radio", name="radio")
                                        span.radio--checked
                                        | Cuidado personal
                                .form--radio.radio-img.radio-right
                                    label
                                        img.radio-img-icon(src=iconSVG+'transporte.svg', alt="")
                                        input.radio--input(type="radio", name="radio")
                                        span.radio--checked
                                        | Transporte y viajes
                                .form--radio.radio-img.radio-right
                                    label
                                        img.radio-img-icon(src=iconSVG+'vestimenta.svg', alt="")
                                        input.radio--input(type="radio", name="radio")
                                        span.radio--checked
                                        | Vestimenta
                                .form--radio.radio-img.radio-right
                                    label
                                        img.radio-img-icon(src=iconSVG+'salud.svg', alt="")
                                        input.radio--input(type="radio", name="radio")
                                        span.radio--checked
                                        | Salud
                                .form--radio.radio-img.radio-right
                                    label
                                        img.radio-img-icon(src=iconSVG+'cerca.svg', alt="")
                                        input.radio--input(type="radio", name="radio")
                                        span.radio--checked
                                        | Cerca de mi
.backdrop
