src/pug/includes/mis-vales-1.pug
.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Mis vales
.servicio--vales
    .tab
        ul.tab--nav
            li.tab--nav__item
                a.tab--item__link.active(href="!#") Mis Consumos
            li.tab--nav__item
                a.tab--item__link(href="!#") Mi Lista
        .tab--content
            .tab--pane.show
                .collapse
                    .collapse--list
                        .collapse--item
                            a.collapse--action(href="#!")
                                .titulo Promocard Virtual
                                .descripcion Mira beneficios con promocard
                                img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                            .collapse--content
                                .card
                                    .card--content
                                        .card--content__portada
                                            img(src="images/fotografia/portada-default.jpg", alt="")
                                            span.tag Promocard Virtual
                                        .card--content__body
                                            .logo
                                                img(src="images/marcas/repsol.jpg", alt="")
                                            p.titulo Repsol
                                            .descripcion
                                                p Descuentos de hasta 50% estaciones de servicio Repsol.
                                        .card--content__footer
                                            .descripcion
                                                p Hasta 50% de descuento
                                            small.vigencia Vigencia
                                                b 3 días
                        .collapse--item
                            a.collapse--action(href="#!")
                                .titulo Vales consumidos
                                .descripcion Esto es todo lo que has consumido
                                img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                            .collapse--content

                        .collapse--item
                            a.collapse--action(href="#!")
                                .titulo Vales regalados
                                .descripcion Mira los vales que has regalado
                                img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                            .collapse--content

                        .collapse--item
                            a.collapse--action(href="#!")
                                .titulo Mis regalos
                                .descripcion Mira lo que tus amigos te han regalado
                                img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                            .collapse--content

                        .collapse--item
                            a.collapse--action(href="#!")
                                .titulo Experiencias
                                .descripcion Has participado en estas experiencias
                                img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                            .collapse--content
            .tab--pane.hide
                .collapse
                    .collapse--list
                        .collapse--item.active
                            a.collapse--action(href="#!")
                                .titulo Promocard Virtual
                                .descripcion Mira beneficios con promocard
                                img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                            .collapse--content
                                a.card(href="#")
                                    .card--content
                                        .card--content__portada
                                            img(src="images/fotografia/portada-default.jpg", alt="")
                                            span.tag Promocard Virtual
                                        .card--content__body
                                            .logo
                                                img(src="images/marcas/repsol.jpg", alt="")
                                            p.titulo Repsol
                                            .descripcion
                                                p Descuentos de hasta 50% estaciones de servicio Repsol.
                                        .card--content__footer
                                            .descripcion
                                                p Hasta 50% de descuento
                                            small.vigencia Vigencia
                                                b 3 días
                        .collapse--item
                            a.collapse--action(href="#!")
                                .titulo Vales consumidos
                                .descripcion Esto es todo lo que has consumido
                                img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                            .collapse--content

.navbar--quick.navbar--fixed
    .container
        .navbar--quick-wrapper.row
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons(href="#")
                        span.icons--change
                            img.icon--inicio-color.icon--grey(src=iconSVG+'inicio-color.svg', alt="")
                            img.icon--inicio-color.icon--blue(src=iconSVG+'inicio-color-active.svg', alt="")
                        span.texto Inicio
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons.active(href="#")
                        span.icons--change
                            img.icon--mis-vales.icon--grey(src=iconSVG+'mis-vales.svg', alt="")
                            img.icon--mis-vales.icon--blue(src=iconSVG+'mis-vales-active.svg', alt="")
                        span.texto Mis vales
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons(href="#")
                        span.icons--change
                            img.icon--ayuda.icon--grey(src=iconSVG+'ayuda.svg', alt="")
                            img.icon--ayuda.icon--blue(src=iconSVG+'ayuda-active.svg', alt="")
                        span.texto Ayuda
            .col--links
                .col--links-box
                    a.nav--link.active(href="#")
                        span.nav--link-gema
                            img.icon--gema.icon--grey-gema(src="images/svg/icon-gema-disable.svg", alt="")
                            img.icon--gema.icon--blue-gema(src="images/svg/icon-gema.svg", alt="")

site/mis-vales-1.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <div class="navbar--secondary">
                <div class="container"><a class="navbar--secondary-return" href="#"><span class="icon">
                            <svg>
                                <use xlink:href="images/icons/icons.svg#icon-back"></use>
                            </svg></span></a>
                    <h2 class="titulo">Mis vales</h2>
                </div>
            </div>
            <div class="servicio--vales">
                <div class="tab">
                    <ul class="tab--nav">
                        <li class="tab--nav__item"><a class="tab--item__link active" href="!#">Mis Consumos</a></li>
                        <li class="tab--nav__item"><a class="tab--item__link" href="!#">Mi Lista</a></li>
                    </ul>
                    <div class="tab--content">
                        <div class="tab--pane show">
                            <div class="collapse">
                                <div class="collapse--list">
                                    <div class="collapse--item"><a class="collapse--action" href="#!">
                                            <div class="titulo">Promocard Virtual</div>
                                            <div class="descripcion">Mira beneficios con promocard</div><img class="icon" src="images/svg/icon-arrow-collapse.svg" alt=""></a>
                                        <div class="collapse--content">
                                            <div class="card">
                                                <div class="card--content">
                                                    <div class="card--content__portada"><img src="images/fotografia/portada-default.jpg" alt=""><span class="tag">Promocard Virtual</span></div>
                                                    <div class="card--content__body">
                                                        <div class="logo"><img src="images/marcas/repsol.jpg" alt=""></div>
                                                        <p class="titulo">Repsol</p>
                                                        <div class="descripcion">
                                                            <p>Descuentos de hasta 50% estaciones de servicio Repsol.</p>
                                                        </div>
                                                    </div>
                                                    <div class="card--content__footer">
                                                        <div class="descripcion">
                                                            <p>Hasta 50% de descuento</p>
                                                        </div><small class="vigencia">Vigencia<b>3 días</b></small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="collapse--item"><a class="collapse--action" href="#!">
                                            <div class="titulo">Vales consumidos</div>
                                            <div class="descripcion">Esto es todo lo que has consumido</div><img class="icon" src="images/svg/icon-arrow-collapse.svg" alt=""></a>
                                        <div class="collapse--content"></div>
                                    </div>
                                    <div class="collapse--item"><a class="collapse--action" href="#!">
                                            <div class="titulo">Vales regalados</div>
                                            <div class="descripcion">Mira los vales que has regalado</div><img class="icon" src="images/svg/icon-arrow-collapse.svg" alt=""></a>
                                        <div class="collapse--content"></div>
                                    </div>
                                    <div class="collapse--item"><a class="collapse--action" href="#!">
                                            <div class="titulo">Mis regalos</div>
                                            <div class="descripcion">Mira lo que tus amigos te han regalado</div><img class="icon" src="images/svg/icon-arrow-collapse.svg" alt=""></a>
                                        <div class="collapse--content"></div>
                                    </div>
                                    <div class="collapse--item"><a class="collapse--action" href="#!">
                                            <div class="titulo">Experiencias</div>
                                            <div class="descripcion">Has participado en estas experiencias</div><img class="icon" src="images/svg/icon-arrow-collapse.svg" alt=""></a>
                                        <div class="collapse--content"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab--pane hide">
                            <div class="collapse">
                                <div class="collapse--list">
                                    <div class="collapse--item active"><a class="collapse--action" href="#!">
                                            <div class="titulo">Promocard Virtual</div>
                                            <div class="descripcion">Mira beneficios con promocard</div><img class="icon" src="images/svg/icon-arrow-collapse.svg" alt=""></a>
                                        <div class="collapse--content"><a class="card" href="#">
                                                <div class="card--content">
                                                    <div class="card--content__portada"><img src="images/fotografia/portada-default.jpg" alt=""><span class="tag">Promocard Virtual</span></div>
                                                    <div class="card--content__body">
                                                        <div class="logo"><img src="images/marcas/repsol.jpg" alt=""></div>
                                                        <p class="titulo">Repsol</p>
                                                        <div class="descripcion">
                                                            <p>Descuentos de hasta 50% estaciones de servicio Repsol.</p>
                                                        </div>
                                                    </div>
                                                    <div class="card--content__footer">
                                                        <div class="descripcion">
                                                            <p>Hasta 50% de descuento</p>
                                                        </div><small class="vigencia">Vigencia<b>3 días</b></small>
                                                    </div>
                                                </div></a></div>
                                    </div>
                                    <div class="collapse--item"><a class="collapse--action" href="#!">
                                            <div class="titulo">Vales consumidos</div>
                                            <div class="descripcion">Esto es todo lo que has consumido</div><img class="icon" src="images/svg/icon-arrow-collapse.svg" alt=""></a>
                                        <div class="collapse--content"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar--quick navbar--fixed">
                <div class="container">
                    <div class="navbar--quick-wrapper row">
                        <div class="col--links">
                            <div class="col--links-box"><a class="nav--link nav--link-icons" href="#"><span class="icons--change"><img class="icon--inicio-color icon--grey" src="images/svg/icon-inicio-color.svg" alt=""><img class="icon--inicio-color icon--blue" src="images/svg/icon-inicio-color-active.svg" alt=""></span><span class="texto">Inicio</span></a></div>
                        </div>
                        <div class="col--links">
                            <div class="col--links-box"><a class="nav--link nav--link-icons active" href="#"><span class="icons--change"><img class="icon--mis-vales icon--grey" src="images/svg/icon-mis-vales.svg" alt=""><img class="icon--mis-vales icon--blue" src="images/svg/icon-mis-vales-active.svg" alt=""></span><span class="texto">Mis vales</span></a></div>
                        </div>
                        <div class="col--links">
                            <div class="col--links-box"><a class="nav--link nav--link-icons" href="#"><span class="icons--change"><img class="icon--ayuda icon--grey" src="images/svg/icon-ayuda.svg" alt=""><img class="icon--ayuda icon--blue" src="images/svg/icon-ayuda-active.svg" alt=""></span><span class="texto">Ayuda</span></a></div>
                        </div>
                        <div class="col--links">
                            <div class="col--links-box"><a class="nav--link active" href="#"><span class="nav--link-gema"><img class="icon--gema icon--grey-gema" src="images/svg/icon-gema-disable.svg" alt=""><img class="icon--gema icon--blue-gema" src="images/svg/icon-gema.svg" alt=""></span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>
