src/pug/includes/movistar-total.pug
.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Movistar Total
section.movistar--total
    article.container
        h1.titulo ¿Conoces qué es 
            b Movistar Total?
        .movistar-servicio
            .servicio--list
                .servicio--item
                    img.icono(src="images/servicio/internet.png", alt="", height="23px")
                    .descripcion Internet
                span.icon: svg: use(xlink:href=iconPath+'plus')
                .servicio--item
                    img.icono(src="images/servicio/tv.png", alt="",  height="20px")
                    .descripcion TV
                span.icon: svg: use(xlink:href=iconPath+'plus')
                .servicio--item
                    img.icono(src="images/servicio/fijo.png", alt="" height="20px")
                    .descripcion Fijo
                span.icon: svg: use(xlink:href=iconPath+'plus')
                .servicio--item
                    img.icono(src="images/servicio/movil.png", alt="" height="29px")
                    .descripcion Móvil
        p.descripcion Es la unión de tus servicios Móvil, fijo, Internet y TV en un solo combo.
        p.descripcion Solo con Movistar Total tendrás:
        ul.lista--detalle
            li.lista--detalle__item.row.no-gutters        
                .col-3.icono: img(src=iconSVG+'equipo.svg', alt="")
                .col-9.detalle
                    .titulo Equipos
                    .descripcion con cuota inicial S/0 y a precios especiales.
            li.lista--detalle__item.row.no-gutters  
                .col-3.icono: img(src="images/app/netflix.png", alt="")
                .col-9.detalle
                    .titulo Netflix
                    .descripcion hasta 6 meses gratis.
            li.lista--detalle__item.row.no-gutters  
                .col-3.icono: img(src=iconSVG+'ahorro.svg', alt="")
                .col-9.detalle
                    .titulo Ahorro
                    .descripcion de hasta S/900 anuales.
            li.lista--detalle__item.row.no-gutters  
                .col-3.icono: img(src=iconSVG+'acceso.svg', alt="")
                .col-9.detalle
                    .titulo Acceso
                    .descripcion a un mayor número de beneficios en Movistar Prix.
    .button--send.pos--fixed
        .container
            a(href="").btn.btn--default DESCARGAR EL APP

site/movistar-total.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <div class="navbar--secondary">
                <div class="container"><a class="navbar--secondary-return" href="#"><span class="icon">
                            <svg>
                                <use xlink:href="images/icons/icons.svg#icon-back"></use>
                            </svg></span></a>
                    <h2 class="titulo">Movistar Total</h2>
                </div>
            </div>
            <section class="movistar--total">
                <article class="container">
                    <h1 class="titulo">¿Conoces qué es <b>Movistar Total?</b></h1>
                    <div class="movistar-servicio">
                        <div class="servicio--list">
                            <div class="servicio--item"><img class="icono" src="images/servicio/internet.png" alt="" height="23px">
                                <div class="descripcion">Internet</div>
                            </div><span class="icon">
                                <svg>
                                    <use xlink:href="images/icons/icons.svg#icon-plus"></use>
                                </svg></span>
                            <div class="servicio--item"><img class="icono" src="images/servicio/tv.png" alt="" height="20px">
                                <div class="descripcion">TV</div>
                            </div><span class="icon">
                                <svg>
                                    <use xlink:href="images/icons/icons.svg#icon-plus"></use>
                                </svg></span>
                            <div class="servicio--item"><img class="icono" src="images/servicio/fijo.png" alt="" height="20px">
                                <div class="descripcion">Fijo</div>
                            </div><span class="icon">
                                <svg>
                                    <use xlink:href="images/icons/icons.svg#icon-plus"></use>
                                </svg></span>
                            <div class="servicio--item"><img class="icono" src="images/servicio/movil.png" alt="" height="29px">
                                <div class="descripcion">Móvil</div>
                            </div>
                        </div>
                    </div>
                    <p class="descripcion">Es la unión de tus servicios Móvil, fijo, Internet y TV en un solo combo.</p>
                    <p class="descripcion">Solo con Movistar Total tendrás:</p>
                    <ul class="lista--detalle">
                        <li class="lista--detalle__item row no-gutters">       
                            <div class="col-3 icono"><img src="images/svg/icon-equipo.svg" alt=""></div>
                            <div class="col-9 detalle">
                                <div class="titulo">Equipos</div>
                                <div class="descripcion">con cuota inicial S/0 y a precios especiales.</div>
                            </div>
                        </li>
                        <li class="lista--detalle__item row no-gutters"> 
                            <div class="col-3 icono"><img src="images/app/netflix.png" alt=""></div>
                            <div class="col-9 detalle">
                                <div class="titulo">Netflix</div>
                                <div class="descripcion">hasta 6 meses gratis.</div>
                            </div>
                        </li>
                        <li class="lista--detalle__item row no-gutters"> 
                            <div class="col-3 icono"><img src="images/svg/icon-ahorro.svg" alt=""></div>
                            <div class="col-9 detalle">
                                <div class="titulo">Ahorro</div>
                                <div class="descripcion">de hasta S/900 anuales.</div>
                            </div>
                        </li>
                        <li class="lista--detalle__item row no-gutters"> 
                            <div class="col-3 icono"><img src="images/svg/icon-acceso.svg" alt=""></div>
                            <div class="col-9 detalle">
                                <div class="titulo">Acceso</div>
                                <div class="descripcion">a un mayor número de beneficios en Movistar Prix.</div>
                            </div>
                        </li>
                    </ul>
                </article>
                <div class="button--send pos--fixed">
                    <div class="container"><a class="btn btn--default" href="">DESCARGAR EL APP</a></div>
                </div>
            </section>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>
