site/movistar-total-sorteo.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <div class="navbar--secondary">
                <div class="container"><a class="navbar--secondary-return" href="#"><span class="icon">
                            <svg>
                                <use xlink:href="images/icons/icons.svg#icon-back"></use>
                            </svg></span></a>
                    <h2 class="titulo">Movistar Total</h2>
                </div>
            </div>
            <section class="movistar--total__beneficio">
                <div class="tab">
                    <ul class="tab--nav">
                        <li class="tab--nav__item"><a class="tab--item__link" href="!#">Beneficio</a></li>
                        <li class="tab--nav__item"><a class="tab--item__link active" href="!#">Sorteos</a></li>
                    </ul>
                    <div class="tab--content">
                        <div class="tab--pane hide"></div>
                        <div class="tab--pane show">
                            <div class="card--vertical">
                                <div class="sidebar--flex card--active">
                                    <div class="card--sidebar back-ice_blue">
                                        <div class="card--content__body">
                                            <div class="titulo">¡Todo esto podría ser tuyo!</div>
                                            <div class="descripcion">Sólo tienes que ser parte de la Zona Movistar Total y tendrás esto y mucho más…</div><img class="icono" src="images/svg/icon-gema-active.svg" alt="">
                                        </div>
                                    </div><a class="card--content" href="#">
                                        <div class="card--content__body">
                                            <div class="titulo">¡No te pierdas Avengers!</div>
                                            <div class="descripcion">¡Participa por entradas dobles para el Avant Premiere de Avengers!</div>
                                            <button class="btn btn--flat btn--flat-blue" type="button">Más información</button>
                                        </div>
                                        <div class="card--content__portada"><img src="images/fotografia/portada-vertical.jpg" alt="">
                                            <button class="icon-swipe" type="button"><img src="images/svg/icon-gema-swipe.svg" alt=""></button>
                                        </div></a>
                                </div>
                            </div>
                            <div class="card--vertical">
                                <div class="sidebar--flex">
                                    <div class="card--sidebar back-ice_blue">
                                        <div class="card--content__body">
                                            <div class="titulo">¡Todo esto podría ser tuyo!</div>
                                            <div class="descripcion">Sólo tienes que ser parte de la Zona Movistar Total y tendrás esto y mucho más…</div><img class="icono" src="images/svg/icon-gema-active.svg" alt="">
                                        </div>
                                    </div><a class="card--content" href="#">
                                        <div class="card--content__body">
                                            <div class="titulo">¡No te pierdas Avengers!</div>
                                            <div class="descripcion">¡Participa por entradas dobles para el Avant Premiere de Avengers!</div>
                                            <button class="btn btn--flat btn--flat-blue" type="button">Más información</button>
                                        </div>
                                        <div class="card--content__portada"><img src="images/fotografia/portada-vertical.jpg" alt="">
                                            <button class="icon-swipe" type="button"><img src="images/svg/icon-gema-swipe.svg" alt=""></button>
                                        </div></a>
                                </div>
                            </div>
                            <div class="card--vertical">
                                <div class="sidebar--flex">
                                    <div class="card--sidebar back-ice_blue">
                                        <div class="card--content__body">
                                            <div class="titulo">¡Todo esto podría ser tuyo!</div>
                                            <div class="descripcion">Sólo tienes que ser parte de la Zona Movistar Total y tendrás esto y mucho más…</div><img class="icono" src="images/svg/icon-gema-active.svg" alt="">
                                        </div>
                                    </div><a class="card--content" href="#">
                                        <div class="card--content__body">
                                            <div class="titulo">¡No te pierdas Avengers!</div>
                                            <div class="descripcion">¡Participa por entradas dobles para el Avant Premiere de Avengers!</div>
                                            <button class="btn btn--flat btn--flat-blue" type="button">Más información</button>
                                        </div>
                                        <div class="card--content__portada"><img src="images/fotografia/portada-vertical.jpg" alt="">
                                            <button class="icon-swipe" type="button"><img src="images/svg/icon-gema-swipe.svg" alt=""></button>
                                        </div></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="button--send pos--fixed">
                    <div class="container"><a class="btn btn--default" href="">DESCARGAR EL APP</a></div>
                </div>
            </section>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>

src/pug/includes/movistar-total-sorteo.pug
.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Movistar Total
section.movistar--total__beneficio
    .tab
        ul.tab--nav
            li.tab--nav__item
                a.tab--item__link(href="!#") Beneficio
            li.tab--nav__item
                a.tab--item__link.active(href="!#") Sorteos
        .tab--content
            .tab--pane.hide
                
            .tab--pane.show
                .card--vertical
                    .sidebar--flex.card--active
                        .card--sidebar.back-ice_blue
                            .card--content__body
                                .titulo ¡Todo esto podría ser tuyo!
                                .descripcion Sólo tienes que ser parte de la Zona Movistar Total y tendrás esto y mucho más…
                                img.icono(src="images/svg/icon-gema-active.svg", alt="")
                        a.card--content(href="#")
                            .card--content__body
                                .titulo ¡No te pierdas Avengers!
                                .descripcion ¡Participa por entradas dobles para el Avant Premiere de Avengers!
                                button.btn.btn--flat.btn--flat-blue(type="button") Más información
                            .card--content__portada
                                img(src="images/fotografia/portada-vertical.jpg", alt="")
                                button.icon-swipe(type="button"): img(src=iconSVG+"gema-swipe.svg", alt="")
                .card--vertical
                    .sidebar--flex
                        .card--sidebar.back-ice_blue
                            .card--content__body
                                .titulo ¡Todo esto podría ser tuyo!
                                .descripcion Sólo tienes que ser parte de la Zona Movistar Total y tendrás esto y mucho más…
                                img.icono(src="images/svg/icon-gema-active.svg", alt="")
                        a.card--content(href="#")
                            .card--content__body
                                .titulo ¡No te pierdas Avengers!
                                .descripcion ¡Participa por entradas dobles para el Avant Premiere de Avengers!
                                button.btn.btn--flat.btn--flat-blue(type="button") Más información
                            .card--content__portada
                                img(src="images/fotografia/portada-vertical.jpg", alt="")
                                button.icon-swipe(type="button"): img(src=iconSVG+"gema-swipe.svg", alt="")
                .card--vertical
                    .sidebar--flex
                        .card--sidebar.back-ice_blue
                            .card--content__body
                                .titulo ¡Todo esto podría ser tuyo!
                                .descripcion Sólo tienes que ser parte de la Zona Movistar Total y tendrás esto y mucho más…
                                img.icono(src="images/svg/icon-gema-active.svg", alt="")
                        a.card--content(href="#")
                            .card--content__body
                                .titulo ¡No te pierdas Avengers!
                                .descripcion ¡Participa por entradas dobles para el Avant Premiere de Avengers!
                                button.btn.btn--flat.btn--flat-blue(type="button") Más información
                            .card--content__portada
                                img(src="images/fotografia/portada-vertical.jpg", alt="")
                                button.icon-swipe(type="button"): img(src=iconSVG+"gema-swipe.svg", alt="")
                
    .button--send.pos--fixed
        .container
            a(href="").btn.btn--default DESCARGAR EL APP
