src/pug/includes/movistar-total-beneficio.pug
.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Movistar Total
section.movistar--total__beneficio
    .tab
        ul.tab--nav
            li.tab--nav__item
                a.tab--item__link.active(href="!#") Beneficio
            li.tab--nav__item
                a.tab--item__link(href="!#") Sorteos
        .tab--content
            .tab--pane.show
                .card
                    .sidebar--flex.card--active
                        .card--sidebar.back-ice_blue 
                            .card--content__body
                                .titulo ¡Todo esto podría ser tuyo!
                                .descripcion Sólo tienes que ser parte de la Zona Movistar Total y tendrás esto y mucho más…
                                img.icono(src="images/svg/icon-gema-active.svg", alt="")
                        a.card--content(href="#")
                            .card--content__portada
                                img(src="images/fotografia/portada-default.jpg", alt="")
                                button.icon-swipe(type="button"): img(src=iconSVG+"gema-swipe.svg", alt="")
                            .card--content__body
                                img.logo(src="images/fotografia/repsol.jpg", alt="")
                                .titulo Repsol
                                .descripcion Descuentos de hasta 50% estaciones de servicio Repsol.
                            .card--content__footer.back-ice_blue
                                .descripcion
                                    p Hasta 50% de descuento
                                        span.text--small Canjéalo aquí
                                small.vigencia Vigencia
                                    b 3 días
                .card
                    .sidebar--flex
                        .card--sidebar.back-ice_blue 
                            .card--content__body
                                .titulo ¡Todo esto podría ser tuyo!
                                .descripcion Sólo tienes que ser parte de la Zona Movistar Total y tendrás esto y mucho más…
                                img.icono(src="images/svg/icon-gema-active.svg", alt="")
                        a.card--content(href="#")
                            .card--content__portada
                                img(src="images/fotografia/portada-default.jpg", alt="")
                                button.icon-swipe(type="button"): img(src=iconSVG+"gema-swipe.svg", alt="")
                            .card--content__body
                                img.logo(src="images/fotografia/repsol.jpg", alt="")
                                .titulo Repsol
                                .descripcion Descuentos de hasta 50% estaciones de servicio Repsol.
                            .card--content__footer.back-ice_blue
                                .descripcion
                                    p Hasta 50% de descuento
                                        span.text--small Canjéalo aquí
                                small.vigencia Vigencia
                                    b 3 días
                .card
                    .sidebar--flex
                        .card--sidebar.back-ice_blue 
                            .card--content__body
                                .titulo ¡Todo esto podría ser tuyo!
                                .descripcion Sólo tienes que ser parte de la Zona Movistar Total y tendrás esto y mucho más…
                                img.icono(src="images/svg/icon-gema-active.svg", alt="")
                        a.card--content(href="#")
                            .card--content__portada
                                img(src="images/fotografia/portada-default.jpg", alt="")
                                button.icon-swipe(type="button"): img(src=iconSVG+"gema-swipe.svg", alt="")
                            .card--content__body
                                img.logo(src="images/fotografia/repsol.jpg", alt="")
                                .titulo Repsol
                                .descripcion Descuentos de hasta 50% estaciones de servicio Repsol.
                            .card--content__footer.back-ice_blue
                                .descripcion
                                    p Hasta 50% de descuento
                                        span.text--small Canjéalo aquí
                                small.vigencia Vigencia
                                    b 3 días
            .tab--pane.hide
                
.btn--float.pos--fixed
    .container
        .btn--float-box
            a.btn.btn--default(href="#") Descargar el app
            

site/movistar-total-beneficio.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <div class="navbar--secondary">
                <div class="container"><a class="navbar--secondary-return" href="#"><span class="icon">
                            <svg>
                                <use xlink:href="images/icons/icons.svg#icon-back"></use>
                            </svg></span></a>
                    <h2 class="titulo">Movistar Total</h2>
                </div>
            </div>
            <section class="movistar--total__beneficio">
                <div class="tab">
                    <ul class="tab--nav">
                        <li class="tab--nav__item"><a class="tab--item__link active" href="!#">Beneficio</a></li>
                        <li class="tab--nav__item"><a class="tab--item__link" href="!#">Sorteos</a></li>
                    </ul>
                    <div class="tab--content">
                        <div class="tab--pane show">
                            <div class="card">
                                <div class="sidebar--flex card--active">
                                    <div class="card--sidebar back-ice_blue"> 
                                        <div class="card--content__body">
                                            <div class="titulo">¡Todo esto podría ser tuyo!</div>
                                            <div class="descripcion">Sólo tienes que ser parte de la Zona Movistar Total y tendrás esto y mucho más…</div><img class="icono" src="images/svg/icon-gema-active.svg" alt="">
                                        </div>
                                    </div><a class="card--content" href="#">
                                        <div class="card--content__portada"><img src="images/fotografia/portada-default.jpg" alt="">
                                            <button class="icon-swipe" type="button"><img src="images/svg/icon-gema-swipe.svg" alt=""></button>
                                        </div>
                                        <div class="card--content__body"><img class="logo" src="images/fotografia/repsol.jpg" alt="">
                                            <div class="titulo">Repsol</div>
                                            <div class="descripcion">Descuentos de hasta 50% estaciones de servicio Repsol.</div>
                                        </div>
                                        <div class="card--content__footer back-ice_blue">
                                            <div class="descripcion">
                                                <p>Hasta 50% de descuento<span class="text--small">Canjéalo aquí</span></p>
                                            </div><small class="vigencia">Vigencia<b>3 días</b></small>
                                        </div></a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="sidebar--flex">
                                    <div class="card--sidebar back-ice_blue"> 
                                        <div class="card--content__body">
                                            <div class="titulo">¡Todo esto podría ser tuyo!</div>
                                            <div class="descripcion">Sólo tienes que ser parte de la Zona Movistar Total y tendrás esto y mucho más…</div><img class="icono" src="images/svg/icon-gema-active.svg" alt="">
                                        </div>
                                    </div><a class="card--content" href="#">
                                        <div class="card--content__portada"><img src="images/fotografia/portada-default.jpg" alt="">
                                            <button class="icon-swipe" type="button"><img src="images/svg/icon-gema-swipe.svg" alt=""></button>
                                        </div>
                                        <div class="card--content__body"><img class="logo" src="images/fotografia/repsol.jpg" alt="">
                                            <div class="titulo">Repsol</div>
                                            <div class="descripcion">Descuentos de hasta 50% estaciones de servicio Repsol.</div>
                                        </div>
                                        <div class="card--content__footer back-ice_blue">
                                            <div class="descripcion">
                                                <p>Hasta 50% de descuento<span class="text--small">Canjéalo aquí</span></p>
                                            </div><small class="vigencia">Vigencia<b>3 días</b></small>
                                        </div></a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="sidebar--flex">
                                    <div class="card--sidebar back-ice_blue"> 
                                        <div class="card--content__body">
                                            <div class="titulo">¡Todo esto podría ser tuyo!</div>
                                            <div class="descripcion">Sólo tienes que ser parte de la Zona Movistar Total y tendrás esto y mucho más…</div><img class="icono" src="images/svg/icon-gema-active.svg" alt="">
                                        </div>
                                    </div><a class="card--content" href="#">
                                        <div class="card--content__portada"><img src="images/fotografia/portada-default.jpg" alt="">
                                            <button class="icon-swipe" type="button"><img src="images/svg/icon-gema-swipe.svg" alt=""></button>
                                        </div>
                                        <div class="card--content__body"><img class="logo" src="images/fotografia/repsol.jpg" alt="">
                                            <div class="titulo">Repsol</div>
                                            <div class="descripcion">Descuentos de hasta 50% estaciones de servicio Repsol.</div>
                                        </div>
                                        <div class="card--content__footer back-ice_blue">
                                            <div class="descripcion">
                                                <p>Hasta 50% de descuento<span class="text--small">Canjéalo aquí</span></p>
                                            </div><small class="vigencia">Vigencia<b>3 días</b></small>
                                        </div></a>
                                </div>
                            </div>
                        </div>
                        <div class="tab--pane hide"></div>
                    </div>
                </div>
            </section>
            <div class="btn--float pos--fixed">
                <div class="container">
                    <div class="btn--float-box"><a class="btn btn--default" href="#">Descargar el app</a></div>
                </div>
            </div>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>
