src/pug/includes/movistar-total-app.pug
.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
section.movistar--total__prix
    .container
        .app-prix__media
            .media
                img.img-app__prix.media--self-top(src="images/app/prix.png", alt="")
                .media--body
                    .descripcion
                        p Descarga la experiencia completa #[b Movistar Prix]
        .app-prix__content
            h2.titulo ¡Sorpréndete y vive toda la experiencia!
            .descripcion
                p Disfruta de este programa de agradecimiento con beneficios y sorteos únicos para ti ¡Solo por ser Movistar!
                p ¿Qué esperas? Descarga la aplicación y disfruta de todas las funciones que Movistar Prix tiene para ti.
        .app-prix__buttons
            .row
                .col-6
                    a.btn.btn--flat-apps(href="")
                        img.app-prix__icon(src="images/app/android.png", alt="") 
                        span.app-prix__title Google Play
                .col-6
                    a.btn.btn--flat-apps(href="")
                        img.app-prix__icon(src="images/app/apple.png", alt="") 
                        span.app-prix__title App Store

site/movistar-total-app.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <div class="navbar--secondary">
                <div class="container"><a class="navbar--secondary-return" href="#"><span class="icon">
                            <svg>
                                <use xlink:href="images/icons/icons.svg#icon-back"></use>
                            </svg></span></a></div>
            </div>
            <section class="movistar--total__prix">
                <div class="container">
                    <div class="app-prix__media">
                        <div class="media"><img class="img-app__prix media--self-top" src="images/app/prix.png" alt="">
                            <div class="media--body">
                                <div class="descripcion">
                                    <p>Descarga la experiencia completa <b>Movistar Prix</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="app-prix__content">
                        <h2 class="titulo">¡Sorpréndete y vive toda la experiencia!</h2>
                        <div class="descripcion">
                            <p>Disfruta de este programa de agradecimiento con beneficios y sorteos únicos para ti ¡Solo por ser Movistar!</p>
                            <p>¿Qué esperas? Descarga la aplicación y disfruta de todas las funciones que Movistar Prix tiene para ti.</p>
                        </div>
                    </div>
                    <div class="app-prix__buttons">
                        <div class="row">
                            <div class="col-6"><a class="btn btn--flat-apps" href=""><img class="app-prix__icon" src="images/app/android.png" alt=""><span class="app-prix__title">Google Play</span></a></div>
                            <div class="col-6"><a class="btn btn--flat-apps" href=""><img class="app-prix__icon" src="images/app/apple.png" alt=""><span class="app-prix__title">App Store</span></a></div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>
