src/pug/includes/perfil-1.pug
.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Perfil
.perfil
    .perfil--header-1
        .container
            .perfil--box
                .media
                    .perfil--foto.media--self-top
                        img(src="images/fotografia/perfil-foto.png", alt="")
                    .media--body
                        .perfil--name
                            h2.titulo Luciana
                            a.badge.badge--flat-blue(href="#") Editar perfil
                        .zona--movistar 
                            span.gema-img
                                img(src=iconSVG+"gema-morada-1.svg", alt="")
                            span.gema-txt ¡Perteneces a Zona Movistar!
                        span.telefono 999 789 678
    .perfil--info
        .container
            ul.collection--list
                li.collection--list-item
                    a.item--link.link--icon(href="#") Mi Zona
                        span.icon: svg: use(xlink:href=iconPath+'right-arrow')
                li.collection--list-item
                    a.item--link.link--icon(href="#") Mis Vales
                        span.icon: svg: use(xlink:href=iconPath+'right-arrow')

site/perfil-1.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <div class="navbar--secondary">
                <div class="container"><a class="navbar--secondary-return" href="#"><span class="icon">
                            <svg>
                                <use xlink:href="images/icons/icons.svg#icon-back"></use>
                            </svg></span></a>
                    <h2 class="titulo">Perfil</h2>
                </div>
            </div>
            <div class="perfil">
                <div class="perfil--header-1">
                    <div class="container">
                        <div class="perfil--box">
                            <div class="media">
                                <div class="perfil--foto media--self-top"><img src="images/fotografia/perfil-foto.png" alt=""></div>
                                <div class="media--body">
                                    <div class="perfil--name">
                                        <h2 class="titulo">Luciana</h2><a class="badge badge--flat-blue" href="#">Editar perfil</a>
                                    </div>
                                    <div class="zona--movistar"> <span class="gema-img"><img src="images/svg/icon-gema-morada-1.svg" alt=""></span><span class="gema-txt">¡Perteneces a Zona Movistar!</span></div><span class="telefono">999 789 678</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="perfil--info">
                    <div class="container">
                        <ul class="collection--list">
                            <li class="collection--list-item"><a class="item--link link--icon" href="#">Mi Zona<span class="icon">
                                        <svg>
                                            <use xlink:href="images/icons/icons.svg#icon-right-arrow"></use>
                                        </svg></span></a></li>
                            <li class="collection--list-item"><a class="item--link link--icon" href="#">Mis Vales<span class="icon">
                                        <svg>
                                            <use xlink:href="images/icons/icons.svg#icon-right-arrow"></use>
                                        </svg></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>
