site/perfil-3.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <div class="navbar--secondary">
                <div class="container"><a class="navbar--secondary-return" href="#"><span class="icon">
                            <svg>
                                <use xlink:href="images/icons/icons.svg#icon-back"></use>
                            </svg></span></a>
                    <h2 class="titulo">Perfil</h2>
                </div>
            </div>
            <div class="perfil">
                <div class="perfil--header-2">
                    <div class="container">
                        <div class="perfil--box">
                            <div class="perfil--foto"><img src="images/fotografia/perfil-foto.png" alt=""></div><a href="#">Cambio foto de perfil</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="perfil--form mg-70">
                <div class="container">
                    <div class="perfil--progress">
                        <ul class="perfil--progress-bar">
                            <li class="progress--item bar--red">
                                <div class="progress--bar"></div>
                            </li>
                            <li class="progress--item bar--red">
                                <div class="progress--bar"></div>
                            </li>
                            <li class="progress--item bar--red">
                                <div class="progress--bar"></div>
                            </li>
                            <li class="progress--item bar--red">
                                <div class="progress--bar"></div>
                            </li>
                            <li class="progress--item bar--red">
                                <div class="progress--bar"></div>
                            </li>
                            <li class="progress--item bar--red">
                                <div class="progress--bar"></div>
                            </li>
                            <li class="progress--item bar--red">
                                <div class="progress--bar"></div>
                            </li>
                            <li class="progress--item bar--red">
                                <div class="progress--bar"></div>
                            </li>
                            <li class="progress--item bar--red">
                                <div class="progress--bar"></div>
                            </li>
                            <li class="progress--item">
                                <div class="progress--bar"></div>
                            </li>
                            <li class="progress--item">
                                <div class="progress--bar"></div>
                            </li>
                            <li class="progress--item">
                                <div class="progress--bar"></div>
                            </li>
                        </ul>
                        <div class="descripcion">
                            <p>Te falta llenar <b>2 datos</b>. ¡Complétalo para recibir un <b>beneficio!</b></p>
                        </div>
                    </div>
                    <form class="form" action="">
                        <div class="collapse--list">
                            <div class="collapse--item active"><a class="collapse--action" href="#!">
                                    <div class="titulo">Mi identidad</div><img class="icon" src="images/svg/icon-arrow-collapse.svg" alt=""></a>
                                <div class="collapse--content">
                                    <div class="form--group">
                                        <input class="form--control" id="name" type="text" name="name" value="Luciana" required="">
                                        <label class="control--label" for="name">Nombres</label><span class="bar"></span>
                                    </div>
                                    <div class="form--group">
                                        <input class="form--control" id="last" type="text" name="last" required="">
                                        <label class="control--label" for="last">Apellidos</label><span class="bar"></span>
                                    </div>
                                    <div class="form--group">
                                        <input class="form--control" id="dni" type="text" name="dni" required="">
                                        <label class="control--label" for="dni">DNI</label><span class="bar"></span>
                                    </div>
                                    <div class="form--group">
                                        <input class="form--control" id="email" type="email" name="email" required="">
                                        <label class="control--label" for="email">Email</label><span class="bar"></span>
                                    </div>
                                    <div class="form--group">
                                        <input class="form--control" id="birthday" type="text" name="birthday" required="">
                                        <label class="control--label" for="birthday">Cumpleaños</label><span class="bar"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="collapse--item active"><a class="collapse--action" href="#!">
                                    <div class="titulo">Mi entorno</div><img class="icon" src="images/svg/icon-arrow-collapse.svg" alt=""></a>
                                <div class="collapse--content">
                                    <div class="form--group">
                                        <input class="form--control" id="q1" type="text" name="q1" required="">
                                        <label class="control--label" for="q1">¿Cuál es tu héroe favorito?</label><span class="bar"></span>
                                    </div>
                                    <div class="form--group">
                                        <input class="form--control" id="q2" type="text" name="q2" required="">
                                        <label class="control--label" for="q2">¿Cuál es el número telefónico de tu casa?</label><span class="bar"></span>
                                    </div>
                                    <div class="form--group">
                                        <input class="form--control" id="q3" type="text" name="q3" required="">
                                        <label class="control--label" for="q3">¿Cuál es tu dirección?</label><span class="bar"></span>
                                    </div>
                                    <div class="form--group">
                                        <select class="form--control" id="departamento" name="departamento">
                                            <option value="">Selecciona tu Departamento</option>
                                            <option value="Ancash">Ancash</option>
                                        </select>
                                        <label class="control--label" for="departamento">Departamento</label><span class="bar"></span>
                                    </div>
                                    <div class="form--group">
                                        <select class="form--control" id="provincia" name="provincia">
                                            <option value="">Selecciona tu Provincia</option>
                                            <option value="Ancash">Ancash</option>
                                        </select>
                                        <label class="control--label" for="provincia">Provincia</label><span class="bar"></span>
                                    </div>
                                    <div class="form--group">
                                        <select class="form--control" id="Distrito" name="Distrito">
                                            <option value="">Selecciona tu Distrito</option>
                                            <option value="Ancash">Ancash</option>
                                        </select>
                                        <label class="control--label" for="Distrito">Distrito</label><span class="bar"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn--float pos--fixed">
                            <div class="container">
                                <div class="btn--float-box">
                                    <button class="btn btn--default" type="submit">Actualizar             </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>

src/pug/includes/perfil-3.pug
.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Perfil
.perfil
    .perfil--header-2
        .container
            .perfil--box
                .perfil--foto
                    img(src="images/fotografia/perfil-foto.png", alt="")
                a(href="#") Cambio foto de perfil
.perfil--form.mg-70
    .container
        .perfil--progress
            ul.perfil--progress-bar
                li.progress--item.bar--red
                    .progress--bar
                li.progress--item.bar--red
                    .progress--bar
                li.progress--item.bar--red
                    .progress--bar
                li.progress--item.bar--red
                    .progress--bar
                li.progress--item.bar--red
                    .progress--bar
                li.progress--item.bar--red
                    .progress--bar
                li.progress--item.bar--red
                    .progress--bar
                li.progress--item.bar--red
                    .progress--bar
                li.progress--item.bar--red
                    .progress--bar
                li.progress--item
                    .progress--bar
                li.progress--item
                    .progress--bar
                li.progress--item
                    .progress--bar
            .descripcion
                p Te falta llenar #[b 2 datos]. ¡Complétalo para recibir un #[b beneficio!]
        form.form(action="")
            .collapse--list
                .collapse--item.active
                    a.collapse--action(href="#!")
                        .titulo Mi identidad
                        img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                    .collapse--content
                        .form--group
                            input.form--control#name(type="text", name="name", value="Luciana", required="")
                            label.control--label(for="name") Nombres
                            span.bar
                        .form--group
                            input.form--control#last(type="text", name="last", required="")
                            label.control--label(for="last") Apellidos
                            span.bar
                        .form--group
                            input.form--control#dni(type="text", name="dni", required="")
                            label.control--label(for="dni") DNI
                            span.bar
                        .form--group
                            input.form--control#email(type="email", name="email", required="")
                            label.control--label(for="email") Email
                            span.bar
                        .form--group
                            input.form--control#birthday(type="text", name="birthday", required="")
                            label.control--label(for="birthday") Cumpleaños
                            span.bar
                .collapse--item.active
                    a.collapse--action(href="#!")
                        .titulo Mi entorno
                        img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                    .collapse--content
                        .form--group
                            input.form--control#q1(type="text", name="q1", required="")
                            label.control--label(for="q1") ¿Cuál es tu héroe favorito?
                            span.bar
                        .form--group
                            input.form--control#q2(type="text", name="q2", required="")
                            label.control--label(for="q2") ¿Cuál es el número telefónico de tu casa?
                            span.bar
                        .form--group
                            input.form--control#q3(type="text", name="q3", required="")
                            label.control--label(for="q3") ¿Cuál es tu dirección?
                            span.bar
                        .form--group
                            select.form--control#departamento(name="departamento")
                                option(value="") Selecciona tu Departamento
                                option(value="Ancash") Ancash
                            label.control--label(for="departamento") Departamento
                            span.bar
                        .form--group
                            select.form--control#provincia(name="provincia")
                                option(value="") Selecciona tu Provincia
                                option(value="Ancash") Ancash
                            label.control--label(for="provincia") Provincia
                            span.bar
                        .form--group
                            select.form--control#Distrito(name="Distrito")
                                option(value="") Selecciona tu Distrito
                                option(value="Ancash") Ancash
                            label.control--label(for="Distrito") Distrito
                            span.bar
            .btn--float.pos--fixed
                .container
                    .btn--float-box
                        button.btn.btn--default(type="submit") Actualizar             
