site/servicio-2.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <nav class="navbar--secondary">
                <div class="container"><a class="navbar--secondary-return" href="#"><span class="icon">
                            <svg>
                                <use xlink:href="images/icons/icons.svg#icon-back"></use>
                            </svg></span></a>
                    <h2 class="titulo">Servicios</h2>
                </div>
            </nav>
            <section class="servicio--detalle">
                <div class="portada">
                    <div class="portada--image"><img src="images/fotografia/portada-default.jpg" alt=""></div>
                    <div class="portada--box container">
                        <div class="box--head"><img class="logo" src="images/fotografia/repsol-detalle.png" alt="">
                            <h2 class="titulo">Repsol</h2>
                        </div>
                        <div class="box--body"><span class="descripcion">Quedan: <b>50 beneficios.</b></span></div>
                        <button class="btn btn--heart"><img class="img-heart" src="images/svg/icon-heart-1.svg" alt=""><img class="img-like" src="images/svg/icon-heart-red.svg" alt=""></button>
                    </div>
                </div>
                <div class="alerta alerta--info">
                    <div class="container">
                        <p class="alerta__descripcion">La Promocard Virtual llegará en un <br> aproximado de 3 días</p>
                    </div>
                </div>
                <div class="servicio--detalle__content">
                    <div class="container">
                        <div class="servicio--media-box">
                            <div class="media media--box-icons">
                                <div class="media--img-icon media--self-start"><img class="img--icon__servicio" src="images/svg/icon-servicio.svg" alt=""></div>
                                <div class="media--body">
                                    <p class="titulo">Descuentos de hasta 50% en estaciones de servicio</p>
                                </div>
                            </div>
                        </div>
                        <div class="descripcion">
                            <p>¡Ahora podrás disfrutar de tu descuento más fácil!</p>
                            <p>Presentando tu Promocard Virtual desde tu Smartphone, disfruta de tu promoción gracias a Prix</p>
                        </div>
                        <div class="servicio--vigencia">
                            <div class="row no-gutters">
                                <div class="col-9"> <span class="vigencia__promo">2 x 1</span><span class="vigencia__descripcion">Promoción válida sólo para Big Mac </span></div>
                                <div class="col-3"><span class="vigencia__txt txt--right">Vigencia</span><span class="vigencia__dias txt--right">3 días</span></div>
                            </div>
                        </div>
                        <div class="descripcion">
                            <p><b>¿Qué es lo que tienes que saber?</b></p>
                            <ul>
                                <li>Incluye un Moka Capuccino tamaño mediano.</li>
                                <li>Válido en todos los locales.</li>
                                <li>Stock mínimo 500 unidades o hasta agotar stock.</li>
                                <li>No es acumulable con otras promociones.</li>
                                <li>Necesitarás 150 Prixes para usar este beneficio.</li>
                            </ul>
                        </div>
                        <div class="collapse--list">
                            <div class="collapse--item active"><a class="collapse--action collapse--title" href="#!">
                                    <div class="titulo">Promocard Virtual</div><img class="icon" src="images/svg/icon-arrow-collapse.svg" alt=""></a>
                                <div class="collapse--content">
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, neque nisi. Dolore ea vel quam amet optio repudiandae aperiam esse voluptatem. Dicta laboriosam fugiat sit, illo ullam sed nihil ab!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="servicio--ubicacion">
                            <div class="row no-gutters">
                                <div class="col-12">
                                    <p class="titulo">Starbucks</p>
                                </div>
                                <div class="col-7"><span class="ubicacion__local">1 de 128 locales</span></div>
                                <div class="col-5"><span class="ubicacion__link txt--right"><a href="#">Ver más locales</a></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="iframe--map map--sm">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15603.63325292937!2d-77.02156655000002!3d-12.1184256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2spe!4v1567626444880!5m2!1ses!2spe" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                </div>
            </section>
            <div class="btn--float pos--fixed">
                <div class="container">
                    <div class="btn--float-box"><a class="btn btn--default" href="#">Solicítalo</a></div>
                </div>
            </div>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>

src/pug/includes/servicio-2.pug
nav.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Servicios
section.servicio--detalle
    .portada
        .portada--image
            img(src="images/fotografia/portada-default.jpg", alt="")
        .portada--box.container
            .box--head
                img.logo(src="images/fotografia/repsol-detalle.png", alt="")
                h2.titulo Repsol
            .box--body
                span.descripcion Quedan: 
                    b 50 beneficios.
            button.btn.btn--heart
                img.img-heart(src=iconSVG+"heart-1.svg", alt="")
                img.img-like(src=iconSVG+"heart-red.svg", alt="")
    .alerta.alerta--info
        .container
            p.alerta__descripcion La Promocard Virtual llegará en un #[br] aproximado de 3 días
    .servicio--detalle__content
        .container
            .servicio--media-box
                .media.media--box-icons
                    .media--img-icon.media--self-start
                        img.img--icon__servicio(src=iconSVG+'servicio.svg', alt="")
                    .media--body
                        p.titulo Descuentos de hasta 50% en estaciones de servicio
            .descripcion
                p ¡Ahora podrás disfrutar de tu descuento más fácil!
                p Presentando tu Promocard Virtual desde tu Smartphone, disfruta de tu promoción gracias a Prix
            .servicio--vigencia
                .row.no-gutters
                    .col-9 
                        span.vigencia__promo 2 x 1
                        span.vigencia__descripcion Promoción válida sólo para Big Mac 
                    .col-3
                        span.vigencia__txt.txt--right Vigencia
                        span.vigencia__dias.txt--right 3 días
            .descripcion
                p: b ¿Qué es lo que tienes que saber?
                ul
                    li Incluye un Moka Capuccino tamaño mediano.
                    li Válido en todos los locales.
                    li Stock mínimo 500 unidades o hasta agotar stock.
                    li No es acumulable con otras promociones.
                    li Necesitarás 150 Prixes para usar este beneficio.
            .collapse--list
                .collapse--item.active
                    a.collapse--action.collapse--title(href="#!")
                        .titulo Promocard Virtual
                        img.icon(src="images/svg/icon-arrow-collapse.svg", alt="")
                    .collapse--content
                        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, neque nisi. Dolore ea vel quam amet optio repudiandae aperiam esse voluptatem. Dicta laboriosam fugiat sit, illo ullam sed nihil ab!
        .container
            .servicio--ubicacion
                .row.no-gutters
                    .col-12
                        p.titulo Starbucks
                    .col-7
                        span.ubicacion__local 1 de 128 locales
                    .col-5
                        span.ubicacion__link.txt--right
                            a(href="#") Ver más locales
        .iframe--map.map--sm
            iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15603.63325292937!2d-77.02156655000002!3d-12.1184256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2spe!4v1567626444880!5m2!1ses!2spe", width="600", height="450", frameborder="0", style="border:0;", allowfullscreen="")

.btn--float.pos--fixed
    .container
        .btn--float-box
            a.btn.btn--default(href="#") Solicítalo
