src/pug/includes/servicio-message.pug
nav.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Promocard Virtual
.servicio--message
    .container
        .servicio--message__content
            .message--img
                img(src=iconSVG+'phone.svg', alt="")
            h2.titulo ¡Espera con atención!
            .descripcion
                p Pronto te enviaremos una notificación confirmando tu Promocard Virtual.
            a(href="").btn.btn--link Términos y condiciones
.btn--float.pos--fixed
    .container
        .btn--float-box
            a.btn.btn--default(href="#") Ver más beneficios

site/servicio-message.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <nav class="navbar--secondary">
                <div class="container"><a class="navbar--secondary-return" href="#"><span class="icon">
                            <svg>
                                <use xlink:href="images/icons/icons.svg#icon-back"></use>
                            </svg></span></a>
                    <h2 class="titulo">Promocard Virtual</h2>
                </div>
            </nav>
            <div class="servicio--message">
                <div class="container">
                    <div class="servicio--message__content">
                        <div class="message--img"><img src="images/svg/icon-phone.svg" alt=""></div>
                        <h2 class="titulo">¡Espera con atención!</h2>
                        <div class="descripcion">
                            <p>Pronto te enviaremos una notificación confirmando tu Promocard Virtual.</p>
                        </div><a class="btn btn--link" href="">Términos y condiciones</a>
                    </div>
                </div>
            </div>
            <div class="btn--float pos--fixed">
                <div class="container">
                    <div class="btn--float-box"><a class="btn btn--default" href="#">Ver más beneficios</a></div>
                </div>
            </div>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>
