src/pug/includes/servicio-form-1.pug
nav.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Promocard Virtual
section.servicio--form
    .container
        .servicio--form__content
            .descripcion
                p Llena tus datos correctamente y no dejes pasar esta gran oportunidad.
            .servicio--form__box
                form.form(action="")
                    .form--group
                        .form--box
                            input.form--control#name(type="text", name="name", required="")
                            label.control--label(for="name") Nombres
                            span.bar
                    .form--group
                        .form--box
                            input.form--control#last(type="text", name="last", required="")
                            label.control--label(for="last") Apellidos
                            span.bar
                    .form--group
                        .form--box
                            input.form--control#birthday(type="text", name="birthday", required="")
                            label.control--label(for="birthday") Fecha de Nacimiento
                            span.bar
                    .form--group
                        .form--box
                            select.form--control#gender(name="gender")
                                option(value="Masculino") Masculino
                                option(value="Femenino") Femenino
                            label.control--label(for="gender") Género
                            span.bar
                    .form--group
                        .form--box
                            select.form--control#tipodocumento(name="tipodocumento")
                                option(value="DNI") DNI
                                option(value="Pasaporte") Pasaporte
                            label.control--label(for="tipodocumento") Tipo de documento
                            span.bar
                    .form--group
                        .form--box
                            input.form--control#ndocumento(type="text", name="ndocumento", required="")
                            label.control--label(for="ndocumento") Número de documento
                            span.bar
                    .form--group
                        .form--box
                            input.form--control#placa(type="text", name="placa", required="")
                            label.control--label(for="placa") Número de Placa
                            span.bar
                    .btn--float.pos--fixed
                        .container
                            .btn--float-box
                                button.btn.btn--default(type="submit", disabled) Registrarme

site/servicio-form-1.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <nav class="navbar--secondary">
                <div class="container"><a class="navbar--secondary-return" href="#"><span class="icon">
                            <svg>
                                <use xlink:href="images/icons/icons.svg#icon-back"></use>
                            </svg></span></a>
                    <h2 class="titulo">Promocard Virtual</h2>
                </div>
            </nav>
            <section class="servicio--form">
                <div class="container">
                    <div class="servicio--form__content">
                        <div class="descripcion">
                            <p>Llena tus datos correctamente y no dejes pasar esta gran oportunidad.</p>
                        </div>
                        <div class="servicio--form__box">
                            <form class="form" action="">
                                <div class="form--group">
                                    <div class="form--box">
                                        <input class="form--control" id="name" type="text" name="name" required="">
                                        <label class="control--label" for="name">Nombres</label><span class="bar"></span>
                                    </div>
                                </div>
                                <div class="form--group">
                                    <div class="form--box">
                                        <input class="form--control" id="last" type="text" name="last" required="">
                                        <label class="control--label" for="last">Apellidos</label><span class="bar"></span>
                                    </div>
                                </div>
                                <div class="form--group">
                                    <div class="form--box">
                                        <input class="form--control" id="birthday" type="text" name="birthday" required="">
                                        <label class="control--label" for="birthday">Fecha de Nacimiento</label><span class="bar"></span>
                                    </div>
                                </div>
                                <div class="form--group">
                                    <div class="form--box">
                                        <select class="form--control" id="gender" name="gender">
                                            <option value="Masculino">Masculino</option>
                                            <option value="Femenino">Femenino</option>
                                        </select>
                                        <label class="control--label" for="gender">Género</label><span class="bar"></span>
                                    </div>
                                </div>
                                <div class="form--group">
                                    <div class="form--box">
                                        <select class="form--control" id="tipodocumento" name="tipodocumento">
                                            <option value="DNI">DNI</option>
                                            <option value="Pasaporte">Pasaporte</option>
                                        </select>
                                        <label class="control--label" for="tipodocumento">Tipo de documento</label><span class="bar"></span>
                                    </div>
                                </div>
                                <div class="form--group">
                                    <div class="form--box">
                                        <input class="form--control" id="ndocumento" type="text" name="ndocumento" required="">
                                        <label class="control--label" for="ndocumento">Número de documento</label><span class="bar"></span>
                                    </div>
                                </div>
                                <div class="form--group">
                                    <div class="form--box">
                                        <input class="form--control" id="placa" type="text" name="placa" required="">
                                        <label class="control--label" for="placa">Número de Placa</label><span class="bar"></span>
                                    </div>
                                </div>
                                <div class="btn--float pos--fixed">
                                    <div class="container">
                                        <div class="btn--float-box">
                                            <button class="btn btn--default" type="submit" disabled>Registrarme</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>
