site/servicio-form-problema.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <nav class="navbar--secondary">
                <div class="container"><a class="navbar--secondary-return" href="#"><span class="icon">
                            <svg>
                                <use xlink:href="images/icons/icons.svg#icon-back"></use>
                            </svg></span></a>
                    <h2 class="titulo">Promocard Virtual</h2>
                </div>
            </nav>
            <section class="servicio--form">
                <div class="container">
                    <div class="servicio--form__content">
                        <h2 class="titulo">Tengo problemas con mi Promocard Virtual</h2>
                        <div class="descripcion">
                            <p>Lo sentimos. Al parecer tenemos un pequeño problema. Escríbenos y a la brevedad estaremos en contacto contigo.</p>
                        </div>
                        <div class="servicio--form__box">
                            <form class="form" action="">
                                <div class="form--group">
                                    <div class="form--box">
                                        <input class="form--control" id="email" type="email" name="email" value="usuario@email.com" required="">
                                        <label class="control--label" for="email">Correo</label><span class="bar"></span>
                                    </div>
                                </div>
                                <div class="form--group">
                                    <div class="form--box">
                                        <textarea class="form--control" id="comentario" name="comentario" rows="2" required></textarea>
                                        <label class="control--label" for="comentario">Coméntanos más sobre esto</label><span class="bar"></span>
                                    </div>
                                </div>
                                <div class="btn--float pos--fixed">
                                    <div class="container">
                                        <div class="btn--float-box">
                                            <button class="btn btn--default" type="submit" disabled>Enviar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>

src/pug/includes/servicio-form-problema.pug
nav.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Promocard Virtual
section.servicio--form
    .container
        .servicio--form__content
            h2.titulo Tengo problemas con mi Promocard Virtual
            .descripcion
                p Lo sentimos. Al parecer tenemos un pequeño problema. Escríbenos y a la brevedad estaremos en contacto contigo.
            .servicio--form__box
                form.form(action="")
                    .form--group
                        .form--box
                            input.form--control#email(type="email", name="email", value="usuario@email.com", required="")
                            label.control--label(for="email") Correo
                            span.bar
                    .form--group
                        .form--box
                            textarea.form--control#comentario(name="comentario", rows="2", required)
                            label.control--label(for="comentario") Coméntanos más sobre esto
                            span.bar
                    .btn--float.pos--fixed
                        .container
                            .btn--float-box
                                button.btn.btn--default(type="submit", disabled) Enviar
