site/servicio-progreso-1.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <div class="navbar--secondary">
                <div class="container"><a class="navbar--secondary-return" href="#"><span class="icon">
                            <svg>
                                <use xlink:href="images/icons/icons.svg#icon-back"></use>
                            </svg></span></a>
                    <h2 class="titulo">Promocard Virtual</h2>
                </div>
            </div>
            <div class="servicio--progreso">
                <div class="container">
                    <div class="servicio--progreso__content">
                        <div class="descripcion">
                            <p>Estamos a punto de darte una buena noticia. Falta muy poco para poder entregarte tu Promocard Virtual y puedas disfrutar tu promoción.</p>
                        </div>
                        <hr>
                        <div class="descripcion">
                            <p>Tus datos fueron ingresados el día 8 de Setiembre.<br>Nombre: Renzo Costa<br>Placa: WLQ-897    </p>
                        </div>
                        <div class="progress">
                            <ul class="progress--icon">
                                <li class="progress--item active"><img class="progress__icon-happy-1" src="images/svg/icon-happy-1.svg" alt=""><img class="progress__icon-happy-2" src="images/svg/icon-happy-2-1.svg" alt="">
                                    <div class="progress--bar"></div>
                                    <p class="descripcion">Iniciado</p>
                                </li>
                                <li class="progress--item"><img class="progress__icon-happy-1" src="images/svg/icon-happy-2.svg" alt=""><img class="progress__icon-happy-2" src="images/svg/icon-happy-2-1.svg" alt="">
                                    <div class="progress--bar"></div>
                                    <p class="descripcion">En progreso</p>
                                </li>
                                <li class="progress--item"><img class="progress__icon-happy-1" src="images/svg/icon-happy-3.svg" alt=""><img class="progress__icon-happy-2" src="images/svg/icon-happy-3-1.svg" alt="">
                                    <div class="progress--bar"></div>
                                    <p class="descripcion">Finalizado</p>
                                </li>
                            </ul>
                        </div><a class="btn btn--link">Términos y condiciones</a>
                    </div>
                </div>
            </div>
            <div class="btn--float pos--fixed">
                <div class="container">
                    <div class="btn--float-box"><a class="btn btn--default" href="#">Ver más beneficios</a></div>
                </div>
            </div>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>

src/pug/includes/servicio-progreso-1.pug
.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Promocard Virtual
.servicio--progreso
    .container
        .servicio--progreso__content
            .descripcion
                p Estamos a punto de darte una buena noticia. Falta muy poco para poder entregarte tu Promocard Virtual y puedas disfrutar tu promoción.
            hr
            .descripcion
                p Tus datos fueron ingresados el día 8 de Setiembre.
                    br
                    | Nombre: Renzo Costa
                    br
                    | Placa: WLQ-897    
            .progress
                ul.progress--icon
                    li.progress--item.active
                        img.progress__icon-happy-1(src=iconSVG+"happy-1.svg", alt="")
                        img.progress__icon-happy-2(src=iconSVG+"happy-2-1.svg", alt="")
                        .progress--bar
                        p.descripcion Iniciado
                    li.progress--item
                        img.progress__icon-happy-1(src=iconSVG+"happy-2.svg", alt="")
                        img.progress__icon-happy-2(src=iconSVG+"happy-2-1.svg", alt="")
                        .progress--bar
                        p.descripcion En progreso
                    li.progress--item
                        img.progress__icon-happy-1(src=iconSVG+"happy-3.svg", alt="")
                        img.progress__icon-happy-2(src=iconSVG+"happy-3-1.svg", alt="")
                        .progress--bar
                        p.descripcion Finalizado
            a.btn.btn--link Términos y condiciones
.btn--float.pos--fixed
    .container
        .btn--float-box
            a.btn.btn--default(href="#") Ver más beneficios
