src/pug/includes/servicio-1.pug
nav.navbar--header
    .navbar--header-wrapper.container
        a.title(href="#", title="") Movistar Prix
        .navbar--header-right
            a.nav--link-location(href="#")
                img.icon--pin(src="images/svg/icon-pin.svg", alt="")
                span.nav--text Lima
                img.icon--droplist(src="images/svg/icon-arrow-droplist.svg", alt="")
            ul.navbar--header-icons
                li.nav--item
                    a.nav--link(href="#")
                        img.icon--perfil(src="images/svg/icon-perfil.svg", alt="")
                li.nav--item
                    a.nav--link(href="#")
                        img.icon--search(src="images/svg/icon-search.svg", alt="")
.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Servicios
section.servicio
    .servicio--content.container
        .card
            a.card--content(href="#")
                .card--content__portada
                    img(src="images/fotografia/portada-default.jpg", alt="")
                    span.tag
                        span.icon__qr.icon: svg: use(xlink:href=iconPath+'qr') 
                        | Promocard Virtual
                .card--content__body
                    .logo
                        img(src="images/marcas/repsol.jpg", alt="")
                    p.titulo Repsol
                    .descripcion
                        p Descuentos de hasta 50% estaciones de servicio Repsol.
                .card--content__footer
                    .descripcion
                        p Hasta 50% de descuento
                            span.text--small Canjéalo aquí
                    small.vigencia Vigencia
                        b 3 días
        .card
            a.card--content(href="#")
                .card--content__portada
                    img(src="images/fotografia/portada-default.jpg", alt="")
                .card--content__body
                    .logo
                        img(src="images/marcas/repsol.jpg", alt="")
                    p.titulo Repsol
                    .descripcion
                        p Descuentos de hasta 50% estaciones de servicio Repsol.
                .card--content__footer
                    .descripcion
                        p Hasta 50% de descuento
                            span.text--small Canjéalo aquí
                    small.vigencia Vigencia
                        b 3 días

.navbar--quick.navbar--fixed
    .container
        .navbar--quick-wrapper.row
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons(href="#")
                        span.icons--change
                            img.icon--inicio-color.icon--grey(src=iconSVG+'inicio-color.svg', alt="")
                            img.icon--inicio-color.icon--blue(src=iconSVG+'inicio-color-active.svg', alt="")
                        span.texto Inicio
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons(href="#")
                        span.icons--change
                            img.icon--mis-vales.icon--grey(src=iconSVG+'mis-vales.svg', alt="")
                            img.icon--mis-vales.icon--blue(src=iconSVG+'mis-vales-active.svg', alt="")
                        span.texto Mis vales
            .col--links
                .col--links-box
                    a.nav--link.nav--link-icons(href="#")
                        span.icons--change
                            img.icon--ayuda.icon--grey(src=iconSVG+'ayuda.svg', alt="")
                            img.icon--ayuda.icon--blue(src=iconSVG+'ayuda-active.svg', alt="")
                        span.texto Ayuda
            .col--links
                .col--links-box
                    a.nav--link.active(href="#")
                        span.nav--link-gema
                            img.icon--gema.icon--grey-gema(src="images/svg/icon-gema-disable.svg", alt="")
                            img.icon--gema.icon--blue-gema(src="images/svg/icon-gema.svg", alt="")

site/servicio-1.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <nav class="navbar--header">
                <div class="navbar--header-wrapper container"><a class="title" href="#" title="">Movistar Prix</a>
                    <div class="navbar--header-right"><a class="nav--link-location" href="#"><img class="icon--pin" src="images/svg/icon-pin.svg" alt=""><span class="nav--text">Lima</span><img class="icon--droplist" src="images/svg/icon-arrow-droplist.svg" alt=""></a>
                        <ul class="navbar--header-icons">
                            <li class="nav--item"><a class="nav--link" href="#"><img class="icon--perfil" src="images/svg/icon-perfil.svg" alt=""></a></li>
                            <li class="nav--item"><a class="nav--link" href="#"><img class="icon--search" src="images/svg/icon-search.svg" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="navbar--secondary">
                <div class="container"><a class="navbar--secondary-return" href="#"><span class="icon">
                            <svg>
                                <use xlink:href="images/icons/icons.svg#icon-back"></use>
                            </svg></span></a>
                    <h2 class="titulo">Servicios</h2>
                </div>
            </div>
            <section class="servicio">
                <div class="servicio--content container">
                    <div class="card"><a class="card--content" href="#">
                            <div class="card--content__portada"><img src="images/fotografia/portada-default.jpg" alt=""><span class="tag"><span class="icon__qr icon">
                                        <svg>
                                            <use xlink:href="images/icons/icons.svg#icon-qr"> </use>
                                        </svg></span>Promocard Virtual</span></div>
                            <div class="card--content__body">
                                <div class="logo"><img src="images/marcas/repsol.jpg" alt=""></div>
                                <p class="titulo">Repsol</p>
                                <div class="descripcion">
                                    <p>Descuentos de hasta 50% estaciones de servicio Repsol.</p>
                                </div>
                            </div>
                            <div class="card--content__footer">
                                <div class="descripcion">
                                    <p>Hasta 50% de descuento<span class="text--small">Canjéalo aquí</span></p>
                                </div><small class="vigencia">Vigencia<b>3 días</b></small>
                            </div></a></div>
                    <div class="card"><a class="card--content" href="#">
                            <div class="card--content__portada"><img src="images/fotografia/portada-default.jpg" alt=""></div>
                            <div class="card--content__body">
                                <div class="logo"><img src="images/marcas/repsol.jpg" alt=""></div>
                                <p class="titulo">Repsol</p>
                                <div class="descripcion">
                                    <p>Descuentos de hasta 50% estaciones de servicio Repsol.</p>
                                </div>
                            </div>
                            <div class="card--content__footer">
                                <div class="descripcion">
                                    <p>Hasta 50% de descuento<span class="text--small">Canjéalo aquí</span></p>
                                </div><small class="vigencia">Vigencia<b>3 días</b></small>
                            </div></a></div>
                </div>
            </section>
            <div class="navbar--quick navbar--fixed">
                <div class="container">
                    <div class="navbar--quick-wrapper row">
                        <div class="col--links">
                            <div class="col--links-box"><a class="nav--link nav--link-icons" href="#"><span class="icons--change"><img class="icon--inicio-color icon--grey" src="images/svg/icon-inicio-color.svg" alt=""><img class="icon--inicio-color icon--blue" src="images/svg/icon-inicio-color-active.svg" alt=""></span><span class="texto">Inicio</span></a></div>
                        </div>
                        <div class="col--links">
                            <div class="col--links-box"><a class="nav--link nav--link-icons" href="#"><span class="icons--change"><img class="icon--mis-vales icon--grey" src="images/svg/icon-mis-vales.svg" alt=""><img class="icon--mis-vales icon--blue" src="images/svg/icon-mis-vales-active.svg" alt=""></span><span class="texto">Mis vales</span></a></div>
                        </div>
                        <div class="col--links">
                            <div class="col--links-box"><a class="nav--link nav--link-icons" href="#"><span class="icons--change"><img class="icon--ayuda icon--grey" src="images/svg/icon-ayuda.svg" alt=""><img class="icon--ayuda icon--blue" src="images/svg/icon-ayuda-active.svg" alt=""></span><span class="texto">Ayuda</span></a></div>
                        </div>
                        <div class="col--links">
                            <div class="col--links-box"><a class="nav--link active" href="#"><span class="nav--link-gema"><img class="icon--gema icon--grey-gema" src="images/svg/icon-gema-disable.svg" alt=""><img class="icon--gema icon--blue-gema" src="images/svg/icon-gema.svg" alt=""></span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>
