site/servicio-qr-1.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <div class="navbar--secondary">
                <div class="container"><a class="navbar--secondary-return" href="#"><span class="icon">
                            <svg>
                                <use xlink:href="images/icons/icons.svg#icon-back"></use>
                            </svg></span></a>
                    <h2 class="titulo">Promocard Virtual</h2>
                </div>
            </div>
            <div class="servicio--promo">
                <div class="container">
                    <div class="servicio--promo__content">
                        <div class="descripcion">
                            <p>Hola Renzo, ¡Tu Promocard Virtual está esperando por ti! Recuerda que este beneficio se guardará dentro de la sección Mis Vales.</p>
                            <p>Nombre: Renzo Costa<br>Placa: WLQ-897 </p>
                            <div class="promo--image__qr"><img src="images/fotografia/bitmap.png" alt=""></div><a class="btn btn--link" href="#">Términos y condiciones</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn--float pos--fixed">
                <div class="container">
                    <div class="btn--float-box row">
                        <div class="btn--float-col col-left"><a class="btn btn--flat-green" href="#">Descargar PDF</a></div>
                        <div class="btn--float-col col-right"><a class="btn btn--default" href="#">Enviar por correo</a></div>
                    </div>
                </div>
            </div>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>

src/pug/includes/servicio-qr-1.pug
.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Promocard Virtual
.servicio--promo
    .container
        .servicio--promo__content
            .descripcion
                p Hola Renzo, ¡Tu Promocard Virtual está esperando por ti! Recuerda que este beneficio se guardará dentro de la sección Mis Vales.
                p Nombre: Renzo Costa
                    br
                    | Placa: WLQ-897 
                .promo--image__qr
                    img(src="images/fotografia/bitmap.png", alt="")
                a.btn.btn--link(href="#") Términos y condiciones
.btn--float.pos--fixed
    .container
        .btn--float-box.row
            .btn--float-col.col-left
                a.btn.btn--flat-green(href="#") Descargar PDF
            .btn--float-col.col-right
                a.btn.btn--default(href="#") Enviar por correo
