src/pug/includes/zonas-17.pug
.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo Mi Zona
section.zona
    .tab
        ul.tab--nav
            li.tab--nav__item
                a.tab--item__link(href="!#") 
                    .icon
                        img(src=iconSVG+'gema-plateada.svg', alt="")
                    span.titulo Visitante
            li.tab--nav__item.active
                a.tab--item__link(href="!#")
                    .icon
                        img(src=iconSVG+'gema-morada-1.svg', alt="")
                    span.titulo Movistar
            li.tab--nav__item
                a.tab--item__link(href="!#")
                    .icon
                        img(src=iconSVG+'gema.svg', alt="")
                    span.titulo M.Total
        .tab--content
            .tab--pane.show
                .zona__tab-text Tienes acceso a esta #[b tu Zona].
                .card
                    a.card--content(href="#")
                        .card--content__portada
                            img(src="images/fotografia/portada-default.jpg", alt="")
                        .card--content__body
                            .logo
                                img(src="images/marcas/repsol.jpg", alt="")
                            p.titulo Repsol
                            .descripcion
                                p Descuentos de hasta 50% estaciones de servicio Repsol.
                        .card--content__footer
                            .descripcion
                                p Hasta 50% de descuento
                                    span.text--small Canjéalo aquí
                            small.vigencia Vigencia
                                b 3 días
                .card
                    a.card--content(href="#")
                        .card--content__portada
                            img(src="images/fotografia/portada-default.jpg", alt="")
                        .card--content__body
                            .logo
                                img(src="images/marcas/repsol.jpg", alt="")
                            p.titulo Repsol
                            .descripcion
                                p Descuentos de hasta 50% estaciones de servicio Repsol.
                        .card--content__footer
                            .descripcion
                                p Hasta 50% de descuento
                                    span.text--small Canjéalo aquí
                            small.vigencia Vigencia
                                b 3 días
            .tab--pane.hide Lorem ipsum dolor sit amet consectetur adipisicing elit.
            .tab--pane.hide Lorem ipsum dolor sit amet consectetur adipisicing elit.

site/zonas-17.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <div class="navbar--secondary">
                <div class="container"><a class="navbar--secondary-return" href="#"><span class="icon">
                            <svg>
                                <use xlink:href="images/icons/icons.svg#icon-back"></use>
                            </svg></span></a>
                    <h2 class="titulo">Mi Zona</h2>
                </div>
            </div>
            <section class="zona">
                <div class="tab">
                    <ul class="tab--nav">
                        <li class="tab--nav__item"><a class="tab--item__link" href="!#"> 
                                <div class="icon"><img src="images/svg/icon-gema-plateada.svg" alt=""></div><span class="titulo">Visitante</span></a></li>
                        <li class="tab--nav__item active"><a class="tab--item__link" href="!#">
                                <div class="icon"><img src="images/svg/icon-gema-morada-1.svg" alt=""></div><span class="titulo">Movistar</span></a></li>
                        <li class="tab--nav__item"><a class="tab--item__link" href="!#">
                                <div class="icon"><img src="images/svg/icon-gema.svg" alt=""></div><span class="titulo">M.Total</span></a></li>
                    </ul>
                    <div class="tab--content">
                        <div class="tab--pane show">
                            <div class="zona__tab-text">Tienes acceso a esta <b>tu Zona</b>.</div>
                            <div class="card"><a class="card--content" href="#">
                                    <div class="card--content__portada"><img src="images/fotografia/portada-default.jpg" alt=""></div>
                                    <div class="card--content__body">
                                        <div class="logo"><img src="images/marcas/repsol.jpg" alt=""></div>
                                        <p class="titulo">Repsol</p>
                                        <div class="descripcion">
                                            <p>Descuentos de hasta 50% estaciones de servicio Repsol.</p>
                                        </div>
                                    </div>
                                    <div class="card--content__footer">
                                        <div class="descripcion">
                                            <p>Hasta 50% de descuento<span class="text--small">Canjéalo aquí</span></p>
                                        </div><small class="vigencia">Vigencia<b>3 días</b></small>
                                    </div></a></div>
                            <div class="card"><a class="card--content" href="#">
                                    <div class="card--content__portada"><img src="images/fotografia/portada-default.jpg" alt=""></div>
                                    <div class="card--content__body">
                                        <div class="logo"><img src="images/marcas/repsol.jpg" alt=""></div>
                                        <p class="titulo">Repsol</p>
                                        <div class="descripcion">
                                            <p>Descuentos de hasta 50% estaciones de servicio Repsol.</p>
                                        </div>
                                    </div>
                                    <div class="card--content__footer">
                                        <div class="descripcion">
                                            <p>Hasta 50% de descuento<span class="text--small">Canjéalo aquí</span></p>
                                        </div><small class="vigencia">Vigencia<b>3 días</b></small>
                                    </div></a></div>
                        </div>
                        <div class="tab--pane hide">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                        <div class="tab--pane hide">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                    </div>
                </div>
            </section>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>
