site/zonas-4.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <div class="navbar--secondary">
                <div class="container"><a class="navbar--secondary-return" href="#"><span class="icon">
                            <svg>
                                <use xlink:href="images/icons/icons.svg#icon-back"></use>
                            </svg></span></a>
                    <h2 class="titulo">¿Qué son las Zonas?</h2>
                </div>
            </div>
            <section class="zona--question">
                <div class="zona--question__content">
                    <div class="container">       
                        <div class="descripcion">
                            <p>Son espacios donde podrás encontrar diferentes beneficios y experiencias. Si perteneces a Movistar Total tendrás acceso ilimitado a todas las Zonas.</p>
                            <div class="zona--img__gemas"><img src="images/svg/icon-gemas.svg" alt=""></div>
                            <h2 class="titulo"><b>¿Cómo cambiarte a la Zona Movistar Total?</b></h2>
                            <p>Une todos tus servicios Movistar a un solo plan y podrás acceder a esta Zona.</p>
                        </div>
                        <div class="movistar-servicio">
                            <div class="servicio--list">
                                <div class="servicio--item"><img class="icono" src="images/servicio/internet.png" alt="" height="23px">
                                    <div class="descripcion">Internet</div>
                                </div><span class="icon">
                                    <svg>
                                        <use xlink:href="images/icons/icons.svg#icon-plus"></use>
                                    </svg></span>
                                <div class="servicio--item"><img class="icono" src="images/servicio/tv.png" alt="" height="20px">
                                    <div class="descripcion">TV</div>
                                </div><span class="icon">
                                    <svg>
                                        <use xlink:href="images/icons/icons.svg#icon-plus"></use>
                                    </svg></span>
                                <div class="servicio--item"><img class="icono" src="images/servicio/fijo.png" alt="" height="20px">
                                    <div class="descripcion">Fijo</div>
                                </div><span class="icon">
                                    <svg>
                                        <use xlink:href="images/icons/icons.svg#icon-plus"></use>
                                    </svg></span>
                                <div class="servicio--item"><img class="icono" src="images/servicio/movil.png" alt="" height="29px">
                                    <div class="descripcion">Móvil</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>

src/pug/includes/zonas-4.pug
.navbar--secondary
    .container
        a.navbar--secondary-return(href="#")
            span.icon: svg: use(xlink:href=iconPath+'back')
        h2.titulo ¿Qué son las Zonas?
section.zona--question
    .zona--question__content
        .container        
            .descripcion
                p Son espacios donde podrás encontrar diferentes beneficios y experiencias. Si perteneces a Movistar Total tendrás acceso ilimitado a todas las Zonas.
                .zona--img__gemas
                    img(src=iconSVG+'gemas.svg', alt="")
                h2.titulo: b ¿Cómo cambiarte a la Zona Movistar Total?
                p Une todos tus servicios Movistar a un solo plan y podrás acceder a esta Zona.
            .movistar-servicio
                .servicio--list
                    .servicio--item
                        img.icono(src="images/servicio/internet.png", alt="", height="23px")
                        .descripcion Internet
                    span.icon: svg: use(xlink:href=iconPath+'plus')
                    .servicio--item
                        img.icono(src="images/servicio/tv.png", alt="",  height="20px")
                        .descripcion TV
                    span.icon: svg: use(xlink:href=iconPath+'plus')
                    .servicio--item
                        img.icono(src="images/servicio/fijo.png", alt="" height="20px")
                        .descripcion Fijo
                    span.icon: svg: use(xlink:href=iconPath+'plus')
                    .servicio--item
                        img.icono(src="images/servicio/movil.png", alt="" height="29px")
                        .descripcion Móvil
