website/buttons.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <p class="extralight">Hola Mundo!!</p>
                    </div>
                    <div class="col-md-4">
                        <p class="light">Hola Mundo!!</p>
                    </div>
                    <div class="col-md-4">
                        <p class="regular">Hola Mundo!!</p>
                    </div>
                    <div class="col-md-4">
                        <p class="bold">Hola Mundo!!</p>
                    </div>
                    <div class="col-md-4">
                        <p class="hand">Hola Mundo!!</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="titulo">Título</h1>
                        <h2 class="subtitulo">Sub-título</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam perferendis eos sit quasi repellat voluptatibus nulla et, magnam eaque esse architecto? Nesciunt doloremque inventore quam aspernatur, vero voluptatibus exercitationem voluptatem.</p>
                        <button class="btn">Button</button>
                        <button class="btn btn--default">Button</button>
                        <button class="btn btn--blue">Button</button>
                        <button class="btn btn--flat-green">Button</button>
                        <button class="btn btn--flat-blue">Button</button>
                        <button class="btn btn--flat-apps">Button</button>
                        <button class="btn btn--link">Button</button>
                    </div>
                    <div class="col-12"><span class="badge">¿Qué son las Zonas?</span><span class="badge badge--flat-green">¿Qué son las Zonas?</span><span class="badge badge--flat-blue">¿Qué son las Zonas?</span><span class="badge badge--green">¿Qué son las Zonas?</span><span class="badge badge--blue">¿Qué son las Zonas?</span><span class="badge badge--purple">¿Qué son las Zonas?</span></div>
                </div>
            </div>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>

src/pug/components/buttons.pug
.container
    .row
        .col-md-4
            p.extralight Hola Mundo!!
        .col-md-4
            p.light Hola Mundo!!
        .col-md-4
            p.regular Hola Mundo!!
        .col-md-4
            p.bold Hola Mundo!!
        .col-md-4
            p.hand Hola Mundo!!
.container
    .row
        .col-12
            h1.titulo Título
            h2.subtitulo Sub-título
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam perferendis eos sit quasi repellat voluptatibus nulla et, magnam eaque esse architecto? Nesciunt doloremque inventore quam aspernatur, vero voluptatibus exercitationem voluptatem.
            button.btn Button
            button.btn.btn--default Button
            button.btn.btn--blue Button
            button.btn.btn--flat-green Button
            button.btn.btn--flat-blue Button
            button.btn.btn--flat-apps Button
            button.btn.btn--link Button
        .col-12
            span.badge ¿Qué son las Zonas?
            span.badge.badge--flat-green ¿Qué son las Zonas?
            span.badge.badge--flat-blue ¿Qué son las Zonas?
            span.badge.badge--green ¿Qué son las Zonas?
            span.badge.badge--blue ¿Qué son las Zonas?
            span.badge.badge--purple ¿Qué son las Zonas?
