src/pug/components/card.pug
section
    .container
        .card
            .card--content
                .card--content__portada
                    img(src="images/fotografia/portada-default.jpg", alt="")
                    span.tag
                        span.icon__qr.icon: svg: use(xlink:href=iconPath+'qr') 
                        | Promocard Virtual
                .card--content__body
                    .logo
                        img(src="images/marcas/repsol.jpg", alt="")
                    p.titulo Repsol
                    .descripcion
                        p Descuentos de hasta 50% estaciones de servicio Repsol.
                .card--content__footer
                    .descripcion
                        p Hasta 50% de descuento
                            span.text--small Canjéalo aquí
                    small.vigencia Vigencia
                        b 3 días

        .card
            .card--content
                .card--content__portada
                    img(src="images/fotografia/portada-default.jpg", alt="")
                    .tag--prixes-moneda.notificacion--prixes
                        .notificacion--prixes__box Úsalo con #[b 150 prixes]
                            img.prixes__icon-moneda(src=iconSVG+"prix-moneda.svg", alt="")
                .card--content__body
                    .logo
                        img(src="images/marcas/repsol.jpg", alt="")
                    p.titulo Repsol
                    .descripcion
                        p Descuentos de hasta 50% estaciones de servicio Repsol.
                .card--content__footer.back-ice_blue
                    .descripcion
                        p Hasta 50% de descuento
                            span.text--small Canjéalo aquí
                    small.vigencia Vigencia
                        b 3 días
        .card
            .sidebar--flex
                .card--sidebar.back-ice_blue
                    .card--content__body
                        .titulo ¡Todo esto podría ser tuyo!
                        .descripcion Sólo tienes que ser parte de la Zona Movistar Total y tendrás esto y mucho más…
                        img.icono(src="images/svg/icon-gema-active.svg", alt="")
                .card--content
                    .card--content__portada
                        img(src="images/fotografia/portada-default.jpg", alt="")
                        a.icon-swipe(href="#"): img(src="images/svg/icon-gema-swipe.svg", alt="")
                    .card--content__body
                        .logo
                            img(src="images/marcas/repsol.jpg", alt="")
                        p.titulo Repsol
                        .descripcion
                            p Descuentos de hasta 50% estaciones de servicio Repsol.
                    .card--content__footer.back-ice_blue
                        .descripcion
                            p Hasta 50% de descuento
                                span.text--small Canjéalo aquí
                        small.vigencia Vigencia
                            b 3 días
        .card--vertical
            .card--content
                .card--content__body
                    .titulo ¡No te pierdas Avengers!
                    .descripcion ¡Participa por entradas dobles para el Avant Premiere de Avengers!
                    a(href="#").btn.btn--flat.btn--flat-blue Más información
                .card--content__portada
                    img(src="images/fotografia/portada-vertical.jpg", alt="")

        .card--vertical
            .card--content.grey--color
                .card--content__body
                    .titulo ¡No te pierdas Avengers!
                    .descripcion ¡Participa por entradas dobles para el Avant Premiere de Avengers!
                    a(href="#").btn.btn--flat.btn--flat-blue Más información
                .card--content__portada
                    img(src="images/fotografia/portada-vertical.jpg", alt="")
                    
        .card--vertical
            .sidebar--flex
                .card--sidebar.back-ice_blue
                    .card--content__body
                        .titulo ¡Todo esto podría ser tuyo!
                        .descripcion Sólo tienes que ser parte de la Zona Movistar Total y tendrás esto y mucho más…
                        img.icono(src="images/svg/icon-gema-active.svg", alt="")
                .card--content
                    .card--content__body
                        .titulo ¡No te pierdas Avengers!
                        .descripcion ¡Participa por entradas dobles para el Avant Premiere de Avengers!
                        a(href="#").btn.btn--flat.btn--flat-blue Más información
                    .card--content__portada
                        img(src="images/fotografia/portada-vertical.jpg", alt="")
                        a.icon-swipe(href="#"): img(src="images/svg/icon-gema-swipe.svg", alt="")
        
        .card
            .sidebar--flex.card--active
                .card--sidebar.back-ice_blue 
                    .card--content__body
                        .titulo ¡Todo esto podría ser tuyo!
                        .descripcion Sólo tienes que ser parte de la Zona Movistar Total y tendrás esto y mucho más…
                        img.icono(src="images/svg/icon-gema-active.svg", alt="")
                a.card--content(href="#")
                    .card--content__portada
                        img(src="images/fotografia/portada-default.jpg", alt="")
                        button.icon-swipe(type="button"): img(src=iconSVG+"gema-swipe.svg", alt="")
                    .card--content__body
                        img.logo(src="images/fotografia/repsol.jpg", alt="")
                        .titulo Repsol
                        .descripcion Descuentos de hasta 50% estaciones de servicio Repsol.
                    .card--content__footer.back-ice_blue
                        .descripcion
                            p Hasta 50% de descuento
                                span.text--small Canjéalo aquí
                        small.vigencia Vigencia
                            b 3 días
        .card
            .sidebar--flex
                .card--sidebar.back-ice_blue 
                    .card--content__body
                        .titulo ¡Todo esto podría ser tuyo!
                        .descripcion Sólo tienes que ser parte de la Zona Movistar Total y tendrás esto y mucho más…
                        img.icono(src="images/svg/icon-gema-active.svg", alt="")
                .card--content
                    .card--content__portada
                        img(src="images/fotografia/portada-default.jpg", alt="")
                        button.icon-swipe(type="button"): img(src=iconSVG+"gema-swipe.svg", alt="")
                    .card--content__body
                        img.logo(src="images/fotografia/repsol.jpg", alt="")
                        .titulo Repsol
                        .descripcion Descuentos de hasta 50% estaciones de servicio Repsol.
                    .card--content__footer.back-ice_blue
                        .descripcion
                            p Hasta 50% de descuento
                                span.text--small Canjéalo aquí
                        small.vigencia Vigencia
                            b 3 días
        .card--vertical
            .sidebar--flex
                .card--sidebar.back-ice_blue
                    .card--content__body
                        .titulo ¡Todo esto podría ser tuyo!
                        .descripcion Sólo tienes que ser parte de la Zona Movistar Total y tendrás esto y mucho más…
                        img.icono(src="images/svg/icon-gema-active.svg", alt="")
                a.card--content(href="#")
                    .card--content__body
                        .titulo ¡No te pierdas Avengers!
                        .descripcion ¡Participa por entradas dobles para el Avant Premiere de Avengers!
                        button.btn.btn--flat.btn--flat-blue(type="button") Más información
                    .card--content__portada
                        img(src="images/fotografia/portada-vertical.jpg", alt="")
                        button.icon-swipe(type="button"): img(src=iconSVG+"gema-swipe.svg", alt="")
        .card--vertical
            a.card--content.grey--color(href="#")
                .card--content__body
                    .titulo ¡No te pierdas Wifi Ralph!
                    .descripcion ¡Participa por entradas dobles para el Avant Premiere de Avengers!
                    button.btn.btn--flat.btn--flat-blue(type="button") Más información
                .card--content__portada
                    img(src="images/fotografia/portada-vertical.jpg", alt="")

site/card.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <section>
                <div class="container">
                    <div class="card">
                        <div class="card--content">
                            <div class="card--content__portada"><img src="images/fotografia/portada-default.jpg" alt=""><span class="tag"><span class="icon__qr icon">
                                        <svg>
                                            <use xlink:href="images/icons/icons.svg#icon-qr"> </use>
                                        </svg></span>Promocard Virtual</span></div>
                            <div class="card--content__body">
                                <div class="logo"><img src="images/marcas/repsol.jpg" alt=""></div>
                                <p class="titulo">Repsol</p>
                                <div class="descripcion">
                                    <p>Descuentos de hasta 50% estaciones de servicio Repsol.</p>
                                </div>
                            </div>
                            <div class="card--content__footer">
                                <div class="descripcion">
                                    <p>Hasta 50% de descuento<span class="text--small">Canjéalo aquí</span></p>
                                </div><small class="vigencia">Vigencia<b>3 días</b></small>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card--content">
                            <div class="card--content__portada"><img src="images/fotografia/portada-default.jpg" alt="">
                                <div class="tag--prixes-moneda notificacion--prixes">
                                    <div class="notificacion--prixes__box">Úsalo con <b>150 prixes</b><img class="prixes__icon-moneda" src="images/svg/icon-prix-moneda.svg" alt=""></div>
                                </div>
                            </div>
                            <div class="card--content__body">
                                <div class="logo"><img src="images/marcas/repsol.jpg" alt=""></div>
                                <p class="titulo">Repsol</p>
                                <div class="descripcion">
                                    <p>Descuentos de hasta 50% estaciones de servicio Repsol.</p>
                                </div>
                            </div>
                            <div class="card--content__footer back-ice_blue">
                                <div class="descripcion">
                                    <p>Hasta 50% de descuento<span class="text--small">Canjéalo aquí</span></p>
                                </div><small class="vigencia">Vigencia<b>3 días</b></small>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="sidebar--flex">
                            <div class="card--sidebar back-ice_blue">
                                <div class="card--content__body">
                                    <div class="titulo">¡Todo esto podría ser tuyo!</div>
                                    <div class="descripcion">Sólo tienes que ser parte de la Zona Movistar Total y tendrás esto y mucho más…</div><img class="icono" src="images/svg/icon-gema-active.svg" alt="">
                                </div>
                            </div>
                            <div class="card--content">
                                <div class="card--content__portada"><img src="images/fotografia/portada-default.jpg" alt=""><a class="icon-swipe" href="#"><img src="images/svg/icon-gema-swipe.svg" alt=""></a></div>
                                <div class="card--content__body">
                                    <div class="logo"><img src="images/marcas/repsol.jpg" alt=""></div>
                                    <p class="titulo">Repsol</p>
                                    <div class="descripcion">
                                        <p>Descuentos de hasta 50% estaciones de servicio Repsol.</p>
                                    </div>
                                </div>
                                <div class="card--content__footer back-ice_blue">
                                    <div class="descripcion">
                                        <p>Hasta 50% de descuento<span class="text--small">Canjéalo aquí</span></p>
                                    </div><small class="vigencia">Vigencia<b>3 días</b></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card--vertical">
                        <div class="card--content">
                            <div class="card--content__body">
                                <div class="titulo">¡No te pierdas Avengers!</div>
                                <div class="descripcion">¡Participa por entradas dobles para el Avant Premiere de Avengers!</div><a class="btn btn--flat btn--flat-blue" href="#">Más información</a>
                            </div>
                            <div class="card--content__portada"><img src="images/fotografia/portada-vertical.jpg" alt=""></div>
                        </div>
                    </div>
                    <div class="card--vertical">
                        <div class="card--content grey--color">
                            <div class="card--content__body">
                                <div class="titulo">¡No te pierdas Avengers!</div>
                                <div class="descripcion">¡Participa por entradas dobles para el Avant Premiere de Avengers!</div><a class="btn btn--flat btn--flat-blue" href="#">Más información</a>
                            </div>
                            <div class="card--content__portada"><img src="images/fotografia/portada-vertical.jpg" alt=""></div>
                        </div>
                    </div>
                    <div class="card--vertical">
                        <div class="sidebar--flex">
                            <div class="card--sidebar back-ice_blue">
                                <div class="card--content__body">
                                    <div class="titulo">¡Todo esto podría ser tuyo!</div>
                                    <div class="descripcion">Sólo tienes que ser parte de la Zona Movistar Total y tendrás esto y mucho más…</div><img class="icono" src="images/svg/icon-gema-active.svg" alt="">
                                </div>
                            </div>
                            <div class="card--content">
                                <div class="card--content__body">
                                    <div class="titulo">¡No te pierdas Avengers!</div>
                                    <div class="descripcion">¡Participa por entradas dobles para el Avant Premiere de Avengers!</div><a class="btn btn--flat btn--flat-blue" href="#">Más información</a>
                                </div>
                                <div class="card--content__portada"><img src="images/fotografia/portada-vertical.jpg" alt=""><a class="icon-swipe" href="#"><img src="images/svg/icon-gema-swipe.svg" alt=""></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="sidebar--flex card--active">
                            <div class="card--sidebar back-ice_blue"> 
                                <div class="card--content__body">
                                    <div class="titulo">¡Todo esto podría ser tuyo!</div>
                                    <div class="descripcion">Sólo tienes que ser parte de la Zona Movistar Total y tendrás esto y mucho más…</div><img class="icono" src="images/svg/icon-gema-active.svg" alt="">
                                </div>
                            </div><a class="card--content" href="#">
                                <div class="card--content__portada"><img src="images/fotografia/portada-default.jpg" alt="">
                                    <button class="icon-swipe" type="button"><img src="images/svg/icon-gema-swipe.svg" alt=""></button>
                                </div>
                                <div class="card--content__body"><img class="logo" src="images/fotografia/repsol.jpg" alt="">
                                    <div class="titulo">Repsol</div>
                                    <div class="descripcion">Descuentos de hasta 50% estaciones de servicio Repsol.</div>
                                </div>
                                <div class="card--content__footer back-ice_blue">
                                    <div class="descripcion">
                                        <p>Hasta 50% de descuento<span class="text--small">Canjéalo aquí</span></p>
                                    </div><small class="vigencia">Vigencia<b>3 días</b></small>
                                </div></a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="sidebar--flex">
                            <div class="card--sidebar back-ice_blue"> 
                                <div class="card--content__body">
                                    <div class="titulo">¡Todo esto podría ser tuyo!</div>
                                    <div class="descripcion">Sólo tienes que ser parte de la Zona Movistar Total y tendrás esto y mucho más…</div><img class="icono" src="images/svg/icon-gema-active.svg" alt="">
                                </div>
                            </div>
                            <div class="card--content">
                                <div class="card--content__portada"><img src="images/fotografia/portada-default.jpg" alt="">
                                    <button class="icon-swipe" type="button"><img src="images/svg/icon-gema-swipe.svg" alt=""></button>
                                </div>
                                <div class="card--content__body"><img class="logo" src="images/fotografia/repsol.jpg" alt="">
                                    <div class="titulo">Repsol</div>
                                    <div class="descripcion">Descuentos de hasta 50% estaciones de servicio Repsol.</div>
                                </div>
                                <div class="card--content__footer back-ice_blue">
                                    <div class="descripcion">
                                        <p>Hasta 50% de descuento<span class="text--small">Canjéalo aquí</span></p>
                                    </div><small class="vigencia">Vigencia<b>3 días</b></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card--vertical">
                        <div class="sidebar--flex">
                            <div class="card--sidebar back-ice_blue">
                                <div class="card--content__body">
                                    <div class="titulo">¡Todo esto podría ser tuyo!</div>
                                    <div class="descripcion">Sólo tienes que ser parte de la Zona Movistar Total y tendrás esto y mucho más…</div><img class="icono" src="images/svg/icon-gema-active.svg" alt="">
                                </div>
                            </div><a class="card--content" href="#">
                                <div class="card--content__body">
                                    <div class="titulo">¡No te pierdas Avengers!</div>
                                    <div class="descripcion">¡Participa por entradas dobles para el Avant Premiere de Avengers!</div>
                                    <button class="btn btn--flat btn--flat-blue" type="button">Más información</button>
                                </div>
                                <div class="card--content__portada"><img src="images/fotografia/portada-vertical.jpg" alt="">
                                    <button class="icon-swipe" type="button"><img src="images/svg/icon-gema-swipe.svg" alt=""></button>
                                </div></a>
                        </div>
                    </div>
                    <div class="card--vertical"><a class="card--content grey--color" href="#">
                            <div class="card--content__body">
                                <div class="titulo">¡No te pierdas Wifi Ralph!</div>
                                <div class="descripcion">¡Participa por entradas dobles para el Avant Premiere de Avengers!</div>
                                <button class="btn btn--flat btn--flat-blue" type="button">Más información</button>
                            </div>
                            <div class="card--content__portada"><img src="images/fotografia/portada-vertical.jpg" alt=""></div></a></div>
                </div>
            </section>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>
