src/pug/components/collections.pug
.container
    ul.collection
        li.collection--item Item #1
        li.collection--item Item #1

    ul.collection--list
        li.collection--list-item
            a.item--link.link--icon(href="#") Item #1
                span.icon: svg: use(xlink:href=iconPath+'right-arrow')
        li.collection--list-item
            a.item--link.link--icon(href="#") Item #1
                span.icon: svg: use(xlink:href=iconPath+'right-arrow')

website/collections.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <div class="container">
                <ul class="collection">
                    <li class="collection--item">Item #1</li>
                    <li class="collection--item">Item #1</li>
                </ul>
                <ul class="collection--list">
                    <li class="collection--list-item"><a class="item--link link--icon" href="#">Item #1<span class="icon">
                                <svg>
                                    <use xlink:href="images/icons/icons.svg#icon-right-arrow"></use>
                                </svg></span></a></li>
                    <li class="collection--list-item"><a class="item--link link--icon" href="#">Item #1<span class="icon">
                                <svg>
                                    <use xlink:href="images/icons/icons.svg#icon-right-arrow"></use>
                                </svg></span></a></li>
                </ul>
            </div>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>
