site/form.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form class="form" action="">
                            <div class="form--group">
                                <div class="form--box">
                                    <input class="form--control" id="name" type="text" name="name" required="">
                                    <label class="control--label" for="name">Nombres</label><span class="bar"></span>
                                </div>
                            </div>
                            <div class="form--group">
                                <div class="form--box">
                                    <input class="form--control" id="last" type="text" name="last" required="">
                                    <label class="control--label" for="last">Apellidos</label><span class="bar"></span>
                                </div>
                            </div>
                            <div class="form--group invalid">
                                <div class="form--box">
                                    <input class="form--control" id="email" type="email" name="email" required="">
                                    <label class="control--label" for="email">Email</label><span class="bar"></span>
                                </div><span class="form--error">Correo inexistente.<span class="form--error-txt">Verificar nuevamente.</span></span>
                            </div>
                            <div class="form--group">
                                <div class="form--box">
                                    <input class="form--control" id="birthday" type="text" name="birthday" required="">
                                    <label class="control--label" for="birthday">Fecha de Nacimiento</label><span class="bar"></span>
                                </div>
                            </div>
                            <div class="form--group">
                                <div class="form--box">
                                    <select class="form--control" id="gender" name="gender">
                                        <option value="Masculino">Masculino</option>
                                        <option value="Femenino">Femenino</option>
                                    </select>
                                    <label class="control--label" for="gender">Género</label><span class="bar"></span>
                                </div>
                            </div>
                            <div class="form--group">
                                <div class="form--box">
                                    <select class="form--control" id="gender" name="gender">
                                        <option value="DNI">DNI</option>
                                        <option value="Pasaporte">Pasaporte</option>
                                    </select>
                                    <label class="control--label" for="gender">Tipo de documento</label><span class="bar"></span>
                                </div>
                            </div>
                            <div class="form--group">
                                <div class="form--radio">
                                    <label>
                                        <input class="radio--input" type="radio" name="radio" checked="checked"><span class="radio--checked"></span>I'm the label from a radio button
                                    </label>
                                </div>
                                <div class="form--radio">
                                    <label>
                                        <input class="radio--input" type="radio" name="radio"><span class="radio--checked"></span>I'm the label from a radio button
                                    </label>
                                </div>
                                <div class="form--radio radio-right">
                                    <label>
                                        <input class="radio--input" type="radio" name="radio"><span class="radio--checked"></span>I'm the label from a radio button
                                    </label>
                                </div>
                                <div class="form--radio radio-img radio-right">
                                    <label><img class="radio-img-icon" src="images/svg/icon-vestimenta.svg" alt="">
                                        <input class="radio--input" type="radio" name="radio"><span class="radio--checked"></span>Comida y bebida
                                    </label>
                                </div>
                            </div>
                            <div class="form--group">
                                <div class="form--checkbox">
                                    <label>
                                        <input class="checkbox--input" type="checkbox"><span class="checkbox--checked"></span>I'm the label from a radio button
                                    </label>
                                </div>
                                <div class="form--checkbox">
                                    <label>
                                        <input class="checkbox--input" type="checkbox"><span class="checkbox--checked"></span>I'm the label from a radio button
                                    </label>
                                </div>
                                <div class="form--checkbox checkbox-right">
                                    <label>
                                        <input class="checkbox--input" type="checkbox"><span class="checkbox--checked"></span>Servicio
                                    </label>
                                </div>
                            </div>
                            <div class="form--group">
                                <textarea class="form--control" name="comment" rows="4" required=""></textarea>
                                <label class="control--label" for="comment">Comentario</label><span class="bar"></span>
                            </div>
                            <div class="form--group">
                                <div class="form--rating">
                                    <div class="rating-box">
                                        <input class="rating--input" id="star5" type="radio" value="2" name="rating">
                                        <label class="rating--stars" for="star5"><img class="star-disable" src="images/svg/icon-star-1.svg" alt=""><img class="star-active" src="images/svg/icon-star-2.svg" alt=""></label>
                                        <input class="rating--input" id="star4" type="radio" value="2" name="rating">
                                        <label class="rating--stars" for="star4"><img class="star-disable" src="images/svg/icon-star-1.svg" alt=""><img class="star-active" src="images/svg/icon-star-2.svg" alt=""></label>
                                        <input class="rating--input" id="star3" type="radio" value="2" name="rating">
                                        <label class="rating--stars" for="star3"><img class="star-disable" src="images/svg/icon-star-1.svg" alt=""><img class="star-active" src="images/svg/icon-star-2.svg" alt=""></label>
                                        <input class="rating--input" id="star2" type="radio" value="2" name="rating">
                                        <label class="rating--stars" for="star2"><img class="star-disable" src="images/svg/icon-star-1.svg" alt=""><img class="star-active" src="images/svg/icon-star-2.svg" alt=""></label>
                                        <input class="rating--input" id="star1" type="radio" value="1" name="rating">
                                        <label class="rating--stars" for="star1"><img class="star-disable" src="images/svg/icon-star-1.svg" alt=""><img class="star-active" src="images/svg/icon-star-2.svg" alt=""></label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>

src/pug/components/form.pug
.container
    .row
        .col-md-12
            form.form(action="")
                .form--group
                    .form--box
                        input.form--control#name(type="text", name="name", required="")
                        label.control--label(for="name") Nombres
                        span.bar
                .form--group
                    .form--box
                        input.form--control#last(type="text", name="last", required="")
                        label.control--label(for="last") Apellidos
                        span.bar
                .form--group.invalid
                    .form--box
                        input.form--control#email(type="email", name="email", required="")
                        label.control--label(for="email") Email
                        span.bar
                    span.form--error Correo inexistente.
                        span.form--error-txt Verificar nuevamente.
                .form--group
                    .form--box
                        input.form--control#birthday(type="text", name="birthday", required="")
                        label.control--label(for="birthday") Fecha de Nacimiento
                        span.bar
                .form--group
                    .form--box
                        select.form--control#gender(name="gender")
                            option(value="Masculino") Masculino
                            option(value="Femenino") Femenino
                        label.control--label(for="gender") Género
                        span.bar
                .form--group
                    .form--box
                        select.form--control#gender(name="gender")
                            option(value="DNI") DNI
                            option(value="Pasaporte") Pasaporte
                        label.control--label(for="gender") Tipo de documento
                        span.bar
                .form--group
                    .form--radio
                        label
                            input.radio--input(type="radio", name="radio", checked="checked")
                            span.radio--checked
                            | I'm the label from a radio button
                    .form--radio
                        label
                            input.radio--input(type="radio", name="radio")
                            span.radio--checked
                            | I'm the label from a radio button
                    .form--radio.radio-right
                        label
                            input.radio--input(type="radio", name="radio")
                            span.radio--checked
                            | I'm the label from a radio button
                    .form--radio.radio-img.radio-right
                        label
                            img.radio-img-icon(src=iconSVG+'vestimenta.svg', alt="")
                            input.radio--input(type="radio", name="radio")
                            span.radio--checked
                            | Comida y bebida
                .form--group
                    .form--checkbox
                        label
                            input.checkbox--input(type="checkbox")
                            span.checkbox--checked
                            | I'm the label from a radio button
                    .form--checkbox
                        label
                            input.checkbox--input(type="checkbox")
                            span.checkbox--checked
                            | I'm the label from a radio button
                    .form--checkbox.checkbox-right
                        label
                            input.checkbox--input(type="checkbox")
                            span.checkbox--checked
                            | Servicio
                .form--group
                    textarea.form--control(name="comment", rows="4", required="")
                    label.control--label(for="comment") Comentario
                    span.bar
                .form--group
                    .form--rating
                        .rating-box
                            input.rating--input#star5(type="radio", value="2",name="rating")
                            label.rating--stars(for="star5")
                                img.star-disable(src=iconSVG+"star-1.svg", alt="")
                                img.star-active(src=iconSVG+"star-2.svg", alt="")
                            input.rating--input#star4(type="radio", value="2",name="rating")
                            label.rating--stars(for="star4")
                                img.star-disable(src=iconSVG+"star-1.svg", alt="")
                                img.star-active(src=iconSVG+"star-2.svg", alt="")
                            input.rating--input#star3(type="radio", value="2",name="rating")
                            label.rating--stars(for="star3")
                                img.star-disable(src=iconSVG+"star-1.svg", alt="")
                                img.star-active(src=iconSVG+"star-2.svg", alt="")
                            input.rating--input#star2(type="radio", value="2",name="rating")
                            label.rating--stars(for="star2")
                                img.star-disable(src=iconSVG+"star-1.svg", alt="")
                                img.star-active(src=iconSVG+"star-2.svg", alt="")
                            input.rating--input#star1(type="radio", value="1",name="rating")
                            label.rating--stars(for="star1")
                                img.star-disable(src=iconSVG+"star-1.svg", alt="")
                                img.star-active(src=iconSVG+"star-2.svg", alt="")
