src/pug/components/lista-detalle.pug
ul.lista--detalle
    li.lista--detalle__item.row.no-gutters        
        .col-3.icono: img(src=iconSVG+'equipo.svg', alt="")
        .col-9.detalle
            .titulo Equipos
            .descripcion con cuota inicial S/0 y a precios especiales.
    li.lista--detalle__item.row.no-gutters
        .col-3.icono: img(src="images/app/netflix.png", alt="")
        .col-9.detalle
            .titulo Netflix
            .descripcion hasta 6 meses gratis.
    li.lista--detalle__item.row.no-gutters
        .col-3.icono: img(src=iconSVG+'ahorro.svg', alt="")
        .col-9.detalle
            .titulo Ahorro
            .descripcion de hasta S/900 anuales.
    li.lista--detalle__item.row.no-gutters
        .col-3.icono: img(src=iconSVG+'acceso.svg', alt="")
        .col-9.detalle
            .titulo Acceso
            .descripcion a un mayor número de beneficios en Movistar Prix.

website/lista-detalle.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <ul class="lista--detalle">
                <li class="lista--detalle__item row no-gutters">       
                    <div class="col-3 icono"><img src="images/svg/icon-equipo.svg" alt=""></div>
                    <div class="col-9 detalle">
                        <div class="titulo">Equipos</div>
                        <div class="descripcion">con cuota inicial S/0 y a precios especiales.</div>
                    </div>
                </li>
                <li class="lista--detalle__item row no-gutters">
                    <div class="col-3 icono"><img src="images/app/netflix.png" alt=""></div>
                    <div class="col-9 detalle">
                        <div class="titulo">Netflix</div>
                        <div class="descripcion">hasta 6 meses gratis.</div>
                    </div>
                </li>
                <li class="lista--detalle__item row no-gutters">
                    <div class="col-3 icono"><img src="images/svg/icon-ahorro.svg" alt=""></div>
                    <div class="col-9 detalle">
                        <div class="titulo">Ahorro</div>
                        <div class="descripcion">de hasta S/900 anuales.</div>
                    </div>
                </li>
                <li class="lista--detalle__item row no-gutters">
                    <div class="col-3 icono"><img src="images/svg/icon-acceso.svg" alt=""></div>
                    <div class="col-9 detalle">
                        <div class="titulo">Acceso</div>
                        <div class="descripcion">a un mayor número de beneficios en Movistar Prix.</div>
                    </div>
                </li>
            </ul>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>
