src/pug/components/media.pug
.container
    .media
        img.media--self-top(src=iconSVG+'comida-bebida.svg', alt="")
        .media--body
            h2 Center-aligned media
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quas neque sunt perspiciatis a pariatur qui ipsam eligendi quae, aliquid optio voluptatibus minus doloremque beatae error autem nostrum nihil sequi.
    .media
        .media--body
            h2 Center-aligned media
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quas neque sunt perspiciatis a pariatur qui ipsam eligendi quae, aliquid optio voluptatibus minus doloremque beatae error autem nostrum nihil sequi.
        img.media--self-top(src=iconSVG+'comida-bebida.svg', alt="")
    .media
        img.media--self-center(src=iconSVG+'comida-bebida.svg', alt="")
        .media--body
            h2 Center-aligned media
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quas neque sunt perspiciatis a pariatur qui ipsam eligendi quae, aliquid optio voluptatibus minus doloremque beatae error autem nostrum nihil sequi.
    .media
        img.media--self-end(src=iconSVG+'comida-bebida.svg', alt="")
        .media--body
            h2 Center-aligned media
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quas neque sunt perspiciatis a pariatur qui ipsam eligendi quae, aliquid optio voluptatibus minus doloremque beatae error autem nostrum nihil sequi.

    a.media.media--card(href="#")
        img.media--icon.media--self-center(src=iconSVG+'comida-bebida.svg', alt="")
        .media--body
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quas neque sunt perspiciatis a pariatur qui ipsam eligendi quae, aliquid optio voluptatibus minus doloremque beatae error autem nostrum nihil sequi.
        .media--symbol.media--self-center
            span.icon: svg: use(xlink:href=iconPath+'right-arrow')

site/media.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <div class="container">
                <div class="media"><img class="media--self-top" src="images/svg/icon-comida-bebida.svg" alt="">
                    <div class="media--body">
                        <h2>Center-aligned media</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quas neque sunt perspiciatis a pariatur qui ipsam eligendi quae, aliquid optio voluptatibus minus doloremque beatae error autem nostrum nihil sequi.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="media--body">
                        <h2>Center-aligned media</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quas neque sunt perspiciatis a pariatur qui ipsam eligendi quae, aliquid optio voluptatibus minus doloremque beatae error autem nostrum nihil sequi.</p>
                    </div><img class="media--self-top" src="images/svg/icon-comida-bebida.svg" alt="">
                </div>
                <div class="media"><img class="media--self-center" src="images/svg/icon-comida-bebida.svg" alt="">
                    <div class="media--body">
                        <h2>Center-aligned media</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quas neque sunt perspiciatis a pariatur qui ipsam eligendi quae, aliquid optio voluptatibus minus doloremque beatae error autem nostrum nihil sequi.</p>
                    </div>
                </div>
                <div class="media"><img class="media--self-end" src="images/svg/icon-comida-bebida.svg" alt="">
                    <div class="media--body">
                        <h2>Center-aligned media</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quas neque sunt perspiciatis a pariatur qui ipsam eligendi quae, aliquid optio voluptatibus minus doloremque beatae error autem nostrum nihil sequi.</p>
                    </div>
                </div><a class="media media--card" href="#"><img class="media--icon media--self-center" src="images/svg/icon-comida-bebida.svg" alt="">
                    <div class="media--body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quas neque sunt perspiciatis a pariatur qui ipsam eligendi quae, aliquid optio voluptatibus minus doloremque beatae error autem nostrum nihil sequi.</p>
                    </div>
                    <div class="media--symbol media--self-center"><span class="icon">
                            <svg>
                                <use xlink:href="images/icons/icons.svg#icon-right-arrow"></use>
                            </svg></span></div></a>
            </div>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>
