src/pug/components/modals.pug
//.modal
    .modal--content
        .modal--content__head
            img.modal--icon(src="images/svg/icon-beneficio.svg", alt="")
            a.modal--close(href="!#")
                img(src="images/svg/icon-close.svg", alt="")
        .modal--content__body
            h2.titulo ¿Muchas gracias Luisa! Nos ayudas a mejorar
            .descripcion
                p Hemos recibido tu sugerencia y la tomaremos en cuenta para la creación de nuevos beneficios. Mientras tanto puedes ver otros beneficios.
        .modal--content__footer
            button.btn.btn--default Ir a la Home
            a.btn.btn--link Probar en otra ocasión
.modal
    .modal--dialog.modal--xs.modal--center-icons
        .modal--content
            .modal--head.no--padding
                img.modal--icon(src="images/svg/icon-beneficio.svg", alt="")
                button.modal--close(type="button")
                    img(src="images/svg/icon-close.svg", alt="")
            .modal--body
                .modal--scroll
                    .scroll-content.scroll-xs
                        h2.titulo ¿Muchas gracias Luisa! Nos ayudas a mejorar
                        .descripcion
                            p Hemos recibido tu sugerencia y la tomaremos en cuenta para la creación de nuevos beneficios. Mientras tanto puedes ver otros beneficios.
                            p Hemos recibido tu sugerencia y la tomaremos en cuenta para la creación de nuevos beneficios. Mientras tanto puedes ver otros beneficios.
            .modal--footer
                .modal--buttons
                    button.btn.btn--default.btn--uppercase Ir a la Home
                    a.btn.btn--link Probar en otra ocasión
.backdrop
//- style(type="text/css").

site/modals.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <!--.modal
            .modal--content
                .modal--content__head
                    img.modal--icon(src="images/svg/icon-beneficio.svg", alt="")
                    a.modal--close(href="!#")
                        img(src="images/svg/icon-close.svg", alt="")
                .modal--content__body
                    h2.titulo ¿Muchas gracias Luisa! Nos ayudas a mejorar
                    .descripcion
                        p Hemos recibido tu sugerencia y la tomaremos en cuenta para la creación de nuevos beneficios. Mientras tanto puedes ver otros beneficios.
                .modal--content__footer
                    button.btn.btn--default Ir a la Home
                    a.btn.btn--link Probar en otra ocasión
            -->
            <div class="modal">
                <div class="modal--dialog modal--xs modal--center-icons">
                    <div class="modal--content">
                        <div class="modal--head no--padding"><img class="modal--icon" src="images/svg/icon-beneficio.svg" alt="">
                            <button class="modal--close" type="button"><img src="images/svg/icon-close.svg" alt=""></button>
                        </div>
                        <div class="modal--body">
                            <div class="modal--scroll">
                                <div class="scroll-content scroll-xs">
                                    <h2 class="titulo">¿Muchas gracias Luisa! Nos ayudas a mejorar</h2>
                                    <div class="descripcion">
                                        <p>Hemos recibido tu sugerencia y la tomaremos en cuenta para la creación de nuevos beneficios. Mientras tanto puedes ver otros beneficios.</p>
                                        <p>Hemos recibido tu sugerencia y la tomaremos en cuenta para la creación de nuevos beneficios. Mientras tanto puedes ver otros beneficios.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal--footer">
                            <div class="modal--buttons">
                                <button class="btn btn--default btn--uppercase">Ir a la Home</button><a class="btn btn--link">Probar en otra ocasión</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="backdrop"></div>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>
