site/portada.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <div class="portada">
                <div class="portada--background"><img src="images/fotografia/portada-default.jpg" alt=""></div>
                <div class="portada--content">
                    <div class="container">
                        <div class="portada--content__head"><img class="logo" src="images/fotografia/repsol-detalle.png" alt="">
                            <div class="titulo">Repsol</div>
                        </div>
                        <div class="portada--content__footer">
                            <p class="descripcion">Quedan: <b>50 beneficios.</b></p><img class="icono" src="images/svg/icon-corazon.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="portada">
                <div class="portada--image"><img src="images/fotografia/portada-default.jpg" alt=""></div>
                <div class="portada--box container">
                    <div class="box--head"><img class="logo" src="images/fotografia/repsol-detalle.png" alt="">
                        <h2 class="titulo">Introduce tus <br> códigos</h2>
                    </div>
                    <div class="box--body"><span class="descripcion">Quedan: <b>50 beneficios.</b></span></div>
                    <button class="btn btn--heart"><img class="img-heart" src="images/svg/icon-heart-1.svg" alt=""><img class="img-like" src="images/svg/icon-heart-red.svg" alt=""></button>
                </div>
            </div>
            <hr>
            <div class="portada">
                <div class="portada--image"><img src="images/fotografia/portada-default.jpg" alt=""></div>
                <div class="portada--box container">
                    <div class="box--head"><img class="logo" src="images/fotografia/repsol-detalle.png" alt="">
                        <h2 class="titulo">Introduce tus <br> códigos</h2>
                    </div>
                    <div class="box--body"><span class="descripcion">Quedan: <b>50 beneficios.</b></span></div>
                    <button class="btn btn--heart favorite"><img class="img-heart" src="images/svg/icon-heart-1.svg" alt=""><img class="img-like" src="images/svg/icon-heart-red.svg" alt=""></button>
                </div>
            </div>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>

src/pug/components/portada.pug
.portada
    .portada--background
        img(src="images/fotografia/portada-default.jpg", alt="")
    .portada--content
        .container
            .portada--content__head
                img.logo(src="images/fotografia/repsol-detalle.png", alt="")
                .titulo Repsol
            .portada--content__footer
                p.descripcion Quedan: 
                    b 50 beneficios.
                img.icono(src=iconSVG+'corazon.svg', alt="")
hr
.portada
    .portada--image
        img(src="images/fotografia/portada-default.jpg", alt="")
    .portada--box.container
        .box--head
            img.logo(src="images/fotografia/repsol-detalle.png", alt="")
            h2.titulo Introduce tus #[br] códigos
        .box--body
            span.descripcion Quedan: 
                b 50 beneficios.
        button.btn.btn--heart
            img.img-heart(src=iconSVG+"heart-1.svg", alt="")
            img.img-like(src=iconSVG+"heart-red.svg", alt="")
hr
.portada
    .portada--image
        img(src="images/fotografia/portada-default.jpg", alt="")
    .portada--box.container
        .box--head
            img.logo(src="images/fotografia/repsol-detalle.png", alt="")
            h2.titulo Introduce tus #[br] códigos
        .box--body
            span.descripcion Quedan: 
                b 50 beneficios.
        button.btn.btn--heart.favorite
            img.img-heart(src=iconSVG+"heart-1.svg", alt="")
            img.img-like(src=iconSVG+"heart-red.svg", alt="")
