src/pug/components/table.pug
.container
    table.table
        thead
            tr
                th Item #1
                th Item #2
                th Item #3
                th Item #4
        tbody
            tr
                td Lorem
                td Lorem
                td Lorem
                td Lorem
        
    table.table.table--bordered
        thead
            tr
                th Item #1
                th Item #2
                th Item #3
                th Item #4
        tbody
            tr
                td Lorem
                td Lorem
                td Lorem
                td Lorem
    .table--borde
        table.table
            thead.thead--azure
                tr
                    th Item #1
                    th Item #2
                    th Item #3
                    th Item #4
            tbody
                tr
                    td Lorem
                    td Lorem
                    td Lorem
                    td Lorem
                tr
                    td Lorem
                    td Lorem
                    td Lorem
                    td Lorem

site/table.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Item #1</th>
                            <th>Item #2</th>
                            <th>Item #3</th>
                            <th>Item #4</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Lorem</td>
                            <td>Lorem</td>
                            <td>Lorem</td>
                            <td>Lorem</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table--bordered">
                    <thead>
                        <tr>
                            <th>Item #1</th>
                            <th>Item #2</th>
                            <th>Item #3</th>
                            <th>Item #4</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Lorem</td>
                            <td>Lorem</td>
                            <td>Lorem</td>
                            <td>Lorem</td>
                        </tr>
                    </tbody>
                </table>
                <div class="table--borde">
                    <table class="table">
                        <thead class="thead--azure">
                            <tr>
                                <th>Item #1</th>
                                <th>Item #2</th>
                                <th>Item #3</th>
                                <th>Item #4</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Lorem</td>
                                <td>Lorem</td>
                                <td>Lorem</td>
                                <td>Lorem</td>
                            </tr>
                            <tr>
                                <td>Lorem</td>
                                <td>Lorem</td>
                                <td>Lorem</td>
                                <td>Lorem</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>
