website/tabs.html
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Movistar Prix | Inicio</title>
        <meta charset="utf-8">
        <meta name="description" content="Page description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--link(rel='apple-touch-icon' sizes='180x180' href='images/favicon/apple-touch-icon.png')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-32x32.png' sizes='32x32')-->
        <!--link(rel='icon' type='image/png' href='images/favicon/favicon-16x16.png' sizes='16x16')-->
        <!--link(rel='manifest' href="images/favicon/site.webmanifest")-->
        <!--link(rel='mask-icon' href='images/favicon/safari-pinned-tab.svg' color='#c8102e')-->
        <!--link(rel='shortcut icon' href='images/favicon/favicon.ico')-->
        <!--meta(name='msapplication-config' content='images/favicon/browserconfig.xml')-->
        <!--meta(name='msapplication-TileColor' content='#ffffff')-->
        <!--meta(name='apple-mobile-web-app-status-bar-style' content='#c8102e')-->
        <!--meta(name='theme-color' content='#c8102e')-->
        <!--link(rel='preload' href='fonts/opensans/opensans-regular.woff' as='font' type='font/woff' crossorigin)-->
        <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>
    <body class="site--body">
        <header>
            <h1 class="visually-hidden">Movistar Prix</h1>
        </header>
        <main class="site--wrapper mg--70">
            <section class="tab">
                <ul class="tab--nav">
                    <li class="tab--nav__item"><a class="tab--item__link active" href="!#">Beneficio</a></li>
                    <li class="tab--nav__item"><a class="tab--item__link" href="!#">Sorteos</a></li>
                </ul>
                <div class="tab--content">
                    <div class="tab--pane show">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                    <div class="tab--pane hide">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                </div>
            </section>
        </main>
        <footer></footer>
        <!--script(src='js/main.js')-->
        <!--block other-scripts-->
    </body>
</html>

src/pug/components/tabs.pug
section.tab
    ul.tab--nav
        li.tab--nav__item
            a.tab--item__link.active(href="!#") Beneficio
        li.tab--nav__item
            a.tab--item__link(href="!#") Sorteos
    .tab--content
        .tab--pane.show Lorem ipsum dolor sit amet consectetur adipisicing elit.
        .tab--pane.hide Lorem ipsum dolor sit amet consectetur adipisicing elit.
